[2020-06-17 12:36] monzug opened #460 "Loeb Classics: title added to wordlist"
I just created a new user as part of regression. when switching from one Latin book to an other, I have to double click on the selected book which generates a quick pop-up (barely notable). In wordlist, I can see the title (or part of it) been added with no date. when I double click on it, it does load for ever.
see screenshots:
1) titles added to wordlist with no dates
![historical-added-wordlist

[2020-06-17 12:59] monzug commented on #460
Just to clarify, a single click works to select the book. I am not sure about the missing date to the title in wordlist and that double-clicking on the titles generates a pop-up that loads for ever.

[2020-06-17 13:10] kirlat commented on #459
I think the problem here is that we're relying on `setTimeout()` in determining whether a session has been expired: https://stackoverflow.com/questions/4079115/can-any-desktop-browsers-detect-when-the-computer-resumes-from-sleep.

The issue with using this function is that in majority of browsers it is suspended when computer goes to sleep, and continues to run from where it was before sleep after

[2020-06-17 13:18] balmas commented on #460
I can reproduce. Investigating.

[2020-06-17 13:20] kirlat commented on #458
I have a feeling that internationalization tools and formats are evolving at much slower pace than, say, HTML is. Probably there is not enough driving force behind this area.

[2020-06-17 13:24] kirlat commented on #458
OK, we can use single quotes to escape parts of the message string. They will not be interpreted in this case. With this, our message can be written as
[code]
It is maybe not visually the clearest solution, but it works.

[2020-06-17 13:24] balmas commented on #459
ok, I think this will have to wait until after this release.

I think as we work on adding the amount and types of data we store for users, we will need a more reliable solution for handling session timeouts. I think it needs further thought and investigation. Maybe there is a solution with web workers that we could consider?

[2020-06-17 13:46] balmas commented on #460
Ok, I see why this is happening. It's can happen in the situation where a request to store a new word gets interrupted by a page reload. In this case, the double click on the title starts the storage of a new word, and that gets interrupted when the page switches, so the sequence of saving to remote storage doesn't finish.

This isn't a new issue, but it's now possible to see it more clearly becau

[2020-06-17 13:59] monzug commented on #460
ah, that's why. I didn't think that the reloading was actually interrupting
the process of storing the word. Thanks.

On Wed, Jun 17, 2020 at 9:47 AM Bridget Almas <notifications@github.com>
wrote:

[2020-06-17 14:01] monzug opened #462 "Double click does not work if page language is Chinese in Google docs"
this is a known issue with double-click and chinese in Google docs. Since we aren't officially announcing Chinese support in this release, we will let it go for now.

see also https://github.com/alpheios-project/alpheios-core/issues/361
double click on any chinese words or greek words when page language is chinese.  does not work on Google Docs.
if page language is greek then double click does wor

[2020-06-18 13:51] balmas opened #464 "Lookup button not working in mobile"
reported by @monzug

If you paste or enter a word in the lookup box on mobile and then touch the Lookup button, nothing happens. using the keyboard "Go" or enter succeeds. It seems the handler on the button isn't using the right event.

[2020-06-18 13:54] monzug commented on #464
it does work if I enter a word in lookup, only paste a word does not work on iPhone 11 and XR

[2020-06-18 13:56] balmas commented on #464
it didn't for me though, at least it didn't if the word wasn't long enough to bring up the autocomplete. Once the autocomplete dropdown shows, it suddenly worked.

Maybe it's the autocomplete functionality that is causing the problem then...

[2020-06-18 13:58] monzug commented on #464
it worked for me with oi (no autocomplete)

On Thu, Jun 18, 2020 at 9:57 AM Bridget Almas <notifications@github.com>
wrote:

[2020-06-18 14:12] balmas commented on #464
hmm. not for me on a Samsung Galaxy 7.

But the autocomplete might be a red-herring, turning the it off in options doesn't change anything.

However, interestingly, once I successfully submit the lookup with the 'Go' button on my keyboard, if I leave the lookup box open, I can then use the button to submit additional words. Once I close the box and reopen it though, the problem recurs.

[2020-06-18 14:13] balmas commented on #464
this is similar to a problem I was seeing intermittently on the desktop too -- the initial click on the Lookup button failed, subsequent uses of it succeeded.

[2020-06-18 14:22] kirlat commented on #464
Hmm, I've tested it on my phone on `texts-text.alpheios.net` in Chrome, and I was not able to find any single case when it fails so far. No matter whether I type the word in or select it from a list, it always starts a lookup. Will keep trying.

[2020-06-18 14:23] balmas commented on #464
@kirlat it starts the lookup after a press on the Lookup button?

[2020-06-18 14:23] balmas commented on #464
what if you copy/paste it in, instead of entering it?

[2020-06-18 14:23] kirlat commented on #464
Yes (the orange one with the "Lookup" word on it to be absolutely sure)

[2020-06-18 14:26] kirlat commented on #464
If I copy and past it, it does not work for me. But if I type a new word after that, it does.

[2020-06-18 14:27] balmas commented on #464
ok, then that is at least similar to what I am seeing.

[2020-06-18 14:37] monzug commented on #464
yes, same here

On Thu, Jun 18, 2020 at 4:28 PM Bridget Almas <notifications@github.com>
wrote:

[2020-06-18 14:52] monzug commented on #459
today, I logged in to Safari and found a similar scenario. I turned Alpheios on and off and still the wordlist was populated and session was expired. see screenshots
![IMG_4568](https://user-images.githubusercontent.com/41396793/85036034-256e3380-b184-11ea-9bf5-dab4e408cba5.PNG)
![IMG_4566](https://user-images.githubusercontent.com/41396793/85036039-2606ca00-b184-11ea-9a17-08ff3b52fc69.PNG)

[2020-06-18 14:57] monzug commented on #449
today, I logged in to Safari and found a similar scenario. I turned Alpheios on and off and still the wordlist was populated and session was expired. see screenshots
![Screen Shot 2020-06-18 at 4 26 54 PM](https://user-images.githubusercontent.com/41396793/85036420-6d8d5600-b184-11ea-829b-d5209ae77e49.png)
![Screen Shot 2020-06-18 at 4 27 15 PM](https://user-images.githubusercontent.com/41396793/8

[2020-06-18 15:08] kirlat commented on #464
I've tested it and I think it is an autocomplete problem. It emits a `updateLookupText` event when text in a lookup changes. This triggers an update of a lookup text in a model. This event, however, is not triggered when text is copied into the lookup text field. As a result, text field is empty, and a lookup is not triggered.

Will think about how to fix it in a least invasive way possible.

[2020-06-18 17:36] balmas opened #466 "popup-resize display in options"
reported by @monzug

there is some css bleeding for the display of the popup-resizing widget in the options tab

![Screen Shot 2020-06-18 at 7 04 47 PM](https://user-images.githubusercontent.com/644870/85053560-b2a38f00-b168-11ea-9f89-e1f874639d32.png)

(that's at scaife.perseus.org)

[2020-06-18 17:37] balmas commented on #466
@kirlat could you look at how hard this would be to fix?

At the same time, could you also see if it would be easy to hide this from the options tab when the user is on a mobile device?

[2020-06-18 17:49] balmas opened #467 "remove landscape-view notification for the diagram panel on mobile"
@monzug is finding that the treebank display with the new arethusa/treebank template integration looks better in portrait than landscape on mobile, so we should remove that notification.

[2020-06-18 19:09] balmas opened #469 "css bleeding in lookup box for betacode input help"
reported by @monzug

this is on scaife.perseus.org

![Screen Shot 2020-06-18 at 4 49 17 PM](https://user-images.githubusercontent.com/644870/85061917-95c18880-b175-11ea-8bfa-73ed46e34294.png)

[2020-06-18 20:51] balmas commented on #467
Alpheios Reading Tools 3.3.0 build 20200618501
Alpheios Components 3.3.0-20200618494

@monzug please test with the release candidate build at

https://github.com/alpheios-project/webextension/releases/download/20200618501/dist.zip

[2020-06-18 20:51] #467 closed

[2020-06-18 20:52] balmas commented on #466
Alpheios Reading Tools 3.3.0 build 20200618501
Alpheios Components 3.3.0-20200618494

@monzug please test with the release candidate build at

https://github.com/alpheios-project/webextension/releases/download/20200618501/dist.zip

[2020-06-18 20:52] #466 closed

[2020-06-18 20:52] balmas commented on #464
Alpheios Reading Tools 3.3.0 build 20200618501
Alpheios Components 3.3.0-20200618494

@monzug please test with the release candidate build at

https://github.com/alpheios-project/webextension/releases/download/20200618501/dist.zip

[2020-06-18 20:52] #464 closed

[2020-06-19 12:33] monzug commented on #467
message is not longer generated. tested on iphone XR

[2020-06-19 12:39] monzug commented on #464
it works now. Thanks!

[2020-06-19 12:47] monzug commented on #466
fixed.
![Screen Shot 2020-06-19 at 2 46 44 PM](https://user-images.githubusercontent.com/41396793/85133885-d5eb3e80-b23b-11ea-9c47-16218af1f38e.png)

[2020-06-19 17:56] kirlat opened #471 "Vue 3 upgrade"
I've tried to upgrade components to use Vue 3 and I would like to share my findings.

The Vue code requires some changes, but those are mostly minimal. `Vue.extend()` does not exist any more, but, for our purposes, we can probably replace it with `createApp()` (this is how a root Vue instance, now called `App`, is created in Vue 3). Instead of `Vue.nextTick()` we have to use `nextTick()`, a functi

[2020-06-21 12:04] monzug commented on #448
I was able to reproduce this issue again, FF 77 on Mac
1) cannot check the checkboxes
![Screen Shot 2020-06-21 at 1 58 33 PM](https://user-images.githubusercontent.com/41396793/85224072-e8927e80-b3c7-11ea-9473-4f6c6e2c299a.png)
2) user's options (Chinese as page language and mouse movement on)
![Screen Shot 2020-06-21 at 1 58 12 PM](https://user-images.githubusercontent.com/41396793/85224074-eaf4d

[2020-06-21 12:08] monzug commented on #449
FF 77 on Mac. logged out from user test, wordlist is still populated
 Alpheios Reading Tools 3.3.0 build qa.20200618484
Alpheios Components 3.3.0-qa.20200618482

[2020-06-21 13:27] monzug commented on #416
user error

[2020-06-22 01:41] irina060981 commented on #471
I believe that v-model here is redundant, it is not used and it could be simply removed.
I think that it was to remove on previous steps of logic update.

[2020-06-22 11:42] kirlat commented on #449
I've tried it with the latest QA build of webextension in Firefox 77.0.1 on mac, on Loebclassics (don't know if the webstie matters or not) and I was not able to reproduce it so far. When I log out, the wordlist tab closes. Tested it logging with both Apple ID and the "regular" (username and password) account, and it worked in both cases.

Did you have any test details different from my test case?

[2020-06-22 11:50] balmas commented on #471
is an upgrade to Vue 3 required to support web components, if we want to do so?

[2020-06-22 11:59] monzug commented on #449
nope, unfortunately. I tried to find a reproducible scenario but not able to.

[2020-06-22 12:01] balmas commented on #449
The most likely cause to me so far was a scenario where a large wordlist was still loading when the logout occurred.

[2020-06-22 12:09] monzug commented on #449
as Bridget said this is the closest thing to a reproducible scenario:
could it be that I have a huge wordlist that takes some times to load and
that when I am done with the testing and I log out, the wordlist actually
is still loading some section? that would explain the only syriac words in
wordlist...

[2020-06-22 12:54] irina060981 opened #472 "Lookup bug for Gez (from Selenium testing)"
We have a reproducable bug for Gez lookup (it is firefox)

steps of the test:
   - open lookup box
   - choose gez in language select
   - type word  - ወጠይቅ
   - click lookup

it will show first a right popup

![image](https://user-images.githubusercontent.com/12377640/85289356-aa39b400-b4da-11ea-8026-92b81ac292a8.png)

and then will change it in a second
(with lookup progress bar - so it is a new

[2020-06-22 12:54] irina060981 commented on #472
@balmas , I assigned to you only for notification

[2020-06-22 13:05] irina060981 opened #473 "Extension (for embed-lib) loads to slow on mobile (from Selenium testing)"
Sometimes even on the latest versions of mobile phones our extension are loaded to long.
As per discussion on the meeting:
  - may be we shoould split the code to modules and upload them by demand
  - may be we should create some specific mobile versions and limit the features

@balmas and @kirlat, feel free to add here your thoughts in future

[2020-06-22 13:23] kirlat commented on #448
With mousemove on, I've seen some quirks with the mouse behavior within a panel, but those mostly were related to the rapid change of the cursor pointer shape in a couple of areas. Also, cursor movements were a little jerky sometimes. I was not able to find any issues with the cursor functionality so far, though. I was always able to check or uncheck the checkboxes successfully.

[2020-06-22 15:10] kirlat commented on #471
No, I think we can use web components with Vue 2 without any issues.

[2020-06-23 14:02] monzug commented on #205
tested in release, Chrome on Mac
I was able to move the pop-up out of the visible screen. it come back up only by reloading the page. see screeshot

[2020-06-24 12:12] balmas opened #476 "Edge: formatting issues with tree"
@rgorman reports that the credits link appears in the middle of the tree diagram panel on Edge

![image001](https://user-images.githubusercontent.com/644870/85553819-54582f80-b5f2-11ea-9e25-72bd638a8761.png)

[2020-06-24 15:12] monzug opened #478 "Remove Dual and Plural from Greek noun tables"
Dual and Plural should not be repeated in the Greek noun tables. we should keep only one dual for nominative, accusative, vocative and one plural for nominative, vocative.
![Screen Shot 2020-06-19 at 3 32 48 PM](https://user-images.githubusercontent.com/41396793/85582443-ba1dd900-b63d-11ea-9172-f44b822eff33.png)

[2020-06-25 11:46] monzug commented on #56
test cases in https://github.com/alpheios-project/alpheios-core/issues/66

[2020-06-29 12:38] monzug commented on #26
we do have the infinitive and imperative in the forms.csv file for irregular verbs. I can copy these information and create a separate file as for participle and supine. @balmas, from your side which one is easier to implement: extract the infinitive and imperative from the big file or from a separate file such as for participle and supine?

[2020-06-29 14:13] monzug commented on #65
Smyth section 703 page 200.   see also issue https://github.com/alpheios-project/morpheus/issues/7

the pluperfect endings should be updated/added accordingly to following table

Perfect | Pluperfect | Subjunctive
-- | -- | --
δέδοικα                            or                              δέδια | ἐδεδοικη                            or                              ἐδεδίη | δεδίω

[2020-06-30 11:44] balmas commented on #26
I think the latter, separate files as for participle and supine, would be easiest. thanks!

[2020-06-30 12:52] monzug commented on #26
Great. will do asap.

[2020-06-30 14:15] balmas opened #482 "refactoring mousemove event"
I am not sure. I agree it's not the time to do refactoring right now, but I think the main problem with the mousemove event is that it wasn't handled as just another valid value for the textQueryTriggerDesktop option. I think initially there was some confusion about how it should be implemented - i.e. it was done first only for chinese, and when I decided it should apply to all languages, it shoul

[2020-06-30 14:16] balmas commented on #482
@kirlat this is the discussion I was referring to related to the mousemove event. It's a little less detailed than I remembered

[2020-06-30 15:00] kirlat commented on #482
Oh, I did not think about this approach because I was tied to the existing solution, but I think this suggestion is simpler and better overall. I will try to make a Selection Controller to follow this.

[2020-06-30 15:10] monzug commented on #26
imperative and infinitive tables have been uploaded in github

[2020-06-30 17:47] balmas opened #484 "ability to use Treebank data for disamibugation only"
requested by @nevenjovanovic

a project I did with students included using Perseids only to disambiguate
parses and lemmatizations, without creating treebanks. Is there a
possibility to say to Alpheios that I have disambiguations (in the ALDT
format), but no treebanks? That is, to show just the disambiguation
symbol, but not the diagram symbol?

This could be pedagogically useful because at the ea

[2020-06-30 17:48] balmas commented on #484
this should be doable. it might require a new API call to Arethusa to query whether or not any relations have been defined for a sentence.

[2020-07-01 13:12] monzug commented on #49
added inquam to imperative and verb irregular

[2020-07-01 13:13] monzug commented on #410
added with footnotes for the uncommon endings

[2020-07-01 13:13] #410 closed

[2020-07-01 13:36] monzug opened #485 "add more defective verbs"
related to issue #49
there are two verbs that we should add to the irregular table: aio and fari.
all grammars have these two verbs + inquam as defective verbs who are missing some forms. Then we have other defective verbs such as coepi, odi, memini

[2020-07-01 14:02] monzug commented on #47
can't find any table for odeo in any grammars... will use adeo as a base and check the ending in whitaker

[2020-07-01 14:35] monzug commented on #47
added infinitive, imperative and irregular verb to forms.csv

[2020-07-01 14:54] monzug commented on #50
venitus is definitely missing from https://github.com/alpheios-project/alpheios-core/blob/monzug-patch-1/packages/inflection-tables/lib/lang/latin/data/participle/forms.csv

[2020-07-02 14:17] monzug commented on #50
Some grammar do not have the passive forms for the verb eo as it's intransitive, but in some grammars  we have itus as perfect participle. I added it  to the table but I wouldn't mind include a footnote. same for venitus - what do you think @balmas?

[2020-07-02 14:29] balmas commented on #50
a footnote sounds like a good idea

[2020-07-02 15:38] monzug commented on #50
will add a footnote. Thanks!!!!

[2020-07-02 16:06] monzug commented on #50
footnotes added

[2020-07-07 14:46] monzug commented on #28
a general table for the comparative and one general for the superlative have been added. need to investigate if footnotes need to be added. in Whitaker comparative and superlative are added next to the case, sometimes.

[2020-07-08 13:59] monzug commented on #28
footnotes added for comparative and superlative tables.

[2020-07-08 14:31] monzug commented on #29
let's leave as is. it's controversial so let's embrace the Allen and Greenough's and Bennett's grammars.

[2020-07-08 14:31] #29 closed

[2020-07-16 14:37] kirlat opened #490 "JS 2020+ Features"
There are some interesting new features added to the JS standard recently: https://github.com/tc39/proposals/blob/master/finished-proposals.md. [Nullish Coalescing](https://github.com/tc39/proposal-nullish-coalescing) and [Optional Chaining](https://github.com/tc39/proposal-optional-chaining) in particular may come in handy. They are implemented by all major browsers:
https://caniuse.com/#feat=mdn

[2020-07-20 19:27] balmas commented on #86
Related to this, it would be good to be able to navigate through a history of lookups.

[2020-07-23 13:24] balmas opened #491 "normalization of zero-width joiners in persian script (and maybe arabic)?"
Reported by @MatthewThomasMiller

zero-width joiners create problems for some Persian lookups.

[2020-07-23 13:25] balmas commented on #491
It's possible that this could be easily solved by using the Unicode NFC normalization.

@MatthewThomasMiller could you give me a few examples of some words that demonstrate the problem?

[2020-07-23 13:27] balmas opened #492 "Persian - verb lookup issues"
Reported by @MatthewThomasMiller

verb lookups are not working well.

[2020-07-23 13:28] balmas opened #493 "Persian - pluras"
reported by @MatthewThomasMiller

The persian lookup has problems with plurals

[2020-07-23 13:29] balmas commented on #493
@MatthewThomasMiller can you provide a few examples?

[2020-07-23 13:29] balmas commented on #492
@MatthewThomasMiller can you provide a few examples?

[2020-07-23 13:31] balmas commented on #86
I believe multiple popups (and possibly other components like the treebank diagram) are going to be required for the alignment editor.

@kirlat I'm assigning this to you because I think we need to start working on it and it should be considered in the requirements for the lexical query refactoring (alpheios-project/documentation#33)

[2020-07-23 13:55] MatthewThomasMiller commented on #493
what would be the best way to provide examples? screenshots? or something else?

[2020-07-23 14:02] balmas commented on #493
Could you supply the text of a couple of words that aren't parsing properly and what you think the correct results should be?  If you have the URL of the page you are testing on that would also be helpful. Thank you!!

[2020-07-24 16:33] balmas commented on #47
The table should be there for matching in qa.20200723472 but it still needs to be added to the inflection browser.

[2020-07-24 16:34] balmas commented on #49
The main irregular table should be there for matching in qa.20200723472, still needs to be added to the inflection browser
(and infinitive/imperative are not yet available)

[2020-07-24 16:34] balmas commented on #50
this should be testable in qa.20200723472

[2020-07-24 20:51] MatthewThomasMiller commented on #491
examples (from: https://ganjoor.net/hafez/ghazal/sh1/ ):

مشکل‌ها
دل‌ها

Zero-width non-joiner in these two words causes one word to be read as two. The letters at the end of the word, after the ZWNJ, are the plural marker (-ha) (one of a few ways of making Persian nouns plural)

[2020-07-24 20:58] MatthewThomasMiller commented on #493
Sometimes Persian plural are identified correctly if they appear in the dictionary, but not all do. My impressionistic sense, from just trying a few examples, is that often Arabic plurals (in Persian) appear in the dictionary, but nouns with the standard Persian plural suffixes (-ha, -an) do not.

Example of Arabic Plural that is identified correctly: عشاق (source: https://ganjoor.net/hafez/ghazal

[2020-07-24 21:07] MatthewThomasMiller commented on #492
Ex 1 of verbs not be looked up:

غلط مکن (source: https://ganjoor.net/hafez/ghazal/sh6/)

First verb is a compound verb consisting of two elements—"ghalat" and "makon." Currently looks up both words, but doesn't understand them together and misidentifies "makon" as a noun instead of a negative imperative form of verb "kardan."

Ex 2:

نمی‌نشستی (source: https://ganjoor.net/hafez/ghazal/sh435/)

Is

[2020-08-03 11:52] #478 closed

[2020-08-03 13:43] monzug commented on #50
I do not see the footnotes 17 that I have added in https://github.com/alpheios-project/alpheios-core/blob/monzug-patch-1/packages/inflection-tables/lib/lang/latin/data/participle/form_footnotes.csv

did I miss any step here?

see attachment
![itus](https://user-images.githubusercontent.com/41396793/89189278-c1ee6880-d56d-11ea-8af7-720e57e8b55e.JPG)

[2020-08-03 13:48] balmas commented on #50
It turned out that the footnotes hadn't been merged with this build. They'll be there with the next.

[2020-08-03 14:05] monzug commented on #50
cool. Thanks

On Mon, Aug 3, 2020 at 9:48 AM Bridget Almas <notifications@github.com>
wrote:

[2020-08-03 14:19] balmas commented on #50
Alpheios Reading Tools 3.3.1 build qa.20200803307
Alpheios Components 3.3.0-qa.20200803296

[2020-08-03 14:19] #50 closed

[2020-08-03 14:19] balmas commented on #478
Alpheios Reading Tools 3.3.1 build qa.20200803307
Alpheios Components 3.3.0-qa.20200803296

[2020-08-03 14:20] balmas commented on #28
Alpheios Reading Tools 3.3.1 build qa.20200803307
Alpheios Components 3.3.0-qa.20200803296

[2020-08-03 14:20] balmas commented on #47
now it's in the browser.

Alpheios Reading Tools 3.3.1 build qa.20200803307
Alpheios Components 3.3.0-qa.20200803296

[2020-08-03 14:21] balmas commented on #49
Now it's in the browser.

Alpheios Reading Tools 3.3.1 build qa.20200803307
Alpheios Components 3.3.0-qa.20200803296

[2020-08-03 14:21] balmas commented on #26
Alpheios Reading Tools 3.3.1 build qa.20200803307
Alpheios Components 3.3.0-qa.20200803296

[2020-08-03 19:29] balmas opened #499 "do a better job detecting language of selected text"
It should be possible to do a much better job than we do now of identifying the language of the underlying selected text.

[2020-08-04 12:48] monzug commented on #49
tested in build  Alpheios Reading Tools 3.3.1 build null.20200803479
Alpheios Components 3.3.0-qa.20200803296

the table has been added to the Latin Inflection table but if I lookup for inquit the table is missing. see screenshot

![inquit](https://user-images.githubusercontent.com/41396793/89295538-2b827b80-d62f-11ea-820d-1de47dd7e79a.JPG)

[2020-08-04 13:00] monzug commented on #47
there is a problem with the passive irregular verbs, we are missing the voice from the inflection table. The passive forms are merged with the active ones. e.g. fero, odeo, adeo.

[2020-08-04 13:04] monzug commented on #478
this has been fixed in  Alpheios Reading Tools 3.3.1 build null.20200803479
Alpheios Components 3.3.0-qa.20200803296

[2020-08-04 13:09] monzug commented on #50
footnotes 17 is there!!!

[2020-08-04 15:04] monzug commented on #28
@balmas, the comparative table does only display the neuter gender. Could it be that I added the feminine masculine both in the same line under gender? if this is the reason, should I repeat the line for feminine and then for masculine?

[2020-08-04 15:07] balmas commented on #28
hmm. no it should work the way it is in the data file. It could be a problem with how I've setup the view. I'll take a look. thanks!

[2020-08-04 15:41] monzug commented on #26
1) We are missing the singular and plural from the imperative irregular  (see fer and ferte, they are on the same column)
2) the drop-down says verb-imperative-irregular-voice,  also for the infinitive for some verbs. why voice? see  adiri  vs  ivisse
could it be because one verb has also the passive?

[2020-08-04 18:06] balmas commented on #49
@monzug this is because Whitakers says the lemma is "inquiam" not "inquam". I will change the data accordingly, although it's a little weird since looking up inquiam produces no results.

[2020-08-04 21:39] balmas commented on #49
Alpheios Reading Tools 3.3.1 build qa.20200804636
Alpheios Components 3.3.0-qa.20200804505

[2020-08-04 21:40] balmas commented on #47
Alpheios Reading Tools 3.3.1 build qa.20200804636
Alpheios Components 3.3.0-qa.20200804505

The tables for fero and adeo were correct, as far as I can tell, but odeo was missing the voice.

[2020-08-04 21:41] balmas commented on #28
Yes, was a mistake in the view setup. Should be fixed now.

Alpheios Reading Tools 3.3.1 build qa.20200804636
Alpheios Components 3.3.0-qa.20200804505

[2020-08-04 21:41] #28 closed

[2020-08-04 21:43] balmas commented on #26
Alpheios Reading Tools 3.3.1 build qa.20200804636
Alpheios Components 3.3.0-qa.20200804505

I added the person and number to the imperative irregular tables.

Re the 2nd question, this is because we have 2 distinct sets of views for the irregular verbs -- some of them have a voice column and some do not.  We need to have a different name for them in the code and that's what we came up with.

Can y

[2020-08-05 12:49] monzug commented on #47
the voice for odeo, fero and adeo is still missing in the browse inflection tables.
see screenshot
![voice-missing](https://user-images.githubusercontent.com/41396793/89414503-80d68f80-d6f8-11ea-9c91-3edd47943707.JPG)

[2020-08-05 13:01] monzug commented on #49
right, inquiam produces no result...
there is one more thing: inquam does not have participle, infinitive or imperative. why do we show the mood with no content for the imperative and infinitive, and the table has not been implemented yet for the participle?

![inquit-no table](https://user-images.githubusercontent.com/41396793/89415665-2c341400-d6fa-11ea-917c-14f4ea7fc57a.JPG)

[2020-08-05 13:33] monzug commented on #26
all verbs reported in this issue have a match in the imperative or infinitive irregular table.

as per the use of voice in the irregular infinitive/imperative verb, I would rather not add it. if this is not possible due to code constraint, I would add +passive voice.

not sure if this is the right time to suggest a little improvement in the verbs drop-down. see esse: it's verb participle and irreg

[2020-08-05 14:00] monzug opened #501 "not match for afore-> future infinitive active for absum"
Whitaker is missing the information about the verb absum. we do not have a match because alpheios looks for afore as verb and not absum
Is there anything that can be done to fix this from our side?

[2020-08-05 14:22] monzug opened #502 "FF: lookup for venisse or venire generates the yellow message"
see screenshot
![yellow-message-FF](https://user-images.githubusercontent.com/41396793/89424130-648d1f80-d705-11ea-981d-61f616220f3a.JPG)

Alpheios Reading Tools 3.3.1 build qa.20200804636
Alpheios Components 3.3.0-qa.20200804505

FF 78.0.2

[2020-08-05 14:26] monzug commented on #502
also odire, odisse

[2020-08-05 14:34] monzug commented on #49
the imperative inque and inquito shows an empty inflection table with only mood.

[2020-08-05 18:02] #484 closed

[2020-08-05 19:20] balmas commented on #47
oh! I missed that it was in the browse inflection tables. sorry!

[2020-08-05 19:28] monzug commented on #47
the voice was missing in both. now it's only missing in the browse inflection tables.

[2020-08-05 19:32] balmas opened #504 "improve order of tables in verb drop-down"
not sure if this is the right time to suggest a little improvement in the verbs drop-down. see esse: it's verb participle and irregular infinitive. first we have verb participle  and verb, if I select verb, I have infinitive, then verb-irregular, then verb-irregular-infinitive and then all the others. would it be possible at least to have in the verb drop-down, infinitive irregular first, then ver

[2020-08-05 19:33] balmas commented on #504
I'll investigate how much work this would be.

[2020-08-05 19:38] balmas commented on #26
I will make that change.

[2020-08-05 19:38] balmas commented on #26
I've made a new issue for this. I'm not sure how hard or easy it will be but I will look into it.

[2020-08-05 20:01] balmas commented on #26
Turns out I *can* change the name and title of these views to just say irregular and drop the reference to voice. So I've done that. Will be in the next build.

[2020-08-06 07:16] monzug commented on #26
Fantastic. Thanks

On Wed, Aug 5, 2020 at 4:01 PM Bridget Almas <notifications@github.com>
wrote:

[2020-08-06 12:24] balmas commented on #49
@monzug we don't have any imperative of infinitive forms in the data for inquiam. Are there valid forms of it? If so, can you add them to the verb/irregular/forms.csv (NOTE -- I ended up using the forms.csv as the source for the infinitive and imperative, rather than the separate files, because they were already in there and it works fine that way)

[2020-08-06 12:27] balmas commented on #502
is it just the new tables, or all of them?

[2020-08-06 13:01] monzug commented on #49
infinitive is empty for inquam (that's why is inquiam -_-_-), imperative is missing from forms.csv. I will add them. where can I find a copy of the only infinitive and imperative irregular files?

[2020-08-06 13:11] balmas commented on #49
We don't have them anymore, just add the imperative to the irregular forms.csv

[2020-08-06 13:12] monzug commented on #49
I found them in github. will add the imperative

[2020-08-06 13:19] monzug commented on #49
inquam forms were in the July 1st imperative table, see lines

veneo,venire_venivi(ii)_venitus,vēneuntō,active,imperative,future,plural,3rd,
inquam,-_-_-,inque,,imperative,present,singular,2nd,16
inquam,-_-_-,inquitō,,imperative,present,plural,2nd,16
odeo,odire_odivi(ii)_-,odī,active,imperative,present,singular,2nd,
odeo,odire_odivi(ii)_-,odīte,active,imperative,present,plural,2nd,
odeo,odire_odiv

[2020-08-06 13:21] balmas commented on #49
ah, sorry I missed that when I went back to using the forms.csv . I looked for it just now but didn't find that.

I can go ahead and add them to the main forms.csv if you want.

[2020-08-06 13:27] monzug commented on #49
I can easily do that. will check if we are missing other forms.

On Thu, Aug 6, 2020 at 9:21 AM Bridget Almas <notifications@github.com>
wrote:

[2020-08-06 13:35] monzug commented on #49
added to forms.csv.

[2020-08-06 13:35] #49 closed

[2020-08-06 13:38] balmas commented on #49
thanks!

[2020-08-06 13:51] monzug commented on #49
No problem. Need to check all the entries for the imperative

On Thu, Aug 6, 2020 at 9:38 AM Bridget Almas <notifications@github.com>
wrote:

[2020-08-06 15:13] monzug commented on #502
actually it did happen only after stressing the system with many lookup for the infinitive verbs and venisse etc were the last to test. I did try first thing today and I did not get the yellow message.

[2020-08-07 11:50] #504 closed

[2020-08-07 11:52] balmas opened #507 "resize treebank frame with resize of panel"
user report from @rgorman

Is it possible to resize the treebank iframe when the panel resizes?

[2020-08-07 11:54] balmas commented on #507
@kirlat can I ask you to interrupt what you're doing to take a quick look at this one? I think it would probably be quick for you to fix.

![Screenshot from 2020-08-07 07-54-04](https://user-images.githubusercontent.com/644870/89643161-2f0e4080-d883-11ea-9ae0-83c82db62c72.png)

[2020-08-07 12:13] kirlat commented on #507
Sure, I will check it

[2020-08-07 12:41] balmas commented on #49
should be fixed in
webextension qa.20200807379
components qa.20200807247

[2020-08-07 12:42] balmas commented on #504
order in the dropdown should be fixed in
webextension qa.20200807379
components qa.20200807247

[2020-08-07 12:42] balmas commented on #26
should be fixed in
webextension qa.20200807379
components qa.20200807247

[2020-08-07 12:43] balmas commented on #47
should be fixed in
webextension qa.20200807379
components qa.20200807247

[2020-08-07 13:02] monzug commented on #504
verb irregular  (infinitive or imperative or supine or participle) shows up at top of drop-down

[2020-08-07 13:09] monzug commented on #47
still missing th evoice for fero, adeo, odeo in the browse inflection tables

[2020-08-07 13:19] balmas commented on #47
that's weird. My commit seems to have gotten lost :-( will fix again

[2020-08-07 13:22] monzug commented on #49
@balmas, are we ok with the two different approaches to empty tables? see inquiam (or inquam). the participle and infinitive are missing but the output is different (the infinitive comes from the forms.csv, participle from the participle forms.csv

![empty-vs-not-implemented](https://user-images.githubusercontent.com/41396793/89649592-08ee9d80-d88f-11ea-911a-3d38191e91f5.JPG)

[2020-08-07 13:25] balmas commented on #484
this can be tested in

Alpheios Embedded Library 3.3.0-qa.20200807266
Alpheios Components 3.3.0-qa.20200807247

At https://alpheios-misc-dev.s3.us-east-2.amazonaws.com/treebank-test-page/test.html

In the user-report tests, with sentence Τοὺς οὖν πρώτους τῶν ἀνθρώπων μηδενὸς τῶν πρὸς βίον χρησίμων εὑρημένου ἐπιπόνως διάγειν , γυμνοὺς μὲν ἐσθῆτος ὄντας , οἰκήσεως δὲ καὶ πυρὸς ἀήθεις , τροφῆς δ’ ἡμέ

[2020-08-07 13:28] monzug commented on #26
can't see the change though. this is a good example of the used of voice and voice data for adeo. we have irregular (active and passive voice), irregular with voice data (active and passive voice), irregular with voice (active and passive voice)
see screenshots
![adeo-voice-data](https://user-images.githubusercontent.com/41396793/89650346-49025000-d890-11ea-9831-67fc0f72f4d4.JPG)
![adeo-voice](htt

[2020-08-07 13:31] monzug commented on #47
well, we are in 2020... anything is possible!

On Fri, Aug 7, 2020 at 9:19 AM Bridget Almas <notifications@github.com>
wrote:

[2020-08-07 13:38] balmas commented on #26
sigh, I see that I never actually merged any of these changes. next build...

[2020-08-07 13:49] balmas commented on #49
hmm. I should probably look at why there is the difference in behavior.

[2020-08-07 19:48] balmas commented on #47
trying again...

Alpheios Reading Tools 3.3.1 build qa.20200807525
Alpheios Components 3.3.0-qa.20200807377

[2020-08-07 19:48] #47 closed

[2020-08-07 19:49] balmas commented on #507
Alpheios Reading Tools 3.3.1 build qa.20200807525
Alpheios Components 3.3.0-qa.20200807377

[2020-08-07 19:50] balmas commented on #26
Alpheios Reading Tools 3.3.1 build qa.20200807525
Alpheios Components 3.3.0-qa.20200807377

[2020-08-07 19:50] #26 closed

[2020-08-07 19:58] balmas commented on #507
@monzug please test with a variety of trees and window/panel sizes using the texts-test.alpheios.net treebanked texts. Thanks!  Please also be sure to test on mobile.

[2020-08-10 13:10] monzug commented on #47
this is fixed in   Alpheios Reading Tools 3.3.1 build qa.20200807525
Alpheios Components 3.3.0-qa.20200807377

[2020-08-10 13:35] monzug commented on #26
yes! adeo has only irregular verbs in the inflection tables.

[2020-08-10 13:56] monzug commented on #484
I see the tooltip with disambiguation with trrebank data. the toolbar button is gone but I do not have any other way to open the diagram. how am I supposed to open the diagram?
tested in chrome and FF on PC, build   Alpheios Embedded Library 3.3.0-qa.20200807266
Alpheios Components 3.3.0-qa.20200807377

[2020-08-10 14:03] balmas commented on #484
That's the point -- the diagrams are disabled because in fact in this data set no relationships between words have been annotated only the morphology. So the diagram would be empty if you opened it.

[2020-08-10 14:05] monzug commented on #484
ok. I was rewriting the sentence to check if this was the point. Thanks

[2020-08-10 14:19] monzug commented on #507
on mobile the  diagram fits the screen and the panel, so there is not resize of diagram/panel.

[2020-08-10 14:30] monzug commented on #507
in Chrome,  when enlarging the panel, sometimes I loose the pop-up (the mouse goes outside the panel area and I loose the focus on the pop-up so it closes). when I reopen the pop-up and the related diagram, the size is much smaller than regular diagram size, see screenshot
![diagram-resizing-panel](https://user-images.githubusercontent.com/41396793/89794081-90891600-daf4-11ea-8580-d3a12391a8d2.JPG

[2020-08-10 15:03] monzug commented on #507
this hasn't been implemented in Safari yet. see screenshot
![Screen Shot 2020-08-10 at 5 02 59 PM](https://user-images.githubusercontent.com/41396793/89797634-6ef75100-db2b-11ea-91c5-c052f225f40e.png)

[2020-08-10 15:13] balmas commented on #507
@kirlat can you investigate the 2 issues Monica found? Thanks!

[2020-08-10 16:48] kirlat commented on #507
@balmas I vaguely remember that we probably had a width of a diagram fixed in order for the Treebank to scale it correctly, but I'm not 100% sure about that. Can you please confirm that there is no requirement for the width of the diagram iframe to be set to a fixed value (if you have that info)?

[2020-08-10 17:15] balmas commented on #507
I think we used have have problems when the width (or the height) was below a certain value. Our comment before said

[code]

So we might have run into problems with scaling before but I cannot remember the exact details and am not immediately finding anything in the Arethusa code.

But that said, yes you're right the problem with the scaling is actually in Arethusa and not Alpheios. So I will nee

[2020-08-10 17:16] balmas commented on #507
I've made a new issue for the resizing problem (although this could be a combination of Alpheios and Arethusa actually -- i.e. it might be that we need to send another refreshView request after the panel is resized, but I'll look into it)

[2020-08-10 19:26] balmas commented on #49
the difference is because of the part of speech -- the participle table is built off of a different part of speech (verb_participle), for which no matching data is found.  But the infinitive and imperative are built off of the verb part of speech, which does have matching data, just not in this table. I'll enter an issue to track this, although it's not super high priority in my opinion so it may

[2020-08-10 19:27] balmas opened #511 "latin infinitive and imperative tables empty but not unimplemented"
@balmas, are we ok with the two different approaches to empty tables? see inquiam (or inquam). the participle and infinitive are missing but the output is different (the infinitive comes from the forms.csv, participle from the participle forms.csv

![empty-vs-not-implemented](https://user-images.githubusercontent.com/41396793/89649592-08ee9d80-d88f-11ea-911a-3d38191e91f5.JPG)

_Originally posted b

[2020-08-10 19:29] balmas commented on #511
the difference is because of the part of speech -- the participle table is built off of a different part of speech (verb_participle), for which no matching data is found. But the infinitive and imperative are built off of the verb part of speech, which does have matching data, just not in this table.

A simple way to fix this might be to change the implementation of the `isAvailable` method in the

[2020-08-10 19:29] balmas commented on #28
@monzug are these tables okay now?

[2020-08-10 20:18] monzug commented on #28
I have tested the comparative and are ok. I still have to finish testing
the superlative

On Mon, Aug 10, 2020 at 3:30 PM Bridget Almas <notifications@github.com>
wrote:

[2020-08-11 12:40] monzug commented on #28
few comments here. @balmas, let me know what you think and if any of this could be implemented:
1) I would remove the "consonant and i " from the Declension Stem in the comparative
2) I would add the big adjective table as we do with the verbs.
3) some superlative and comparative do not have the exact match in the table in the following cases:
- 1st declension adjective, comparative is 3rd declens

[2020-08-11 12:59] kirlat commented on #507
The problem with the incorrect width of a treebank panel in Safari seems to be the conflict with the old version of the Safari App Extension. Whenever an extension is installed and active, it injects its own CSS stylesheets. Those styles has a higher priority than the styles loaded by the webpage.

In the Safari test, texts-test.alpheios.net was defining the width of the panel as 100% in its own s

[2020-08-11 13:09] monzug opened #512 "typo in drop-down for superlative"
there is a typo in the superlative drop-down: it says suplerative but it should be superlative. related to issue #28

![superlative](https://user-images.githubusercontent.com/41396793/89900857-48c8c400-dbb2-11ea-9478-ced21060a4f6.JPG)

[2020-08-11 13:21] monzug opened #513 "9th declension adjective"
I come across an adjective of 9th declension accordingly to Whitaker: nequior  so I do not have any inflection tables icon.
@balmas, is there anything that can be done here?

![adjective-declension-9](https://user-images.githubusercontent.com/41396793/89901931-cf31d580-dbb3-11ea-9f21-a4d58bec8051.JPG)

[2020-08-11 13:39] monzug commented on #507
Yes.  @kirlat, for future references, should I always disable the extension
when testing new features in text env? Thanks

On Tue, Aug 11, 2020 at 9:00 AM kirlat <notifications@github.com> wrote:

[2020-08-11 13:46] kirlat commented on #507
I think it would make sense to always have the extension disabled while testing in the text environment. In my understanding they're not supposed to be used together. @balmas, what do you think?

[2020-08-11 13:49] monzug opened #514 "Missing ending in the superlative table for some irregular adjectives"
Irregular adjectives, such as optimus, pessimus, dextimus, citimus, extremus, supremus, do not have a match in the superlative adjective table.
Should I add the ending mus, ma, mum to the table? in Whitaker, we have the mus, ma, mum endings but in Bennett the ending is imus. Need to check more grammars.
related to issue #28

[2020-08-11 14:16] balmas commented on #507
well, I think we would like people to be able to have the extension installed and use the texts environment.  The extension should be automatically deactivated on a page with the embedded library and it would be better if it didn't load the stylesheets in the page when it's not activated.  But maybe this will be resolved automatically if we switch to the web extension api compatible architecture i

[2020-08-11 14:47] balmas commented on #514
I'll leave this one up to you @monzug

[2020-08-11 14:49] balmas commented on #513
well, the 9th declension isn't really valid is it? We do map 5th-8th conjugations to the irregular conjugation. But that applies to verbs not adjectives. What should this be?

[2020-08-11 14:50] balmas commented on #512
oops sorry will fix.

[2020-08-11 15:00] balmas commented on #28
This is easy

This is more work but doable

I think it probably does make sense to remove the declension from these tables, since each table only contains 1 declension anyway. It would solve the problem you describe.

[2020-08-11 15:17] monzug commented on #28
THANKS!!!

On Tue, Aug 11, 2020 at 11:01 AM Bridget Almas <notifications@github.com>
wrote:

[2020-08-11 15:20] monzug commented on #513
irregular or defective comparison for sure. Unfortunately I do not have
other examples. will try all the adjectives in the defective chapters to
see if there is any other with 9th declension

On Tue, Aug 11, 2020 at 10:50 AM Bridget Almas <notifications@github.com>
wrote:

[2020-08-11 15:21] monzug commented on #514
miss the Spilimbergo library!!!!!

On Tue, Aug 11, 2020 at 10:47 AM Bridget Almas <notifications@github.com>
wrote:

[2020-08-12 11:54] balmas opened #517 "refactor inflection view createTable"
suggested by @irina060981 in #515

consider refactoring createTable method in views to reduce duplicate code and increase readability.
We could do this with passing features names the following way:
add a method constructTable with arguments:
{ tableFeatures, columsFeatures, rowsFeatures, rowTitles, fullWidthRowTitles}

[2020-08-12 11:54] #512 closed

[2020-08-12 13:08] monzug commented on #513
Whitaker added the 9th declension for all the adjective that are indeclinable. see note 122.b from Allen and Greenough's grammar:
A few adjectives are indeclinable.

damnās
frūgī (Dative of Service, see § 382.1, Note 2)
nēquam (originally an adverb)
necesse
tot, quot, aliquot, totidem (pronominal forms)

Potis is often used as an indeclinable adjective, but sometimes has pote in the neuter.

I wou

[2020-08-12 13:18] monzug commented on #514
after checking few grammars and considering that  "The comparative and superlative are really new stems, and are not strictly to be regarded as forms of inflection." I decided that by adding the  "mus" ending with a footnote, Bennett would not mind...

[2020-08-12 13:35] monzug commented on #514
add footnotes 4 and endings in the superlative

[2020-08-12 14:03] monzug opened #521 "Latin adjectives with no declension"
In Whitaker, some SUPER adjectives such as postumus do not have the declension because they came from prepositions. Also we should remove the 9th declension from the list of adjectives from issue #513, so we will have few comparative and superlative with no declension. Will they still have a match in the comparative and superlative tables? I see that the declension field is populated by 1st 2nd an

[2020-08-12 14:12] monzug commented on #289
to retest in regression

[2020-08-12 14:13] monzug commented on #399
to retest in regression

[2020-08-12 14:20] balmas commented on #513
so, should it be NO declension? or one of the existing ones 1st 2nd 3rd ? With no declension we may not get the table.

[2020-08-12 14:22] balmas commented on #521
I would have to make further changes to allow an empty declension value to work. I took the shortcut of using 1st 2nd 3rd to keep the code changes low.  But if there are many of these then perhaps it's worth it.

[2020-08-12 14:27] monzug commented on #513
argh. should not have the declension

On Wed, Aug 12, 2020 at 10:20 AM Bridget Almas <notifications@github.com>
wrote:

[2020-08-12 14:29] monzug commented on #521
they are not that many. I believe most of the irregular comparative
adjectives

On Wed, Aug 12, 2020 at 10:22 AM Bridget Almas <notifications@github.com>
wrote:

[2020-08-12 14:33] balmas commented on #521
well, it's probably doable anyway. I'll take a look.

[2020-08-12 14:40] monzug commented on #521
Thanks

On Wed, Aug 12, 2020 at 10:33 AM Bridget Almas <notifications@github.com>
wrote:

[2020-08-12 15:35] balmas commented on #513
I think this one might have to wait for the ability to override morphology. Because not only does Whitaker report it as 9th declension, it also does not report it as superlative. I don't think for #521 we want to remove the check on declension for the adjectives as a whole, only the comparatives and superlatives, right? So just removing the 9th declension isn't going to help us here.

I think supp

[2020-08-12 15:38] #507 closed

[2020-08-12 15:39] balmas commented on #507
@monzug so I think we can verify this one as it is?

[2020-08-12 16:25] monzug commented on #507
yes. done.

On Wed, Aug 12, 2020 at 11:39 AM Bridget Almas <notifications@github.com>
wrote:

[2020-08-12 16:31] monzug commented on #513
nequissimus does say super in the short definition. you are right that Whitaker does not add any super to it!

![nequissimus](https://user-images.githubusercontent.com/41396793/90041489-5ad06280-dc97-11ea-86ed-29a79ea6d219.JPG)

[2020-08-12 16:35] #521 closed

[2020-08-12 18:05] balmas commented on #521
Components qa.20200812380

[2020-08-12 18:06] balmas commented on #512
Components qa.20200812380

[2020-08-12 18:07] #514 closed

[2020-08-12 18:07] balmas commented on #514
Components qa.20200812380

[2020-08-12 18:37] balmas opened #523 "add platform to app controller api"
We code in the embedded library which references the app controller's `platform` object.  The move of this to a private object in the AppController broke the embedded library reference.

I think we should probably add retrieval of the platform to the AppController api.

[2020-08-13 12:45] monzug commented on #512
typo has been fixed in  Alpheios Reading Tools 3.3.1 build qa.20200812526
Alpheios Components 3.3.0-qa.20200812380

[2020-08-13 12:59] monzug commented on #514
footnotes 4 and endings in ma, mus, mum are in the superlative table

[2020-08-13 13:19] monzug opened #525 "matching in the comparative and superlative table for regular adjective"
related to issue #28
Lookup for bona which is a regular type of adjective of the 1st declension, there are some matches in the comparative table too.
see screenshot
![bona-comparative](https://user-images.githubusercontent.com/41396793/90137760-1058ef80-dd44-11ea-8e1f-b042bec8e736.JPG)

would it be possible to do the following:
1) when regular adjective, only the adjective table is generated  (and

[2020-08-13 13:29] balmas commented on #525
oh, I misunderstood about the way you wanted the tables to be linked to the main adjective table.

do you just want the adjective table to appear with the comparative and superlative, but not together with them?

[2020-08-13 13:32] monzug commented on #525
I am ok either way but I do not like to show the matching when there
shouldn't be, e.g. bella

On Thu, Aug 13, 2020 at 9:30 AM Bridget Almas <notifications@github.com>
wrote:

[2020-08-13 14:07] monzug commented on #521
postumus, pessimus, potissimus, intimus, proximus, imus, summus, etc. have a match in the superlative table now.

[2020-08-13 18:01] #525 closed

[2020-08-13 19:28] #523 closed

[2020-08-13 19:29] balmas commented on #525
Alpheios Reading Tools 3.3.1 build qa.20200813582
Alpheios Components 3.3.0-qa.20200813570

[2020-08-14 12:42] monzug commented on #525
Super! thanks
tested in Chrome and FF on PC
build  Alpheios Reading Tools 3.3.1 build qa.20200813582
Alpheios Components 3.3.0-qa.20200813570

[2020-08-19 12:24] balmas opened #529 "css style bleeding on inflection tables unimplemented message"
reported by @monzug

this table hasn't been implemented yet message has very small font in loeb classics, both Chrome and FF/MAC and PC

[2020-08-19 12:35] monzug commented on #529
![Screen Shot 2020-08-18 at 3 40 01 PM](https://user-images.githubusercontent.com/41396793/90635279-45c07a00-e229-11ea-86c3-0f302130e141.png)

[2020-08-19 14:28] monzug commented on #529
in Safari too

[2020-08-19 17:08] monzug opened #530 "limit by this session shows all words saved in wordlist"
Safari App Extension 3.3.1 build qa.20200819448
Alpheios Components 3.3.0-qa.20200813570
I have a slow connection. I signed in with Apple id (with saved id/psw) after only one lookup for esse. I opened the wordlist and limit by this session to check if esse was listed. Instead I got all words in the wordlist listed by this session (esse is missing). somehow it didn't properly load the last session

[2020-08-19 20:39] balmas commented on #530
@monzug i don't see anything jumping out at me in the release code that could be effecting a change in this behavior.

Just wondering though, did you by any chance download a wordlist from the same user id before this test? That *shouldn't* update the updatedDT but it's the only thing that's jumping out at me as a possibility for where this could be going wrong.

I will try to reproduce this tomor

[2020-08-20 12:19] monzug commented on #530
nope I did not download any wordlist. I was just trying to sign in with apple id.

[2020-08-20 12:28] balmas opened #532 "localization: in options tab, field labels aren't reactive"
The field labels reference L10n message names, but the component doesn't get redrawn when the locale changes

[2020-08-20 12:47] monzug commented on #530
could not reproduce the above scenario (sign in as apple user and also tested with different id/psw). limit to this session and log out worked fine. I'll close this one and assign to me as test case

[2020-08-20 12:48] monzug commented on #530
to use as test case with https://github.com/alpheios-project/alpheios-core/issues/138

[2020-08-20 12:50] monzug commented on #138
signed out as apple user, the wordlist icon was still active and wordlist still populated

[2020-08-20 12:50] #138 closed

[2020-08-20 13:00] balmas opened #533 "localization: need lang attribute added to all use of message strings"
Whenever we pull translations from the messages files, we should also be specifying the language of the message in the interface so that the correct font can be used.

[2020-08-21 14:21] balmas opened #534 "fix and reinstate vue tooltip component test"
there is something about the Vue component tooltip test that causes the test suite to hang when it is run in the CI environments (it hangs on both Travis and GitHub Actions).

I don't think it's related to a change in the Alpheios code, because the same builds that succeeded ~> 1 week ago are failing when rerun now.  It's not a difference in a top-level dependency, because the dependencies in the

[2020-08-21 16:57] balmas opened #535 "error loading chinese data in Chrome"
The Selenium tests in Chrome (tested versions 76 and 84) on Windows 10 are failing for chinese lookups. I think it might be due to a timeout occurring while the data keeps loading.

I can reproduce when running the test manually in Browserstack

![Screenshot from 2020-08-21 12-51-17](https://user-images.githubusercontent.com/644870/90915380-6e717c80-e3ad-11ea-9a23-15e1cd9ebd54.png)

You can see in

[2020-08-24 09:55] monzug commented on #535
I did some testing as part of regression before and it looked fine. I tried again today on Chrome/PC Version 84.0.4147.125 (Official Build) (64-bit)and  Chinese mouse over worked fine. will try with Google docs

![chinese-test](https://user-images.githubusercontent.com/41396793/91031284-5c225900-e5ce-11ea-8ea9-5ac1714a8842.JPG)

[2020-08-24 10:00] monzug commented on #535
mouse move on google docs is fine too.  anything else I should try?

[2020-08-24 11:34] balmas commented on #535
No, I think that's good. Thank you!

[2020-08-24 13:02] balmas commented on #446
assigning to @kirlat to think about in the wordlist refactoring

[2020-08-24 13:03] balmas commented on #460
assigning to @kirlat to think about in the wordlist refactoring

[2020-08-24 13:03] balmas commented on #18
assigning to @kirlat to think about in the wordlist refactoring

[2020-09-21 11:46] balmas opened #537 "Greek: tense not shown for participles"
reported by @rgorman

![image001](https://user-images.githubusercontent.com/644870/93762809-3f357180-fbde-11ea-9117-db2e5f0d0d3c.png)
![image002](https://user-images.githubusercontent.com/644870/93762810-3f357180-fbde-11ea-8c3d-a68f6634575e.png)

Morpheus does give us the tense for these forms so I'm not sure why we aren't showing it.

[2020-10-09 17:32] kirlat commented on #534
This should be fixed by 856d9dfd2e262882ae0383b1419ca921d2955c34. I'm still not sure why was it happening. It was probably something related to the way Vue Test Utls work internally. Maybe it takes time for each change to apply and we need to wait for the previous one to finish before applying the next one. But anyway, the fix in 856d9dfd2e262882ae0383b1419ca921d2955c34 seems to be enough to solve

[2020-10-14 12:15] balmas opened #540 "treebank: option to show all inflections, highlighting the one from the tree"
What Alpheios does is disambiguate the lexemes identified by the parser with the lexeme in the treebank.

For the lexemes themselves (i.e. the distinct lemma entries, as far as we can determine them) it identifies which lexeme is the one chosen by the treebank with the little red triangle, but still shows the other lexemes.

However, for the inflections within the disambiguated lexeme, it filters

[2020-10-15 18:57] balmas opened #541 "enable further lookups when no definition found"
Requested by @rgorman

Because of the date and subject matter of the text (and Marcus' own annoying predilection for obscure technical terms), many words are returned by Alph. as "no definitions found." In the nature of things, many of these are compounds.  E.G., πρό-ἀπολέγω. It would be great if we could click on either part of the lemma and be taken to the dictionary entry, since it is easy t

[2020-10-28 19:18] monzug commented on #537
looks like https://github.com/alpheios-project/alpheios-core/issues/55#issuecomment-575289415

[2020-10-28 19:48] balmas commented on #537
ah yes you are right.  lets close this as a dupe then. And revisit 55 to see what can be done. tx

[2020-10-28 19:48] #537 closed

[2020-10-28 19:48] balmas commented on #55
requested also by @rgorman in #537

[2020-10-29 19:04] balmas opened #545 "remote dictionary search feature"
to address the persian issues #493 and #165 we want to implement a dictionary search feature using the apis of https://dsal.uchicago.edu

This could also allow us to search other remote dictionary resources inluding:

* Logeion
* Sanskrit dictionaries at https://github.com/cceh/c-salt_sanskrit_data

See query use case described at https://github.com/alpheios-project/documentation/issues/33#issueco

[2020-11-04 15:15] balmas opened #547 "query timeout problem"
Reported by @monzug against Alpheios Components 3.3.1 build i42-tokenization-service-fix.20201030499
(via https://github.com/alpheios-project/webextension/releases/download/dev.20201102626/dist.zip)

double click on   τοῦ   or lookup for τοῦ,  it loads forever. I had to close the pop-up. See screenshot.
Then, I did more testing including login in and out, did some testing on Latin then back on Gre

[2020-11-04 15:26] kirlat commented on #547
Will check it out

[2020-11-04 15:41] balmas opened #548 "short definitions not found doesn't remove loading message"
Reported by @monzug against Alpheios Components 3.3.1 build i42-tokenization-service-fix.20201030499
(via https://github.com/alpheios-project/webextension/releases/download/dev.20201102626/dist.zip)

if a greek short def isn't found, the loading message doesn't get replaced with the "definition not found" message

Reproduce with these words:

Δαναὸς
ἀφίκτωρ
λεπτοψαμάθων

In release version we get

[2020-11-04 16:30] balmas opened #549 "something about the latest core code breaks the ff webextension"
not sure what the source of this is exactly but when the webextension is built with the master branch of alpheios-core, activation fails to add the alpheios elements to the page.  Reverting to the production branch of alpheios-core works fine so it is not a problem with the webextension code.

The core code does work under Firefox with the embedded library.

I suspect it might be a problem in the

[2020-11-05 14:48] monzug commented on #547
![Screen Shot 2020-11-04 at 3 07 49 PM](https://user-images.githubusercontent.com/41396793/98256008-58239780-1f7e-11eb-81da-5f365b6cc6f0.png)

[2020-11-05 15:23] balmas opened #550 "lost feedback while waiting for first data after query start"
reported by @monzug against Alpheios Components 3.3.1 build i42-tokenization-service-fix.20201030499
(via https://github.com/alpheios-project/webextension/releases/download/dev.20201102626/dist.zip)

in the release, first we do show the pop-up with data is loading and then a second pop-up with the morphological data.
in the latest test env, the pop-up with data is loading is not longer generated.

[2020-11-05 15:26] monzug commented on #550
this is again noticeable with τοῦ in
https://scaife.perseus.org/reader/urn:cts:greekLit:tlg0610.perseus002.perseus-grc1:1-5/.
(both lookup or doubleclick)

On Thu, Nov 5, 2020 at 4:24 PM Bridget Almas <notifications@github.com>
wrote:

[2020-11-06 07:32] kirlat commented on #549
The problem seems to be with the `symbol-observable` package, a dependency of the Apollo client. In a webextension environment the following line fails: https://github.com/benlesh/symbol-observable/blob/master/es/ponyfill.js#L13. It produces an unhandled exception (`Symbol.for` is not defined) and that prevents content script from loading.

The interesting thing is that the package uses not `Symbo

[2020-11-06 10:21] kirlat commented on #549
I've added an issue to both the `symbol-observable` (benlesh/symbol-observable/issues/53) and to the Firefox bug tracker as it seems to be a Firefox issue (it does not occur in Chrome): https://bugzilla.mozilla.org/show_bug.cgi?id=1675725

[2020-11-06 13:04] balmas commented on #549
thanks for tracking this down.  If we can implement the patch easily I'd suggest we do that for now and wait and see if either the issue on symbol-observable or Firefox get action

[2020-11-06 13:42] monzug commented on #550
if I double click on τοῦ  from user word list, the lexical data is loading pop-up is still generated.

[2020-11-06 14:15] kirlat commented on #549
I think I've found a simple solution that should fix it without the need for patching. Will submit it soon.

[2020-11-09 11:50] kirlat commented on #549
This should be fixed by  alpheios-project/webextension#314

[2020-11-09 15:20] balmas commented on #549
@monzug you should be able to regress in FF now with the dev build at https://github.com/alpheios-project/webextension/releases/download/dev.20201109457/dist.zip

[2020-11-09 15:20] #549 closed

[2020-11-09 15:22] monzug opened #553 "Resources: after reset all, cannot add or remove lexicons unless I click on reset all again"
tested in release and current test environment. FF and Chrome on MAC and PC.
To change the lexicons in Resources, all I need to do is to select a new lexicon from drop-down or uncheck the one that I want to remove.  This does not longer work after clicking on Reset all button.  I cannot add/remove lexicons from drop-down any longer unless I click on Reset all button each time I want to add or remo

[2020-11-09 15:23] monzug commented on #549
Great.

On Mon, Nov 9, 2020 at 10:20 AM Bridget Almas <notifications@github.com>
wrote:

[2020-11-09 15:34] monzug commented on #549
toolbar is there on FF/PC in  Alpheios Reading Tools 3.3.2 build dev.20201109457
Alpheios Components 3.3.1-dev.20201109442 build dev.20201109298

[2020-11-10 11:45] kirlat commented on #548
It should be fixed by #554.

[2020-11-12 09:57] kirlat commented on #550
Fixes has been merged to master

[2020-11-12 09:58] kirlat commented on #547
A fix has been merged to master

[2020-11-13 13:38] balmas opened #556 "investigate CAMel tools for Arabic"
https://github.com/CAMeL-Lab/camel_tools

[2020-11-17 17:56] monzug opened #559 "Alpheios logo looks small in Big Sur"
The Alpheios logo is pretty small. Bridget said that she was worried about this when she saw that they made changes to icons in Big Sur
![Screen Shot 2020-11-17 at 4 58 07 PM](https://user-images.githubusercontent.com/41396793/99428103-7dad8b00-2906-11eb-8b47-83045566ab34.png)

[2020-11-17 17:59] monzug opened #560 "Login button truncated coming from wordlist"
the Login/Logout button is truncated in latin library when navigating from wordlist to user account (I did clear cache before installation)
see pics
![Screen Shot 2020-11-17 at 5 04 30 PM](https://user-images.githubusercontent.com/41396793/99428403-e4cb3f80-2906-11eb-8927-2233ba5fc947.png)
![Screen Shot 2020-11-17 at 5 43 41 PM](https://user-images.githubusercontent.com/41396793/99428425-eac12080-

[2020-11-18 15:35] monzug commented on #560
Actually, I am experiencing this 'issue' also in Safari App Extension 3.3.2 build 20200821381
Alpheios Components 3.3.1-20200821376  browsing through Alpheios panels
e.g. lookup for nero, then from morphology pop-up click on Usage Examples, the panel will not open on top of the page but slightly down
![Screen Shot 2020-11-18 at 4 33 04 PM](https://user-images.githubusercontent.com/41396793/9955134

[2020-11-18 15:35] monzug commented on #560
![Screen Shot 2020-11-18 at 4 33 04 PM](https://user-images.githubusercontent.com/41396793/99551412-1ce08a00-29bc-11eb-88e7-63c106c9757c.png)

[2020-11-18 15:36] monzug commented on #560
![Screen Shot 2020-11-18 at 4 32 16 PM](https://user-images.githubusercontent.com/41396793/99551478-2e299680-29bc-11eb-812d-4f7164d44aa1.png)

[2020-11-18 15:38] monzug commented on #560
![Screen Shot 2020-11-18 at 4 28 32 PM](https://user-images.githubusercontent.com/41396793/99551595-56b19080-29bc-11eb-93c8-28378b3f707e.png)

[2020-11-18 15:51] monzug opened #561 "Lexical data is loading takes a long time"
Big Sur with release candidate and also with Safari App Extension 3.3.2 build 20200821381
Alpheios Components 3.3.1-20200821376, it takes a lot of time to load the morphology pop-up after a lookup or double click. Tested in Latin Library for words like nero, caro, tuta
![Screen Shot 2020-11-18 at 4 40 14 PM](https://user-images.githubusercontent.com/41396793/99553292-44d0ed00-29be-11eb-9843-27f233

[2020-11-19 15:06] monzug commented on #561
in this sentence I had loading issue and yellow message in FF, with sunt and qui: https://scaife.perseus.org/reader/urn:cts:latinLit:phi0448.phi001.perseus-lat2:1.1.1-1.1.5/
"proximique sunt Germanis, qui trans Rhenum incolunt, quibuscum"

[2020-11-19 15:12] monzug commented on #560
I realized that it is more visible in Safari but the slightly top truncation does occur also in Chrome.

[2020-11-19 15:51] balmas opened #562 "morph adapter errors shouldn't fail the query if there are also valid results"
reported my @monzug . Reproducible with a lookup of the Latin word 'caro'

For this word, the test on `  if (adapterMorphRes.errors.length === 0) { ` at https://github.com/alpheios-project/alpheios-core/blob/master/packages/components/src/data-model/word-query/lexical-data/data-objects/tufts-morphology-data.js#L50 returns false because there are some errors in the morph response but there are also

[2020-11-19 16:34] monzug commented on #562
other words that are failing: nero, qui, quibuscum, quis and many more

[2020-11-20 14:37] monzug commented on #511
also, imperative vs participle
![Screen Shot 2020-11-20 at 3 34 39 PM](https://user-images.githubusercontent.com/41396793/99811979-2a298000-2b46-11eb-898b-0196ffa43ca8.png)

[2020-11-20 15:20] monzug commented on #561
Big sur/Safari :  ἐπίδοι   in  https://scaife.perseus.org/reader/urn:cts:greekLit:tlg0085.tlg001.perseus-grc2:1-30/

[2020-11-20 15:23] monzug commented on #548
to test  ἀφίκτωρ in https://scaife.perseus.org/reader/urn:cts:greekLit:tlg0085.tlg001.perseus-grc2:1-30/

[2020-11-23 10:44] kirlat commented on #562
@balmas, @irina060981: To handle situations like that gracefully we should probably start to use warnings along with errors in our GraphQL API. I think those could have the following meanings:
* **Warning**. Something went wrong, but the error is not critical and we can continue the normal execution despite what happened. We should probably take notice, maybe report the issue in the logs, and mayb

[2020-11-23 12:51] balmas commented on #562
This makes sense to me.

[2020-11-23 12:53] irina060981 commented on #562
I like this suggestion too

[2020-11-23 13:03] monzug commented on #562
Kirlat, Question: in the case of "caro" a warning will be issued. for the user, the warning is totally transparent, correct?

[2020-11-23 13:42] kirlat commented on #562
Yes, the warning will be used internally within the system but will not be shown to the user. Users will see no special messages in this case. The UX of the user would be exactly the same as in cases where things will go smoothly and there will be no warnings at all.

The user will be notified only of errors that prevent morphological data from being displayed. Such notifications would explain to

[2020-11-23 13:44] monzug commented on #562
Thanks!!!

[2020-11-27 14:59] kirlat commented on #562
The ultimate source of truth for error handling is in GraphQL specifications: http://spec.graphql.org/draft/#sec-Errors. Sometimes Apollo error response matches it (https://www.apollographql.com/docs/apollo-server/data/errors/), sometimes, it seems, doesn't: https://www.apollographql.com/blog/full-stack-error-handling-with-graphql-apollo-5c12da407210/ The last source is, however, from 2018, when t

[2020-11-29 06:39] irina060981 commented on #562
I believe it is relly very similiar to the way `client-adapter` returns a morphological result.
With the only difference - it has a more general field - `result`, because the result could be not only the homonym.
And an errors array has no severity - because a `client-adapter` is separated from other repositories by business logic.
And it couldn't now what errors are important or not for the appli

[2020-11-30 12:40] balmas commented on #562
I agree it is very similar to the way it is currently handled with the client adapters.  The proposed error extensions structure looks fine to me. One thing to consider here is whether it adds any value to pass a non-critical warning on to the QraphQL API in this case. It has no value for the end user since we never show them the error and if we did they couldn't do anything about it.  However it

[2020-11-30 12:52] kirlat commented on #562
I don't think it would make sense to change client adapters to match GraphQL specification exactly. Those are different domains, and we might use something different along with GraphQL as well. Different formats should be able to coexist peacefully.

It is a very good point that the client adapters may not know what error is critical for the client app and what is not. But I think from client adap

[2020-11-30 12:53] balmas commented on #562
Yes I agree

[2020-11-30 13:31] irina060981 commented on #562
As we talked on the meeting it could be useful, but I think that such warnings could be catched in the following cases:
- they could be retrieved from the remote service, but for now I think that we have no service that supports warnings
- they could be retrieved from some conversion steps, and such warnings could be produced from data-models methods;

This way I think that such warnings would app

[2020-12-03 18:17] kirlat opened #566 "Refactor the resource retrieval workflow"
Based on https://github.com/alpheios-project/alpheios-core/pull/565#issuecomment-738173271:
The overall resource retrieval workflow should become more transparent. One of the steps to achieve that would be to separate the retrieval of resources from the `LexicalQuery` (a single method currently) into separate steps. Each step should match a retrieval of a separate resource. Once steps are separate

[2020-12-03 18:22] kirlat commented on #566
@balmas, @irina060981: it seems that in the lexical query we create a list to record requests to get full definitions and do not run the retrieval query if one has already started: https://github.com/alpheios-project/alpheios-core/blob/production/packages/components/src/lib/queries/lexical-query.js#L25. We do not, however, remove the query from this map ever. So if the full definition for a word w

[2020-12-04 04:12] irina060981 commented on #566
No, I don't remember this feature.
I don't like to use Maps, that's why I doubt that it is my code.

[2020-12-04 06:41] kirlat commented on #566
I think the `startedDefinitionsQueries` has something to do with caching within the client adapters: https://github.com/alpheios-project/alpheios-core/commit/c51481a60c770fc94ebdcf1ae3d57470b979edfa. It seems that requests are cached within the client adapters, and if retrieval of the definition resource has already started there, we don't want to issue another request. We'll just wait for the res

[2020-12-04 08:06] kirlat opened #567 "Standardize error format across modules"
We should somehow harmonize errors between different parts of the application, and think about localization of error messages.

Based on discussion from https://github.com/alpheios-project/alpheios-core/pull/565

@kirlat: I think it is good to have a centralized list of error codes. This way the client will know what kinds of errors to expect from the library (this file can be imported by the clie

[2020-12-04 08:52] kirlat commented on #566
Right now the caching logic requires the `LexicalQuery` to know what requests will be cached in client adapters on order to store them in its own map to track caching. I think we might simplify that by moving all the logic regarding the request caching to the client adapters' side. So if we make a request to the client adapters with the word that has already been requested but is not retrieved yet

[2020-12-04 10:18] irina060981 commented on #566
do you mean to move everything to the lexicons adapter?
It returns requests in async way and what would be the difference to the current logic?
How would it influence on getting definitions for wordlist flashcard download?
Also would it work with fixtures ?

[2020-12-04 12:28] kirlat commented on #566
I just suggest to move the check that was done using the `startedDefinitionsQueries` map (if it is still needed) in the `LexicalQuery` into the client adapters, if possible. But if it creates serious problems with other parts of the workflow, then we should not do it.

[2020-12-07 12:46] balmas commented on #566
I think it was to prevent the same word within a single query from being looked up twice for the Persian lookup hack.  often times the persian mor service just returned the same word as the lemma, and since we would have already looked that up in the alternate persian lookup workflow (where we looked up the word first, then tried to parse it) it just added an unnecessary load. It's interesting if

[2020-12-08 18:52] balmas opened #569 "fix tokenization adapter test"
I think it would be better not to have any dependencies on live services for our unit tests.

we should add fixtures for the tokenization service to the alpheios fixtures class and update the unit tests to use them.

[2020-12-09 09:21] kirlat opened #570 "Refactor the retrieval of the word usage examples"
@balmas: I think we should have an issue for further refactoring here. This method is only called if the wordUsageExamplesON setting was set to 'onLexicalQuery'. If it's set instead to 'onDemand', the still-existing LexicalQuery.getWordUsage data method is called instead. As we have discussed previously, I would like for all resource queries to be able to set as 'pre-cache' or 'on-demand' and for

[2020-12-09 14:52] kirlat commented on #562
This should be fixed by #568. The changes have been merged to master.

[2020-12-09 17:26] #143 closed

[2020-12-09 21:56] vgorman1 opened #572 "ἐπι-κῠλινδέω no definition"
ἐπεκυλίνδουν is analyzed (correctly) as ἐπι-κῠλινδέω, but then it says NO DEFINITIONS FOUND. Is the hyphen messing it up?

[2020-12-09 21:59] balmas commented on #572
there are 2 separate problems here:

1) yes, the - in the lemma is creating a problem for the lookup. We should include stripping these in our alternate word encodings lookup

2) morpheus reports ἐπί-κυλινδέω as the lemma, with the ί being iota with tonos/oxia. The entry in lsj does not have the tonos/oxia on the iota.   I think this has come up before, so I think we might want to normalize that f

[2020-12-10 17:07] balmas opened #573 "interpret morph attribute irreg_comp as comparative"
It's not about the sense, it's about the degree of comparison of the adjective, which should be presented in the form definition.
Like you do in similar cases:
![image](https://user-images.githubusercontent.com/7735754/101799425-32f5ec00-3b1d-11eb-945c-3aa37017a3cc.png)

_Originally posted by @demophobos in https://github.com/alpheios-project/webextension/issues/316#issuecomment-742627445_

[2020-12-10 17:11] balmas commented on #573
morpheus normally reports the comparative in the `comp` field, as in:

[code]

But for ἁπλούστερον (and probably others) the `comp` field is missing and instead we have `irreg_comp` in the `morph` field.

[code]

We could normalize this in the client adapter code.

[2020-12-10 22:10] balmas commented on #135
Another example of compound words that needs to be supported from #541

For the greek word προἀπολέγω the morpheus parser returns 3 possible lexemes, each of which has a compound word as the lemma :

πρό,ἀπό-λέγω1  =>  3 separate words: πρό , ἀπό , and λέγω1
πρό-ἀπολέγω1 => 2 separate words πρό, and ἀπολέγω1
πρό-ἀπολέγω2 => 2 separate words πρό, and ἀπολέγω2

For a total of 5 distinct lemmas, ea

[2020-12-11 05:33] kirlat commented on #135
That's an interesting case to test with Thanks for bringing it in here!

[2020-12-11 15:38] balmas opened #574 "fix betacode helper for )a"
from @monzug : I have just realized that we have )a => ἀ    and again  )a => ἁ      ->     the last one should be (a

[2020-12-11 20:19] #574 closed

[2020-12-11 20:21] balmas commented on #572
#135 tracks changes for the first issue (dealing with compound words properly).

In the meantime, #541 has changes for enabling users to do the lookup on the compound word parts in the popup as a temporary solution until we can do this better.

I think I was wrong about the 2nd problem.

Closing this as a dupe therefore, as it will be addressed with the other issues.

[2020-12-11 20:22] balmas commented on #541
Another test case for this: ἐπεκυλίνδουν

[2020-12-11 20:22] #572 closed

[2020-12-11 20:34] balmas commented on #499
when we fix this it should apply not only to the text on the page, but also text in the alpheios components (such as short definitions, annotations, etc.)

So that we can automatically enable lookup on any text in resources we display that contain languages we support.

[2020-12-14 14:26] #55 closed

[2020-12-14 22:32] irina060981 commented on #569
Merged and closed

[2020-12-14 22:32] #569 closed

[2020-12-15 18:02] balmas commented on #133
this will be dependent on the switch to the react viewer (alpheios-project/alpheios-trees#11)

[2020-12-15 18:16] balmas opened #579 "don't fail to display short def on unknown provider"
We should not fail to display a short definition if the provider abbreviation can't be mapped to a rights statement.

[2020-12-15 18:38] balmas opened #580 "error applying resource options changes"
likely caused by refactoring, if you try to change resource option settings you get the following error in the console

content.js:2 TypeError: this.app.applyResourceOption is not a function
    at VueComponent.resourceSettingChanged (content.js:2)
    at invokeWithErrorHandling (content.js:2)
    at VueComponent.invoker (content.js:2)
    at invokeWithErrorHandling (content.js:2)
    at VueCompon

[2020-12-15 18:46] balmas opened #581 "Add an option for fallback to additional lexicon if not found"
Currently if a language has multiple lexicons, it's possible to select more than one for lookup for both short definitions and full definitions. But this always adds the definitions from each lexicon that is selected.

A more useful scenario would be to support a "first-found" lookup, so that if a definition isn't found in the preferred lexicon, we search the others until we find it.

This would b

[2020-12-15 19:13] balmas commented on #581
@kirlat I'm thinking about what we can do for the incremental for this but this is also definitely a use case we need to support in the lexical query refactoring.

[2020-12-17 19:56] balmas commented on #135
for compound words I think we need to modify our data model to introduce the concept of a CompoundLexeme, which is a type of Lexeme which has constituent lexemes

[2020-12-18 17:30] kirlat opened #584 "Morphology-related busines logic in the annotations components"
There are several problems related to the design of the business logic of the annotation components. The most important is how much of the logic about the morphology of different lexical items should be included (or not included) into the annotation component and from where and how an annotation component should get the missing information:

@balmas: we are going to have to have the domain compone

[2020-12-18 20:20] balmas opened #585 "add a client adapter for in-page morphological data attributes"
we should support data attribues that can be used to specify in-page morphological data, that can then be disambiguated and included in the popup results similar to the  treebank data.

e.g.:

data-alpheios-morph-lemma
data-alpheios-morph-msd

[2020-12-18 20:21] balmas commented on #585
this could be used to enable alpheios to work on lemmatized texts loaded in a blacklab instance.

[2020-12-21 16:52] balmas opened #586 "support expansion of abbreviations in short definitions?"
The French Bailly short defs often use abbreviations for common words (see https://github.com/DigiClass/alpheios-french-dictionary/wiki/Abbreviations)

It would be nice to be able to offer the user a popup on hover with possible expansions of the abbreviated words.

[2020-12-21 20:08] balmas opened #587 "tokenization adapter misses the 'ignore' option for the tei endpoint"
reported by @monzug

The 'ignore' option if supplied in the parameters to the tokenize adapter fetchOptions does not get passed on to the service.

I think it would be better if the adapter did not hard code the option names, but instead retrieved them from the service schema.

[2020-12-22 16:27] monzug commented on #587
similar behavior with Supply a comma-separated list of elements in the text that represent visual blocks
I added "l,p" to the list and compare with an empty list, (removed all the elements), the line breaks in the alignment looked the same. I did also try with 'div". the origin and target text had l,p and div tags.

[2020-12-23 01:07] irina060981 commented on #44
@balmas , I decided to check assigned issues in alpheios-core and found some old issues :)

I didn't find that hack inside inflection-tables code, I don't remember exactly if I fixed it directly or not.
But if it is not more actual - may be we could close it?

[2020-12-23 01:43] irina060981 commented on #116
@balmas, Found this old issue - would like to add actual answers here:

1. detailed tutorial about sending emails through emailjs and vue.js - https://www.freecodecamp.org/news/send-emails-from-your-vue-application/

2. emailjs limits:

3. smap bots (https://www.emailjs.com/faq/)

Additionally, we've also developed various tools to prevent abuse – for instance, we have IP based rate limits to prev

[2020-12-23 01:44] irina060981 commented on #136
@balmas and @monzug , may be it is worth to retest it after all made refactoring?

[2020-12-23 13:59] balmas commented on #44
it's here:

https://github.com/alpheios-project/alpheios-core/blob/master/packages/inflection-tables/src/paradigm/lib/paradigm.js#L59-L64

I think it still should be fixed but it is not critical and at some point further refactoring might make it obsolete.

[2020-12-23 14:11] balmas commented on #116
Thanks @irina060981

I agree it could be a useful feature.  Priority wise, I think this may have to wait until after the annotation release.

[2020-12-23 14:12] balmas commented on #136
Yes I agree.  Assigning to @monzug for some testing on the latest dev build.

[2020-12-23 16:34] balmas opened #589 "mouseMoveEnabled override prevents triggerPreCallback"
The logic of `isGetSelectedTextEnabled` in the app controller is wrong.

It currently has:

[code]

The insertion of the test on this.isMousemoveEnabled before the test on the results of the triggerPreCallback function cause this function to be ignored if isMouseMoveEnabled is true.

[2020-12-24 07:02] irina060981 commented on #141
Merged and closed

[2020-12-24 07:03] irina060981 commented on #587
Merged and closed

[2020-12-24 07:03] #587 closed

[2020-12-24 15:55] balmas opened #590 "tokenizer adapter - catch and report errors"
with the fix to alpheios-project/tokenizer#26, the tokenizer service will report client errors (400) in a JSON error object that has the status code and message.

the tokenizer adapter should catch these and return them to its clients so that they can be displayed to the user. These are likely to be errors with the content the user has supplied totokenize.

500 errors should be caught and reported

[2020-12-28 17:42] balmas commented on #573
we should also catch and map the irreg_superl morph attribute value to comp=superlative

e.g. as in  ἥδιστα and ἄριστα

[2020-12-29 15:03] kirlat opened #595 "Identity data of a Definition object"
We need to include definition provider's IRI into the identity data of a `Definition` object.

Here is some background on that:
@balmas:

Once provider's URI would be included into generation of the content-base IRIs, the provider should be attached to the Definition object during its creation and not changed after that. By all means `Definition` seems to be a value object, and that also means onc

[2020-12-29 16:08] kirlat opened #596 "Update JSON representation of a Homonym object"
We probably should update the JSON object that the `Homonym` serializes into and rename the `form` field, that stores the content of a `targetWord` object, to the `targetWord`. That would make mapping of JSON into the object instance more straightforward.

This change, however, may have a long going ripple effect, and we should do our best to prevent any possible issues before doing the change.

[2020-12-29 17:43] kirlat opened #597 "Support a full range of ISO 639 codes in the Language class"
The `Language` class should support codes in both ISO 639-2 and ISO 639-3 formats.

The initial requirements are:
@balmas:

[2020-12-29 18:58] kirlat commented on #597
Also:
@balmas:

[2020-12-29 18:58] balmas commented on #579
actually we don't fail to display the short definition, we just don't display any rights info. I think this is fine so closing as won't fix.

[2020-12-29 18:58] #579 closed

[2020-12-29 22:00] balmas opened #599 "lemma alignment problems with disamibugation"
Reported by @rgorman

But dico2 is the way the word is offered to the annotator by Arethusa.
Perhaps there is a way to make the two systems more friendly to each other?"

This needs to be done better but it's tricky, because sometimes we DO want to use the number to disambiguate the lemma. But it depends upon the source.  For Greek, we use the same parser (Morpheus) in Alpheios as in the Perseids/

[2020-12-29 22:05] jonathanrobie opened #600 "Spelling Variants - Help in navigating minor spelling variants?"
First off, kudos for the new web extension, I am very happy to see this continued development.

I have tried using it with texts that have minor spelling variations, including papyri, and it often misses words due to minor spelling variants.  For instance, κενεμβατεύω (found in Abbott-Smith) was not found, but κενεμβατέω is easily found.

A proficient reader can often identify words that are simil

[2020-12-30 01:10] irina060981 commented on #590
Merged and closed

[2020-12-30 01:10] #590 closed

[2020-12-31 13:52] balmas commented on #599
additional use cases from @rgorman

![image](https://user-images.githubusercontent.com/644870/103412777-cd59b600-4b44-11eb-950d-d34884f2fec3.png)

![image](https://user-images.githubusercontent.com/644870/103412826-06922600-4b45-11eb-9a46-7e47a494a887.png)

![image](https://user-images.githubusercontent.com/644870/103412856-2f1a2000-4b45-11eb-8eda-5ea76f722c16.png)

![image](https://user-images.gi

[2021-01-04 15:29] balmas opened #601 "Make the retrieval from the config service more robust"
I guess I see this a little differently.  The role of the ClientAdapters is to adapt external resources to our internal models.   So, while the base adapter does provide a common encapsulation of the XHR request, I don't think that means that all XHR requests need to go through the Client Adapters.

The role of the configuration service is to provide application-specific properties at runtime that

[2021-01-04 16:01] monzug commented on #587
Supply a comma-separated list of elements in the text that represent visual blocks works now. tested with l, p and div.

[2021-01-04 16:43] kirlat commented on #597
As agreed at the check-in, we will use ISO 639-2 codes as a standard within our application. The `Language` class should be able to store language codes in any of the ISO 639-1, 639-2, 639-3 formats. That's because third-parties might supply language codes in various formats. The `Language` class should be able to return a language code in the ISO 639-2 code regardless of in what format the langua

[2021-01-05 02:10] irina060981 commented on #597
I believe we should also point the places where we use language as a string.
And later update it with Language class.
Would point some places, that I know:

- Translations adapter (locale for translations)
- L10n support (locale)
- Locales for css rules for fonts

[2021-01-05 13:23] balmas commented on #597
A bit more background:

IETF RFC 4646 (https://www.ietf.org/rfc/rfc4646.txt) specifies use of a 2-character code from ISO 639-1 when it exists; when a language does not have a 2-character code assigned the 3-character code from ISO 639-2 is used.

Alpheios has traditionally used the ISO 639-2 3-character code as the standard code for any Alpheios supported languages.

I think it makes sense to con

[2021-01-06 19:00] balmas opened #605 "remove use of live word api endpoint from wordlist unit tests"
the wordlist unit tests are failing due to lag times on the wordlist endpoint
we shouldn't use a live end point in the unit tests

[2021-01-06 21:51] balmas commented on #599
The dico2, lego2, and populo scenarios are fixed and can be tested in Alpheios Components 3.3.1-qa.20210106574

carmine is partially fixed, but to be able to refine the definition further requires #133 which isn't fixed yet.

[2021-01-06 21:51] #599 closed

[2021-01-06 22:05] balmas commented on #540
this is fixed in Alpheios Components 3.3.1-qa.20210106574

For now, the default has been changed to always display all inflections, and to highlight the selected inflection with the same icons we use for the lemma:

![c6f057a5-bbc9-4357-8cde-7030030eb139](https://user-images.githubusercontent.com/644870/103824007-1d52e400-5041-11eb-8952-7acd4c8ed0b4.png)

It's not perfect -- when there are more th

[2021-01-06 22:05] #540 closed

[2021-01-06 22:10] balmas commented on #573
can be tested in Alpheios Components 3.3.1-qa.20210106574

[2021-01-06 22:10] #573 closed

[2021-01-06 22:11] balmas commented on #574
can be tested in Alpheios Components 3.3.1-qa.20210106574

[2021-01-07 13:40] monzug commented on #574
this is fix in Alpheios Reading Tools 3.3.1 build qa.20210106631
Alpheios Components 3.3.1-qa.20210106574

[2021-01-07 14:26] monzug commented on #573
tested in FF/Mac in  Alpheios Reading Tools 3.3.1 build qa.20210106631
Alpheios Components 3.3.1-qa.20210106574
I am getting the comparative and super attribute now. Would it be possible to add the attribute only once e.g. next to plural? see attachment

![Screen Shot 2021-01-07 at 3 15 26 PM](https://user-images.githubusercontent.com/41396793/103903808-a9761180-50fc-11eb-9584-e6d958e189e3.png)

[2021-01-07 15:14] monzug commented on #540
I really like this enhancement!!!

[2021-01-07 17:43] balmas commented on #573
I think the grouping is a similar issue to #101 and #336. I don't think I can fix that now but the grouping needs to be redone in the next major release.

[2021-01-07 17:45] balmas commented on #573
Yeah that's a morpheus bug. Will record it there.

[2021-01-07 17:47] monzug commented on #573
yep, remember the grouping issues. I thought that maybe the superlative and
comparative could be handled differently. Oh well, soon

On Thu, Jan 7, 2021 at 6:45 PM Bridget Almas <notifications@github.com>
wrote:

[2021-01-07 20:34] balmas commented on #141
I'm going to port this to the incremental release

[2021-01-07 21:11] #141 closed

[2021-01-08 14:50] balmas commented on #55
this can be tested in Alpheios Components 3.3.1-qa.20210108437

[2021-01-08 14:52] balmas commented on #541
the fix to enable lookups on compound lemmas can be tested in Alpheios Components 3.3.1-qa.20210108437

lookups on greek words in definitions requires updated defs files, shoube tested via those issues.

[2021-01-08 15:22] balmas commented on #141
fixed in Alpheios Components 3.3.1-qa.20210108437

[2021-01-08 15:23] #589 closed

[2021-01-08 15:36] monzug commented on #101
an other example of grouping Greek verb participle

![Screen Shot 2021-01-08 at 4 33 45 PM](https://user-images.githubusercontent.com/41396793/104033254-954f1480-51cf-11eb-9e3a-f61d270899f6.png)

[2021-01-08 15:44] monzug commented on #55
so happy to see this one fixed. tested in FF and Chrome (mac and pc). see screenshots
![Screen Shot 2021-01-08 at 4 42 06 PM](https://user-images.githubusercontent.com/41396793/104034150-cf6ce600-51d0-11eb-8ba9-b604ca958a73.png)

[2021-01-08 16:12] monzug commented on #573
tested also with  Greek comparative : θειότερον    σεμνότερόν   γλύκιόν

[2021-01-08 16:43] monzug commented on #141
fixed for οὐδ' in build   Alpheios Reading Tools 3.3.1 build qa.20210108447
Alpheios Components 3.3.1-qa.20210108437

Unfortunately I could not find any other example to test.

![no-number-greek-popup](https://user-images.githubusercontent.com/41396793/104041182-a6376000-51a6-11eb-8275-64bee75ed439.JPG)

[2021-01-08 20:02] balmas commented on #141
this can also be seen often in treebanked text.  e.g. πολλὰς at Odyssey 1.3  (https://texts.alpheios.net/text/urn:cts:greekLit:tlg0012.tlg001.alpheios-text-grc1/passage/1.1-1.30)

See related item #599

[2021-01-11 13:46] monzug commented on #141
Oh yes, thanks. I found plenty of example with numbers in both Latin and Greek but not exactly the same as οὐδ'

[2021-01-11 14:49] monzug commented on #540
in the case of nullis (first sentence of https://texts-test.alpheios.net/text/urn:cts:latinLit:phi0620.phi001.alpheios-text-lat1/passage/1.1), we are adding again the inflection. see screenshot
as Bridget said: It's not perfect -- when there are more than 1 possible inflection identified by morpheus, those are displayed below the selected one from the tree, including (again) the one from the tree.

[2021-01-11 15:21] monzug commented on #540
In the case of fugiendo (line 9), we are adding too much, I believe.
- lookup for fugiendo returns  a verb participle fut. pass. -
- the treebank of  fugiendo in texts.alpheios.net  says only verb participle.
- the treebank of fugiendo in https://texts-test.alpheios.net/text/urn:cts:latinLit:phi0620.phi001.alpheios-text-lat1/passage/1.1   adds   a  pres. pass.  - see screenshot

![fugiendo](https:

[2021-01-11 17:47] monzug opened #609 "Greek particle == Greek adverb"
go to line 46 of https://texts-test.alpheios.net/text/urn:cts:greekLit:tlg0012.tlg001.alpheios-text-grc1/passage/1.1-1.30,
both words δ᾽   and ἄρ᾽ are in the tree but we do not show any treebank icons in the pop-up. this is also on texts.alpheios.net

[2021-01-11 18:00] balmas commented on #540
Well our requirements right now call us to consider the treebank data, which is manually annotated to be considered more correct than the parser output. So the code is doing the expected thing here -- it's adding the present passive inflection provided by the treebank to the form, and saying that's the "correct" one.

[2021-01-11 18:13] monzug commented on #540
absolutely! code is right, treebank wrong. However, would it be possible to
add an extra layer that checks if form is in morphology? if not, drop it or
add a comment. I do not know. just thinking. I do not even know how
frequently we could have such a scenario.

On Mon, Jan 11, 2021 at 7:01 PM Bridget Almas <notifications@github.com>
wrote:

[2021-01-11 18:36] balmas commented on #540
When you say "form is in morphology" do you mean, check that the form is one that was returned by the morphology parser (in this case whitaker)?

If so, the problem is that we don't have a way to differentiate which source is right -- i.e. the parser or the treebank.  Ultimately this is why we need active annotation support in Alpheios, which is the subject of our next major release.  (see lengthy

[2021-01-11 19:00] vgorman1 commented on #540
And there are definitely times when the morphology yielded is not a possible annotation.  My most frequent example is δεῖ, which is always analyzed as 3s imperfect ind act, when it is actually present tense and ἔδει is the imperfect [as per the LSJ].  Clearly it was just entered wrong at some point.  There are also real doozies of misspellings in Morpheus now and then.

So, as we all agree, the id

[2021-01-11 19:44] #15 closed

[2021-01-11 19:47] balmas commented on #15
@monzug you can verify this through the various issues for testing the alpheios-enabled lookups in the Greek short definitions.  Those 4 short defs files (major+ml+logeion, major+lsj, lsj and ml) all now are being retrieved from different places in the release code (i.e alpheios-components Alpheios Components 3.3.1-20200821376) and the qa build (Alpheios Components 3.3.1-qa.20210108437)

[2021-01-11 20:00] balmas commented on #560
I cannot reproduce this one.  Moving it out of the incremental.

[2021-01-11 21:21] balmas commented on #540
another interesting point here, which @rgorman helped clarify -- the treebank reports this as mood=gerundive. The Whitake parser used by Alpheios reports all Gerunds as verb participles (see alpheios-project/morphsvc#11).

I think perhaps we should make a change to the Alpheios treebank adapter to consider a Latin verb with mood=gerundive as being the same as a verb participle. That way we will at

[2021-01-11 21:22] balmas opened #608 "Latin verb with mood=gerundive matches whitaker mood=participle"
another interesting point here, which @rgorman helped clarify -- the treebank reports this as mood=gerundive. The Whitake parser used by Alpheios reports all Gerunds as verb participles (see alpheios-project/morphsvc#11).

I think perhaps we should make a change to the Alpheios treebank adapter to consider a Latin verb with mood=gerundive as being the same as a verb participle. That way we will at

[2021-01-11 21:25] balmas commented on #609
this is similar to #608

upon disambiguation of inflections we need to be able to match a greek particle to a greek adverb

[2021-01-12 13:21] monzug commented on #540
gerundive verbs have been hunting me for ever! issue #608 is very welcome.

[2021-01-12 14:11] balmas commented on #540
Wrt to https://github.com/alpheios-project/alpheios-core/issues/540#issuecomment-757999170 there are actually two issues here, one which I didn't see at first

(1)
Morphology Service says the lemma has inflection A and inflection B
Treebank says it is inflection B
We should show inflection B only once in the popup.

Originally I thought that was what was going on with nullis. That has to wait for

[2021-01-12 14:12] balmas opened #610 "inflection disambiguation does match (f) in (m,f,n)"
Wrt to https://github.com/alpheios-project/alpheios-core/issues/540#issuecomment-757999170 there are actually two issues here, one which I didn't see at first

(1)
Morphology Service says the lemma has inflection A and inflection B
Treebank says it is inflection B
We should show inflection B only once in the popup.

Originally I thought that was what was going on with nullis. That has to wait for

[2021-01-12 14:18] monzug commented on #540
verified. All comments have been addressed in separate issues.

[2021-01-12 16:51] monzug commented on #541
ἐπεκυλίνδουν   -
1)  in the pop-up, can we highlight only the compound part that has been selected ( ἐπε    or   κυλίνδουν )  not the all word?

2) Would it be possible in this case to keep the original pop-up open so I can select also the other compound word (like nesting)? right now, when I click on ἐπε  , a new pop-up is generated and the original one is gone. if I want to lookup for the second

[2021-01-13 15:06] monzug commented on #599
Populo can also be a verb, while in the treebank test environment we used populos that cannot be a verb.
![Screen Shot 2021-01-13 at 4 01 55 PM](https://user-images.githubusercontent.com/41396793/104469427-cc02a180-55b8-11eb-989c-afcb04b436d8.png)

all good with legat dicta and populos

[2021-01-13 15:48] monzug commented on #15
I used the major+ml+logeion with  ὠκύπος  and  Τριτοπατρῆς ,  then Liddell   with.  βακχιάς , then  major+lsj  with  ὑκερός ,  last LSJ  with  τύριμνος .

@balmas, is this enough or should I do more testing?

[2021-01-13 15:52] balmas commented on #15
I think that's enough, thank you!

[2021-01-13 16:01] balmas opened #611 "better handling of proper names in short def lookup"
ᾍδης and other similar proper names that morpheus parses to lower case are annoying.

We get this weird loop:

lookup Αἵδης
no morpheus parse, form gives a see reference to ᾍδης
lookup ᾍδης
morpheus parses lemma as ᾅδης
get no definitions found because the entry ᾅδης in the short defs file points at the upper case entry for ᾍδης but our lemma is lower case so we get nothing.

Need to think about t

[2021-01-13 16:04] balmas commented on #541
For this we really need session history, which will be part of the next major release

[2021-01-13 16:05] balmas commented on #541
I think that change is too big for the incremental too unfortunately. The selection code is tricky. I'm going to enter a new issue for it to be considered for the future.

[2021-01-13 16:06] monzug commented on #15
ok.

[2021-01-13 16:06] balmas opened #612 "more granular highlighting of selections"
when looking up ἐπεκυλίνδουν and selecting one of the compound word parts in the pop-up, can we highlight only the compound part that has been selected ( ἐπε or κυλίνδουν ) not the all word?

_Originally posted by @balmas in https://github.com/alpheios-project/alpheios-core/issues/541#issuecomment-759549799_

[2021-01-13 16:07] balmas commented on #86
additional use case described in #541

[2021-01-13 16:14] monzug commented on #541
will close this one as all questions have been addressed in new issues. Thanks

[2021-01-13 16:14] #541 closed

[2021-01-13 17:27] balmas commented on #611
fixing this one is going to be too much for the incremental.

We need better, and language-specific, fall-back handling altogether on the short definition lookups.

I was thinking we could perhaps just lookup the capitalized version of an entry when the lower case entry clearly pointed to a capitalized version, and if the target word was the same as the lemma, just capitalized.

But that doesn't w

[2021-01-13 20:42] balmas commented on #608
this is fixed in Alpheios Components 3.3.3-qa.20210113579

the code change was to consider a gerundive the same as a verb participle -- @monzug note that for now this change applies only to the treebank disambiguation and not the inflection matching.

There is also a corresponding change to the treebank data alpheios-project/alpheios-trees#15  to remove the incorrect tense

[2021-01-13 21:01] balmas commented on #610
Fixed in Alpheios Components 3.3.3-qa.20210113579

It's as fixed as it can be for now anyway. We won't add a new inflection in this scenario, but you'll still see the inflection from the tree along with the with from the morphology service.

That is, for example, if the morphology service parse says the gender of a form is all genders (i.e. m, f, n) and the treebank says it's feminine, the treeban

[2021-01-13 21:01] #610 closed

[2021-01-13 21:05] balmas commented on #609
Alpheios Components 3.3.3-qa.20210113579

The code fix was to all a particle (i.e. as reported by morpheus) to be disambiguated by an adverb from a tree.

E.g. now we will get

![d2010edb-6ec6-480e-9b18-1b22e5d1c7a4](https://user-images.githubusercontent.com/644870/104510419-269bfd80-55b9-11eb-8c52-124ac2992a16.png)

for the above example

[2021-01-14 12:03] monzug commented on #610
Super. tested in  Alpheios Components 3.3.3-qa.20210113579

[2021-01-14 12:14] monzug commented on #608
fugiendo (https://texts-test.alpheios.net/text/urn:cts:latinLit:phi0620.phi001.alpheios-text-lat1/passage/1.1) is only verb participle fut. pass. - the present form is gone

![Screen Shot 2021-01-14 at 1 08 59 PM](https://user-images.githubusercontent.com/41396793/104589446-2ad42380-566a-11eb-9b79-2de7adc4ac4e.png)

[2021-01-14 12:53] monzug commented on #609
cool. to clarify, it's not that all adverb are now particle. adverb are still present e.g. αὐτοῦ   in the same tree as the example in this issue. this fix is to match a greek particle to a greek adverb, if a greek word has both in the tree (e.g. δ᾽ ἄρ᾽)

[2021-01-15 14:58] monzug opened #615 "Contactum does not match with the contigo intransitive and transitive verbs"
contactum (second line of https://texts-test.alpheios.net/text/urn:cts:latinLit:phi0620.phi001.alpheios-text-lat1/passage/1.1) does not match the contingo intransitive and transitive verb entries, instead we have a new contigo1 entry with no definition found. In the release, we have the treebank icon in both the intransitive and transitive contingo1 verbs. maybe a little confusion btw verb intrans

[2021-01-15 15:00] monzug commented on #615
in the release:
![Screen Shot 2021-01-15 at 3 59 55 PM](https://user-images.githubusercontent.com/41396793/104742456-bde48a80-574a-11eb-8edd-c4a65e44977c.png)

[2021-01-15 20:12] balmas commented on #608
I went a little too far with this change, per #615

It's not actually that Whitaker reports the whole lexeme as being a verb participle when an inflection has the gerundive mood, but rather that the inflection itself has a part of speech which is verb participle but the lexeme itself is a verb.  So I need to make this change a little less encompassing and more specific:
1) a gerundive mood to matc

[2021-01-18 13:54] balmas commented on #559
should be fixed in Alpheios Reading Tools 3.3.3 build qa.20210118388

[2021-01-18 13:56] balmas commented on #615
Should be fixed in Alpheios Components 3.3.3-qa.20210115626

[2021-01-18 13:56] #615 closed

[2021-01-18 13:57] balmas commented on #608
@monzug please reverify in Alpheios Components 3.3.3-qa.20210115626 (changes for #615 directly impacted this fix)

[2021-01-18 13:57] #608 closed

[2021-01-18 13:57] balmas commented on #609
@monzug please reverify in Alpheios Components 3.3.3-qa.20210115626 (changes for #615 directly impacted this fix)

[2021-01-18 14:28] monzug commented on #615
Now the popup with treebank icons is exactly what I was expecting, including the extra space. Thanks

![Screen Shot 2021-01-18 at 3 26 22 PM](https://user-images.githubusercontent.com/41396793/104927400-abb05980-59a1-11eb-8d93-a86277d922bb.png)

[2021-01-18 14:45] monzug commented on #559
The logo has changed in the dock to match the safari and chrome icons. see attachment
![Screen Shot 2021-01-18 at 3 34 51 PM](https://user-images.githubusercontent.com/41396793/104928831-65f49080-59a3-11eb-8143-707879b9699f.png)

I still do not see any size changes of the Alpheios icon in the Safari toolbar.

![Screen Shot 2021-01-18 at 3 36 25 PM](https://user-images.githubusercontent.com/4139679

[2021-01-18 15:33] monzug commented on #609
question: have interjection and exclamation also merged? see latest build vs release

![Screen Shot 2021-01-18 at 4 33 06 PM](https://user-images.githubusercontent.com/41396793/104934905-e1a60b80-59aa-11eb-86aa-9d67aeac0f30.png)

![Screen Shot 2021-01-18 at 4 32 29 PM](https://user-images.githubusercontent.com/41396793/104934910-e2d73880-59aa-11eb-8ea2-63637bee591e.png)

[2021-01-18 16:08] balmas commented on #609
oh, this is a good catch! No, that's actually a bug.  I need to fix the bug.

But you're right, it's better when we consider exclamation and interjection the same. Do you think there is any reason not to?  Is  exclamation a more granular form of an interjection ?  (@vgorman1 and @rgorman I welcome your input on this question - Whitaker parses agedum as an interjection; it's treed as an exclamation

[2021-01-18 16:13] balmas commented on #559
I noticed that weird thing with the icon in the help too and was going to fix it with the next build.

Does the icon in the toolbar not look any different at all? I thought it looked a little better in Mac 10 Catalina. I haven't upgraded to Big Sur yet.  Can you send me a screenshot of that?

![Screen Shot 2021-01-18 at 11 11 51 AM](https://user-images.githubusercontent.com/644870/104939238-2bc4c8

[2021-01-18 16:15] vgorman1 commented on #609
All interjections is best.

Sent from my Verizon, Samsung Galaxy smartphone
Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Bridget Almas <notifications@github.com>
Sent: Monday, January 18, 2021 10:08:57 AM
To: alpheios-project/alpheios-core <alpheios-core@noreply.github.com>
Cc: Vanessa Gorman <vgorman1@unl.edu>; Mention <mention@noreply.github.com>
Subject

[2021-01-18 16:16] monzug commented on #609
*h.* Interjections are mere exclamations and are not strictly to be classed
as parts of speech. Thus, *heus* (halloo!),*ō* (oh!).

On Mon, Jan 18, 2021 at 5:09 PM Bridget Almas <notifications@github.com>
wrote:

[2021-01-18 16:22] monzug commented on #559
![Screen Shot 2021-01-18 at 5 21 14 PM](https://user-images.githubusercontent.com/41396793/104940188-ad821900-59b1-11eb-83dc-c9b91218b444.png)

and there is one above with alpheios no active (still blue though)

[2021-01-18 16:24] monzug commented on #559
this is in Chrome on Mac
![Screen Shot 2021-01-18 at 5 24 18 PM](https://user-images.githubusercontent.com/41396793/104940452-09e53880-59b2-11eb-84fb-a4f9ca9f55aa.png)

[2021-01-18 18:27] balmas commented on #609
It seems we also at some point normalized the Greek treebank to interjection so Arethusa isn't correctly mapping parsing exclamation in a treebank file anymore. I'll need to update the Alpheios trees for this too.

[2021-01-18 18:42] balmas opened #617 "need to be able to retrieve short defs after disambiguation"
With Greek, because we get the short definitions separately from the morphological parse, we are able to retrieve definitions for the lemmas identified by the treebank because we retrieve short definitions separately from the morphological parse. With Latin, we get our short definitions from Whitaker, in the same step as the morphological parse, and so if the treebank identifies a lemma that was m

[2021-01-18 18:59] monzug commented on #609
getting back this one to finish retesting on mac

[2021-01-18 20:41] balmas commented on #559
Ugh, so Safari adds that awful blue color automatically to the extension when it's active. They say if we give them a colored icon they will use that color instead, but I think maybe we can have only 1 color and our colored version of the icon has 2 (blue and black) and I'm having trouble getting one that works. I'm not sure, if I can get a colored one to work if it will look good only older versi

[2021-01-18 20:51] balmas commented on #609
ok the exclamation/interjection normalization is in Alpheios Components 3.3.3-qa.20210118566

[2021-01-18 21:06] #609 closed

[2021-01-19 15:08] monzug commented on #609
tested for agendum  and heu   for interjection and exclamation
γάρ   and  κ᾽  and  μέν   for particle and adverb

[2021-01-19 16:01] monzug opened #620 "Ignore a specific character around a Greek word"
Double click does not work for  †οὖνπερ
ἱεροδόκα†  in  https://texts.alpheios.net/text/urn:cts:greekLit:tlg0085.tlg001.alpheios-text-grc1/passage/1-30    line 362 and 363 because of the †.  could we ignore it?

[2021-01-19 19:03] balmas commented on #559
the icon on the help page should be fixed in webextension build qa.20210119566

fixing the icon on the toolbar is going to have to wait.  We can only have 1 color, and that won't work well for the older browsers which won't handle the grayscaling appropriately.

[2021-01-19 19:03] #559 closed

[2021-01-19 21:49] balmas opened #618 "disambiguation error when source and disambiguator lemmas have different digits"
found by @monzug

ine 78 of https://texts.alpheios.net/text/urn:cts:greekLit:tlg0012.tlg001.alpheios-text-grc1/passage/1.1-1.30

look at   ὃς

in the release we have ὃς1  and ὃς2  with the tree icon on ὃς1
in the latest build, we have ὃς twice  as pronoun ὃς1: who, which, that and treebank icon on both

question: if we have ὃς1 in both pronoun, why is ὃς  repeated twice?
the only difference is tha

[2021-01-19 21:50] balmas commented on #618
this is caused by the fix for #599

[2021-01-20 01:03] balmas commented on #618
fixed in Alpheios Components 3.3.1-20200821376

[2021-01-20 01:03] #618 closed

[2021-01-20 12:26] balmas commented on #620
yes this would be easy but it needs to wait for the next release.

[2021-01-20 12:56] monzug commented on #620
No problem. Thanks

[2021-01-20 13:21] monzug commented on #559
Thanks for fixing the icon on the help page. see attachment

![Screen Shot 2021-01-20 at 2 19 43 PM](https://user-images.githubusercontent.com/41396793/105180400-d0840880-5b2a-11eb-9253-6f42b7e55853.png)

[2021-01-20 13:23] monzug commented on #559
@balmas, I marked this one as verified. not sure if we want to keep track of the icon on toolbar with this item, a new one or let it go. advise, pls.

[2021-01-20 13:50] balmas commented on #559
I'll make a new issue. Thank you!

[2021-01-20 13:56] monzug commented on #618
ὃς is fixed now in Alpheios Embedded Library 3.3.1-20200821383
Alpheios Components 3.3.3-qa.20210119683

![Screen Shot 2021-01-20 at 2 55 34 PM](https://user-images.githubusercontent.com/41396793/105184392-9701cc00-5b2f-11eb-8222-b642cb52f1f8.png)

[2021-01-20 14:36] monzug commented on #608
retested in Alpheios Embedded Library 3.3.1-20200821383
Alpheios Components 3.3.3-qa.20210119683  on Mac

[2021-01-20 14:45] monzug opened #621 "would it be possible to fix the lines in pop-up?"
Just looking at procedere in https://texts-test.alpheios.net/text/urn:cts:latinLit:phi0620.phi001.alpheios-text-lat1/passage/1.1. (it's also in the release). I would suggest to go to a new line after pres.inf act. see screenshot for a better idea of what I am talking about

![Screen Shot 2021-01-20 at 3 36 16 PM](https://user-images.githubusercontent.com/41396793/105190220-11354f00-5b36-11eb-85d0-

[2021-01-20 14:47] balmas commented on #621
ah, I see what you mean. Well, let's see if there is anything else that urgently needs to be fixed before deciding when to do this one.

[2021-01-20 15:04] monzug opened #622 "Greek demonstrative and interrogative pronoun tables missing in Browse Inflection tables"
we are not showing the demonstrative and interrogative pronoun tables in Browse inflection tables.  I can actually match to those tables with οὗτος  or  τίνοιν
this is in the release Alpheios Embedded Library 3.3.1-20200821383
Alpheios Components 3.3.1-20200821376       and in   Alpheios Embedded Library 3.3.1-20200821383
Alpheios Components 3.3.3-qa.20210119683

[2021-01-20 16:00] balmas commented on #589
verified the following scenarios with
Alpheios Embedded Library 3.3.1-20200821383
Alpheios Components 3.3.3-qa.20210119683

`enableMouseOverride:yes` (tested at https://alpheios-misc-dev.s3.us-east-2.amazonaws.com/treebank-test-page/auth-mouse-no-trigger.html)
`enableMouseOverride:yes, triggerPreCallback: <function that returns true>` (tested at https://alpheios-misc-dev.s3.us-east-02.amazonaws.co

[2021-01-21 14:28] monzug opened #623 "Remove numbers from lemma in wordlist"
Remove numbers from lemma in wordlist, see #599 for reference.
double click on omnia in https://texts-test.alpheios.net/text/urn:cts:latinLit:phi0959.phi006.alpheios-text-lat1/passage/1.1-1.30
the lemma is omnis1, omne, omnia in wordlist. also when limit to lemma, the number is still in the lemma. (note that the lemma in wordlist from a lookup word does non have any number)

![Screen Shot 2021-01-

[2021-01-21 15:41] balmas commented on #621
this is a dupe of #429

[2021-01-21 15:41] #621 closed

[2021-01-21 15:43] balmas commented on #429
Let's do the easy solution (as in https://github.com/alpheios-project/alpheios-core/issues/429#issuecomment-640685444). Please make the fix in a branch off of the incr-3.3.x branch.

[2021-01-21 15:44] balmas commented on #623
please make the fix in a branch off of the incr-3.3.x branch.

[2021-01-21 15:45] balmas commented on #620
please make the fix in a branch off of the incr-3.3.x branch

[2021-01-21 15:47] balmas commented on #560
@kirlat I was not able to reproduce but if you are able to , please make the fix in a branch off the incr-3.3.x branch

[2021-01-22 17:19] kirlat commented on #620
Has been merged into ` incr-3.3.x`.

[2021-01-25 02:55] irina060981 commented on #590
it is the same as https://github.com/alpheios-project/alignment-editor-new/issues/101
it doesn't need aditional verification - would be verified with https://github.com/alpheios-project/alignment-editor-new/issues/101

[2021-01-25 13:56] kirlat commented on #623
This issue seems to be related to the usage of Treebank data. It does not occur when the Treebank data is not involved.

I am able to reproduce it and is on my way fixing it.

[2021-01-25 13:58] monzug commented on #623
Yes, it's treebank related. see also #599

[2021-01-25 18:21] kirlat commented on #623
The variant returned by the Treebank is `omnis1`, and due to how our current disambiguation works, we prefer that variant for the `lemma.word` over the Tuft's value of `omnis`.

The disambiguation function that decides this is https://github.com/alpheios-project/alpheios-core/blob/incr-3.3.x/packages/data-models/src/lemma.js#L221-L266. Both words has no mixed cases and both do not need normalizati

[2021-01-26 09:46] kirlat commented on #429
I've made the fix, the output for `videre` looks like below now:
![image](https://user-images.githubusercontent.com/18631055/105827449-73310100-5fdb-11eb-81a4-ebe0b3430210.png)

The change, however, affects all other words that have inflections. Inflections are moved to the next line as shown in the example below:

before:
![image](https://user-images.githubusercontent.com/18631055/105827835-e76ba

[2021-01-26 14:19] monzug commented on #623
Unfortunately I don't know what the algorithm can be. I thought it was related to #599 but it might not.
I cannot give much input here, except an other example
![Screen Shot 2021-01-26 at 2 55 43 PM](https://user-images.githubusercontent.com/41396793/105856812-e8a3ce00-5fe9-11eb-8c9b-5d611780dc14.png)

[2021-01-26 14:25] monzug commented on #623
and from lookup
![Screen Shot 2021-01-26 at 3 24 56 PM](https://user-images.githubusercontent.com/41396793/105857557-b21a8300-5fea-11eb-9c77-87fc840260ca.png)

[2021-01-26 14:32] monzug commented on #429
I found videre in https://texts.alpheios.net/text/urn:cts:latinLit:phi0620.phi001.alpheios-text-lat1/passage/1.1, then in the same passage we have conquirere, perfundere, procedere

![Screen Shot 2021-01-26 at 3 29 24 PM](https://user-images.githubusercontent.com/41396793/105858380-8ba91780-5feb-11eb-9655-badebe09d942.png)
![Screen Shot 2021-01-26 at 3 28 54 PM](https://user-images.githubuserconte

[2021-01-26 14:59] monzug commented on #429
and amare from lookup

![Screen Shot 2021-01-26 at 3 58 43 PM](https://user-images.githubusercontent.com/41396793/105861907-7e8e2780-5fef-11eb-82a1-d3401cbf565d.png)

[2021-01-26 21:21] balmas commented on #429
Agree. @kirlat if this is all we can do without risky changes, let's just drop it for now. Thanks.

[2021-01-27 12:54] balmas commented on #623
@kirlat for #141 we introduced a `displayWord` method on Lemma, which produces a version of the lemma stripped of trailing digits for display purposes only. As you noted, we need to keep the original lemma with the digit intact, for matching against treebanks and dictionaries, but the digit is meaningless for most end-users.

I think the wordlist could just use this function on lemma to display th

[2021-01-27 14:03] monzug opened #628 "Wordlist: number of times looked up a word after login set to 1"
@irina060981 question for you: why does the number of times you have looked up a word in wordlist go back to 1 after login?

e.g. as guest user, double click on few latin words 2 or 3 times, then log in and go to wordlist and limit to this session.
the number of times you have looked up a word in wordlist goes back to 1

as guest user
![Screen Shot 2021-01-27 at 2 57 53 PM](https://user-images.git

[2021-01-27 17:02] kirlat commented on #560
I cannot reproduce it either, no matter what I try. An interesting thing is that on all @monzug screenshots there is no scrollbars on any of the images, even if the content does not fit the panel. Here is a screenshot with the scrollbar from my tests for comparison:
![image](https://user-images.githubusercontent.com/18631055/106025384-1f5d0f80-60e2-11eb-8ba1-2e996a2ff11e.png)
Please compare it wit

[2021-01-27 17:27] monzug commented on #560
this is really a super minor thing. anyhow, my environment is Safari 14.0.2 MacOs Big Sur. the scroll bars are hidden until I activate them by scrolling.  I was able to repro in Safari with a wordlist longer than visible page, then scroll down a little, next go to login or grammar or any other options and you'll see only a portion of the top or nothing at all (depending how much I scrolled down on

[2021-01-27 17:43] kirlat commented on #623
By saying "show" do you mean that we should adjust the display logic rather than that of a disambiguation?

Let's consider the first scenario, when one word has `1` at the end and the other has no digits. Right now such words will be disambiguated, and we'll keep the variant with the `1`. Because of that during the display phase we cannot chose what to show because the other value (without the dig

[2021-01-27 17:54] kirlat commented on #560
That might be thing that makes a difference. I was testing it in Safari 13 on macOS Catalina. If I'll upgrade to Big Sur and Safari 14 that goes with it there will be no way back for me other than to reinstall the OS. But in order to provide compatibility we still has to test it with Safari 13 so it's probably better to stay on the older version for a while. I can only use BrowserStack to get scre

[2021-01-27 19:04] monzug commented on #560
Unfortunately with BrowserStack we have limited options for testing.

On Wed, Jan 27, 2021 at 6:55 PM kirlat <notifications@github.com> wrote:

[2021-01-28 09:12] irina060981 commented on #560
@kirlat , actually - you could open Inspect Item and see styles:

you could connect manually
click Live in the menu -> you would see this dashboard

![image](https://user-images.githubusercontent.com/12377640/106115374-72939880-619c-11eb-9f62-f962e5d663c8.png)

Choose the appropriate environment - I chose Mac OS Catalina Safari 13.1

It will open it via remote access

there you could click right m

[2021-01-28 10:35] monzug commented on #560
Thanks Irina. I used my daughter's old computer (Catalina, safari 14.0,
13.3 inch, 1440x900) and was not able to reproduce it. Mine is running Big
Sur, Safari 14.0.2, 13.3-inch (1440 × 900)

On Thu, Jan 28, 2021 at 10:12 AM Sklyarova Irina <notifications@github.com>
wrote:

[2021-01-28 12:22] kirlat commented on #560
Thank you so much @irina! I did not realize that we can inspect styles in BrowserStack. Now I see it, will try to reproduce the bug. I see that Safari 14 hides the scrollbars by default (but that does not seem to cause any problems for the layout).

[2021-01-28 13:43] monzug commented on #628
maybe this would be a question for @kirlat

[2021-01-28 13:48] monzug commented on #560
@kirlat, yes as I said above in Safari 14.0 and up, the scroll bars are hidden until I activate them by scrolling.

[2021-01-28 15:28] balmas commented on #623
Actually @kirlat this is not a question of disambiguation at all. It's about what lemmas we actually display in the wordlist. So yes to the following:

I'm not sure if we need to mark the lexeme at all -- couldn't the decision be made by the display component? That's essentially what happens in the popup -- e.g. see

https://github.com/alpheios-project/alpheios-core/blob/master/packages/components

[2021-01-28 16:09] kirlat commented on #623
Thanks for explaining! So I'll apply `lemma.displayWord()` to the lemmas that are displayed in the word list.

[2021-01-29 02:05] irina060981 commented on #628
I work now only with alignment-editor - but I could check - as I was creating this code

[2021-01-29 06:18] monzug commented on #628
Irina, Thanks. it's just a question so if it's not too much of a burden for
you, it would be nice. Thanks

On Fri, Jan 29, 2021 at 3:05 AM Sklyarova Irina <notifications@github.com>
wrote:

[2021-01-29 13:35] kirlat commented on #429
The more compact solution is possible only if we change the structure of the inflection group display elements, maybe even across several Vue components, and I'm afraid to think about what implications for the multitude of all the test cases this may cause. So I would say we'd better delay it, if we can afford to do so. In the end, this probably affects only a relatively small subgroup of all the

[2021-01-29 13:57] kirlat commented on #560
Sorry, I can't reproduce it. Tried everything I can in BrowserStack, but this issue does not come up, no matter what I do. The limitation of the BrowserStack is that I can use it only on pages with the embedded library (because there is no way to test a webextension in BrowserStack) and that's the very limited amount of test cases. The issue may be caused by formatting quirks of other pages but th

[2021-01-29 15:06] balmas commented on #429
ok. Moving this out of the pre-pause project then. thanks.

[2021-01-29 15:07] balmas commented on #560
Agree. removing from the project. thanks.

[2021-01-29 20:33] balmas opened #632 "ability to track usages of a short definition index"
A requirement for incorporating the Portuguese dictionary is that we need to be able to report back data on how often the resource was used for lookups.

[2021-02-01 10:00] irina060981 commented on #590
Verified with https://github.com/alpheios-project/alignment-editor-new/issues/101

[2021-02-01 12:06] irina060981 commented on #628
@balmas, I found the problem - and created PR for fixing it

[2021-02-01 12:38] monzug commented on #628
Great! Thanks

[2021-02-01 14:24] monzug commented on #136
I got the yellow message when double clicking on paenitere from wordlist.
FF:  Alpheios Reading Tools 3.3.3 build 20210122645
Alpheios Components 3.3.3-20210122585

[2021-02-02 08:13] irina060981 commented on #628
Merged and closed (to both master and incr-3.3.x)

[2021-02-02 08:13] #628 closed

[2021-02-02 13:50] monzug commented on #530
@balmas for future releases

[2021-02-02 13:50] #530 closed

[2021-02-02 13:53] monzug commented on #628
@balmas, for future releases

[2021-03-10 10:31] irina060981 opened #639 "Add ability to define language of the text from the character's set"
- investigate libraries/methods to define language for the lookup words from character's set
- add ability to define language from the character's set
- merge it to production `incr-3.3.x`

[2021-03-23 12:24] irina060981 commented on #639
Priorities for language definition:
1. html markup
2. language detection from unicode
3. default language

if a user updates language in a popup for empty lexical query - it would have the biggest priority

[2021-03-26 11:26] irina060981 commented on #639
@monzug , this is ready for testing

[2021-03-30 13:05] monzug commented on #639
I uploaded a file with Arabic text set as Italian. the language detection failed, offering to choose a new language from drop-down. As Arabic is one of the supported languages in pop-up, I was expecting to be able to detect the language. maybe, I misunderstood this fix. see attachment

![Screen Shot 2021-03-30 at 2 57 55 PM](https://user-images.githubusercontent.com/41396793/112993331-65c5fd80-916

[2021-03-30 17:39] monzug commented on #639
still to test in web extension

[2021-03-31 10:43] irina060981 commented on #639
quite right

[2021-03-31 10:51] irina060981 commented on #639
We talked about this on the meeting and agreed, that we should consider - if a language was defined in HTML markup, than we should trust it more than language detection

[2021-03-31 10:51] irina060981 commented on #639
With the help of webextension I believe

[2021-03-31 13:24] monzug commented on #639
Thanks Irina, I did also use the test.html file that is very similar to yours

[2021-03-31 13:34] monzug commented on #639
test on build  Alpheios Reading Tools 3.3.3 build incr-3.3.x.20210331291
Alpheios Components 3.3.3-incr-3.3.x.20210326.58 build i639-language-detect-2.20210331450  in  FF/PC

in the latin library, I did not experience any difference with the new build. On the contrary in the Scaife site, the priority is now
on eng as markup language. this is new because I was always able to lookup Latin words with

[2021-03-31 22:33] irina060981 commented on #639
I believe the problem here - is in incorect markup that is set by site developers.
But the behaviour should be the same as it was with previous version.
The priority of markup was always set.

could you give me a link? I would check with previous version of webextension

[2021-04-01 05:56] monzug commented on #639
I checked against the previous version and the behaviour is not the same.
see this link
https://scaife.perseus.org/reader/urn:cts:greekLit:tlg0085.tlg001.perseus-grc2:1-30/
and compare latest build vs build

On Wed, Mar 31, 2021 at 6:33 PM Sklyarova Irina ***@***.***>
wrote:

[2021-04-01 06:03] monzug commented on #639
![Screen Shot 2021-04-01 at 7 55 33 AM](https://user-images.githubusercontent.com/41396793/113250380-ac7a3b80-92c0-11eb-8404-e8bf72acb00c.png)

[2021-04-01 06:03] monzug commented on #639
![Screen Shot 2021-04-01 at 7 52 55 AM](https://user-images.githubusercontent.com/41396793/113250413-bd2ab180-92c0-11eb-8ceb-d9d86bd902e3.png)

[2021-04-01 06:05] monzug commented on #639
I am experiencing Github issues. let me reload jpg one by one

[2021-04-01 06:07] monzug commented on #639
![chrome-latin](https://user-images.githubusercontent.com/41396793/113250710-06faa400-928f-11eb-91c8-9d8ef814a61c.JPG)

[2021-04-02 09:51] irina060981 commented on #639
I checked the code of previous version and found out why behaviour is changed.

Previously there were the following workflow:

- get the language of the page
if it is defined but not supported by us then we get language from the options

I would describe the results of language detection to the meeting

[2021-04-12 08:15] irina060981 opened #644 "Add adapter for language detection"
We need a new adapter for the API - https://detectlanguage.com/documentation
It would be used for language detection for texts in Alignment Editor

[2021-04-14 04:30] irina060981 commented on #639
Decided on the meeting:

if defined language is unsupported - use default language (as it was before)
if a user chose another language it is used as priority without limitation for the page

[2021-04-14 13:55] monzug commented on #639
Tested in FF, Chrome and Safari Alpheios Translation Alignment editor 1.3.2 (build development.20210412682)
Irina, I do not see any change compare with previous version. When I have a Latin text that has been saved as English, I can select Latin from dropdown (it's an empty box in the pop-up), then I can doble click on a Latin word and the morphology popup is generated for the Latin word. For any

[2021-04-14 22:38] irina060981 commented on #639
Yes, changes are not pushed to the environment - these changes are waiting a review from Zack :)

[2021-04-15 07:09] monzug commented on #639
Great. Thanks

[2021-04-15 11:06] irina060981 commented on #639
@monzug , changes are implemented
the fresh release of webextension is here - https://github.com/alpheios-project/webextension/releases

also changes are in the Alignment Editor

[2021-04-15 11:06] #639 closed

[2021-04-15 12:39] monzug commented on #639
Preliminary testing is positive. Need to do extensive testing also in webextension

[2021-04-23 13:11] #644 closed

[2021-06-03 13:55] monzug commented on #639
example of improvement: page language set to Arabic but text is in Latin
latest release
 Alpheios Reading Tools 3.3.3 build 20210122645
Alpheios Components 3.3.3-20210122585

build Alpheios Reading Tools 3.3.3 build incr-3.3.x.20210415330
Alpheios Components 3.3.3-incr-3.3.x.20210331255 build i644-language-detect-adapter.20210415365

![monstrifero](https://user-images.githubusercontent.com/4139679

[2021-06-03 14:06] monzug commented on #639
in scaife.perseus.org, any greek text with page language set to latin or arabic does still give the language is not found in xxx resources message.

[2021-06-21 01:39] irina060981 opened #647 "Add a new glossary for Latin short definitions (paideia)"
[1A Glossary.txt](https://github.com/alpheios-project/alpheios-core/files/6683507/1A.Glossary.txt)

from @balmas
I wrote up the instructions for adding a new short definitions file to
Alpheios at
https://github.com/alpheios-project/documentation/blob/master/development/adding-short-definitions.md

The minimum additional step that is needed for Paidea here is to add a
parameter to the embedded libr

[2021-06-24 14:36] monzug opened #648 "Link to Grammar from pop-up"
Alpheios Reading Tools 3.3.3 build incr-3.3.x.20210415330
Alpheios Components 3.3.3-incr-3.3.x.20210331255 build i644-language-detect-adapter.20210415365

Just noticed that when I link an element from the morphology pop-up to the grammar (e.g. click on conjugation), The tab opens to the list of Grammars with no default selection. Link should take to the pertinent part of the Grammar based on the s

[2021-08-06 01:13] irina060981 opened #655 "Add ability not to close popup on click out of the modal"
For the using along with annotations - https://github.com/alpheios-project/alignment-editor-new/issues/462

[2021-08-06 11:42] irina060981 commented on #655
Added an option:

![image](https://user-images.githubusercontent.com/12377640/128505382-8ca693ed-b287-4c1e-bc53-06b685d3ef85.png)

Also this options could be pre-defined in embed-lib properties

[2021-08-06 11:42] #655 closed

[2021-08-06 11:51] irina060981 commented on #648
@monzug - I was not able to reproduce this bug on the current version
![image](https://user-images.githubusercontent.com/12377640/128506349-c00e7798-09a4-4e62-8131-369bf511d752.png)

if you could still reproduce it - give me more details

[2021-08-06 11:51] #648 closed

[2021-08-06 16:13] monzug commented on #648
You are right, it is not longer reproducible in Alpheios Translation Alignment editor 1.4.1 (build development.20210806356)
but still reproducible in  Alpheios Embedded Library 3.3.1-incr-3.3.x.20210415085
Alpheios Components 3.3.3-incr-3.3.x.20210331255 build i644-language-detect-adapter.20210415365

![Screen Shot 2021-08-06 at 12 12 54 PM](https://user-images.githubusercontent.com/41396793/12854

[2021-08-11 13:21] monzug commented on #655
tested in Chrome/Mac. works as described.

[2021-08-17 00:00] irina060981 commented on #655
This issue is only about clickaway for alignment editor - it is only for Alpheios Reading Tools.
So this clickway only about this popup and not any popup else:

![image](https://user-images.githubusercontent.com/12377640/129643530-abd6691a-7559-4baa-b089-9086815645ca.png)

So it is by design

[2021-09-29 10:09] irina060981 commented on #647
done

[2021-09-29 10:09] #647 closed

[2021-09-29 10:11] irina060981 opened #657 "Add segmentation type - one segment (tokenization adapter)"
do with https://github.com/alpheios-project/tokenizer/issues/42

- add an option to text tokenizer options - onesegment, place all text to one segment
- set onesegment as default

[2021-10-26 12:56] balmas opened #658 "make sure we don't rely on length of auth0 tokens"
Message from Auth0:

Action Required: Authorization Code and Access Token Variable Size

Dear Auth0 Customer,

Your action is required by April 12, 2022 to ensure that your system does not rely on a specific size for the Access Token and authorization code and instead can handle a variable size of these credentials.

What is changing?

Access Tokens and authorization codes are types of OAuth crede

[2021-10-26 13:05] balmas opened #659 "update Auth0 dependencies to NodeJS 12"
Message from Auth0:

We noticed you are still running Node 8 as the extensibility setting on your Auth0 tenant. Long-term support (LTS) for Node 8 ended in December 2019, which means the Node.js development team no longer back-ports critical security fixes to this version. Continuing to run with Node.js 8 could potentially expose your extensibility code to security vulnerabilities. We will be remo

[2021-10-26 13:30] #659 closed, assigned to nobody

[2021-11-15 13:13] irina060981 commented on #622
After 3 days of searching, digging inside inflection tables code, a lot of experiments - I found the problem.
There were defined not appropriate pronouns for these views in inflection browser.

I changed
**Demonstrative Pronoun Declension** - was `τούτω` - now `οὗτος`
**Interrogative Pronoun Declension** - was `τίνε` - now `τίς`

And now it works

[2021-11-15 13:25] irina060981 commented on #622
I will leave some notes here:
- the source failed check was - `GreekPronounView.getMorphemes` failed because inflectionData does not have any types
- pronoun inflection was defined as suffixBased (instead of formBased), so it doesn't find appropriate types - `LanguageDataset.setInflectionData -> hasMatchingForms for fullFormBased`
- the problem of wrong definition was in the homonym that is used a

[2021-11-15 13:27] irina060981 commented on #622
@monzug, I will prepare extension for testing in Forefox tomorrow.
It will have this change and turned off permisions (as we decided on the meeting).

[2021-11-16 14:02] monzug commented on #622
where can I download the webextension from, when ready?

[2021-11-17 04:03] irina060981 commented on #622
For now it is not ready, because as I wrote in letters we could not simply remove access permissions.
When it would be solved - it would be here - https://github.com/alpheios-project/webextension/releases

It is already there - but not working properly

[2021-11-17 09:17] monzug commented on #622
Thanks!!!

On Wed, Nov 17, 2021 at 5:04 AM Sklyarova Irina ***@***.***>
wrote:

[2021-11-17 12:42] monzug commented on #622
I did install the latest FF build by copying the dist folder over an old build that I have been using since nov 2019.
I can browse the greek pronoun tables now. However I keep getting an error: lexical data is loading from lookup and double click but not from wordlist. see below some errors that I see in the browser console. it might be my environment in which case I will be happy to start build f

[2021-11-17 23:24] irina060981 commented on #622
Both errors are not related to my changes.
Let's move them to separate issues.

[2021-11-17 23:27] irina060981 opened #662 "Change lexical dictionaries error"
I did also add/remove lexicons from short definitions but it does not properly work. I can't add/remove any lexicons and I do not see any changes in the drop-down, even if I do see differences in lookup (e.g. getting no definition found rather than lexical data is loading). By clicking on Reset all, I go back to error: Lexical data is loading.

![Screen Shot 2021-11-17 at 2 44 16 PM](https://user-

[2021-11-17 23:28] irina060981 opened #663 "Multiple popups opened simultaneously"
I also got multiple popups opened simultaneously (occasionally) in the Latin pages.
![Screen Shot 2021-11-17 at 1 55 18 PM](https://user-images.githubusercontent.com/41396793/142204865-b07517d0-aed1-4786-9529-3871adb22bbf.png)

_Originally posted by @monzug in https://github.com/alpheios-project/alpheios-core/issues/622#issuecomment-971543748_

[2021-11-17 23:29] irina060981 commented on #622
I think this issue could be closed

[2021-11-17 23:29] #622 closed

[2021-11-18 11:33] irina060981 commented on #662
I think that it was because of another bug that I solved in webextension - see new Release
https://github.com/alpheios-project/webextension/releases

[2021-11-18 11:33] #662 closed

[2021-11-18 11:35] irina060981 commented on #663
I believe that it was caused bu another bug in webextension.
Now it should be fixed in new Release
https://github.com/alpheios-project/webextension/releases

[2021-11-18 13:26] monzug commented on #622
tested in build
to be retested in Chrome, PC and MAC and  Safari/MAC

[2021-11-18 14:07] monzug commented on #663
tested in FF/PC in build  Alpheios Reading Tools 3.4.1 build incr-3.4.x.20211118345
Alpheios Components 3.3.3-incr-3.4.x.20211116233 build i662-lexical-dicts.20211118457

I haven't seen the 3 pop-ups opened simultaneously but I still see more than one pop-up, when page language is Greek and the morphology pop-up is in Latin. see below
![diffidere](https://user-images.githubusercontent.com/41396793

[2021-11-18 14:39] monzug commented on #662
perfect. this works now in build  Alpheios Reading Tools 3.4.1 build incr-3.4.x.20211118345
Alpheios Components 3.3.3-incr-3.4.x.20211116233 build i662-lexical-dicts.20211118457

[2021-11-18 22:43] irina060981 commented on #663
Will try to reproduce

[2021-11-19 00:25] irina060981 commented on #663
I am sorry, Monica, but I could not reproduce it in a new build (I saw it before my last changes).

So - if you still could reproduce it (from the latest build - be sure, that you clear previous build), I need detailed steps.

Previously these bug was because extension was attached several times (on page reload, on moving tab, on rechoosing tab).
That's why several popups was rendered at a time.

[2021-11-19 14:23] monzug commented on #663
I reinstall FF and latest alpheios build. I do not see any double pop-ups anymore. great

[2021-11-19 14:23] #663 closed

[2021-11-24 07:14] irina060981 opened #669 "Remove DefaultSiteOptions"
I found one place that should be checked:
[code]
But I believe that it could be easily updated to https, because our site is used under https
and also I think this option should not be ever used

_Originally posted by @irina060981 in https://github.com/alpheios-project/webextension/issues/325#issuecomment-970057458_

[2021-11-24 07:49] irina060981 commented on #669
Removed

[2021-11-24 07:49] #669 closed

[2021-11-24 10:22] irina060981 commented on #658
I didn't find any checks for tokens size - so I think it doesn't related to us

[2021-11-24 10:22] #658 closed

[2021-11-26 03:00] irina060981 commented on #623
This is implemented - @monzug , check this please

[2021-11-26 03:00] #623 closed

[2021-11-26 03:03] irina060981 commented on #620
It should be implemented (it was merged to the code before)

@monzug , could you check?

[2021-11-26 03:03] #620 closed

[2021-11-26 03:04] irina060981 commented on #612
It should be already implemented.
@monzug , could you check?

[2021-11-26 03:04] #612 closed

[2021-11-29 14:17] monzug commented on #623
tested some of the above Latin words. all fixed. yeahh

![Screen Shot 2021-11-29 at 3 17 14 PM](https://user-images.githubusercontent.com/41396793/143883922-1c525ee4-726f-4798-816a-37adb258f9fa.png)

[2021-11-29 14:43] monzug commented on #612
it took me a while to understand what exactly I was supposed to test but I figured it out and it has been fixed.
tested in  Alpheios Reading Tools 3.4.1 build incr-3.4.x.20211125333
Alpheios Components 3.3.3-incr-3.4.x.20211123271 build ext-i323-message.20211125609

[2021-11-29 15:09] monzug opened #672 "See declension does not work for Greek verbs in Browse Inflection Tables"
the see declension link does not work from any Greek verb in Browse Inflection Tables. However it does work when I double click on a greek verb from morphology pop-up.
see issue https://github.com/alpheios-project/alpheios-core/issues/252

it does not work also in the latest Alpheios release, so I am not sure if it has ever worked!

[2021-11-30 04:04] irina060981 commented on #612
Great - it was not very clear for me too :)

[2021-11-30 07:51] irina060981 commented on #672
Monica, I tried to investigate it.

The clicking of such link was not defined in the release.
I could try to define, but I don't know what correct behaviour should be done.

I looked up for the word `βουλεύω`, opened inflection table

![image](https://user-images.githubusercontent.com/12377640/144007036-1c198140-985a-4e77-8b66-515215a82b05.png)

Clicked on the see declension or back to main - noth

[2021-11-30 07:56] monzug commented on #672
it works from inflection table (as you can see there is a table of participle opened down the verb table). it does not work from Browse Inflection tables. if you expand the w verb present system active, you have the link see declension that does not do anything. as said in the comment above, I am not sure if it has ever worked!!!

[2021-11-30 08:22] irina060981 commented on #672
It could not work before - because this additional view is not rendered, that's why - it could not be shown.
So this feature is not realised for the browser of inflection tables.
I believe - we should postpone it. Do you agree?

[2021-11-30 08:47] monzug commented on #672
absolutely, but let's keep it in the log

On Tue, Nov 30, 2021 at 9:22 AM Sklyarova Irina ***@***.***>
wrote:

[2021-12-01 14:12] monzug commented on #622
Chrome looks good too

[2022-02-28 12:22] balmas opened #674 "user request: include context in flashcard download"
from support email:

[2022-03-29 14:21] KarolS opened #675 "InflectionList.addItems really slow"
This loop: https://github.com/alpheios-project/alpheios-core/blob/master/packages/inflection-tables/lib/inflection-list.js#L36

has quadratic complexity, which makes the whole extension really slow. It can take several seconds for the definition to pop up.

Here is a partial flame graph:

![obraz](https://user-images.githubusercontent.com/1790750/160633102-b59b395b-113b-4008-8729-28adef7ba975.png)

[2022-03-29 22:22] irina060981 commented on #675
Hello, @KarolS

I could see that you suggest to use addItem instead of addItems.
But the way it is added the same.
So your suggestion to remove duplicate check?

[2022-03-29 22:55] KarolS commented on #675
I'm not suggesting to use `addItem`, I just changed it so that it maintains the `itemIds` invariant. I don't know if it is used anywhere at all. If `addItems` is optimized, then it can still be used just fine.

The main reason `this.addItems` is slow is that `this.hasItem` is slow, so I replaced it with much faster `this.itemIds.has`.

[2022-03-30 00:53] irina060981 commented on #675
oh, I see - thank you - will review it

[2022-04-28 12:32] irina060981 commented on #675
Fixed

[2022-04-28 12:32] #675 closed

[2022-07-26 22:53] KarolS commented on #675
I'm sorry I'm saying this so late, but I only just checked.

The new implementation is still using a list and will still have quadratic performance. Why wasn't a set used?

https://github.com/alpheios-project/alpheios-core/commit/c4502de1ed96737e7fb1a18c0fc55d70366ce43d#diff-7ae71f5289ebf8f3182a3fa7366481c55a25bedeb820b939ac4415536bb9765bR8

[2022-08-02 02:11] irina060981 commented on #675
Such a change will need bigger refactoring of this library.
For now this project is almost freezed - hoping for better situation in future.

[2022-08-03 12:15] KarolS commented on #675
The only set that would be required to make it non-quadratic is itemIds, it would be a small and completely local change.
What do you mean by "freezed"?

[2022-08-04 01:55] irina060981 commented on #675
This repo has a lot of references, so any change would need much testing
If you need it in your project - you could download it locally and do changes you need.

The project has only small suport - no changes, no upgrade.