[2020-05-03 02:42] irina060981 commented on #294
oh - you are right - it is a simple bug - I missed it

[2020-05-03 03:27] irina060981 commented on #294
merged and closed

[2020-05-03 03:27] #294 closed

[2020-05-04 02:04] irina060981 commented on #295
@balmas and @kirlat , I am really sorry - it is a silly misspell in my code, I have fixed it!

[2020-05-04 02:49] irina060981 commented on #295
merged and closed

[2020-05-04 02:49] #295 closed

[2020-05-04 11:02] irina060981 commented on #292
@balmas, I found the problem, but it is an old code and I am not sure what is the purpose of such restrictions. I would describe, may be you help me with it.

The problem here is - that when we upload the setting `enableMouseMove` and it is true, it would be alway overwritten inside setting component to false.
This way we see it as unchecked because of `selectedOverride` , that is always fase on t

[2020-05-04 11:08] irina060981 commented on #292
@balmas , what was the purpose of such code? do you remember?

[2020-05-04 11:53] balmas commented on #292
I added it in this PR https://github.com/alpheios-project/components/pull/897

It was to enable this functionality:

when enabled, it applies to the entire page, not just Chinese
when enabled, the regular word lookup trigger event is deactivated
the client of components (e.g. the embedded library) can override the default setting for the mousemove event and turn it on by default for the page (user

[2020-05-04 11:58] balmas commented on #292
The point was to make sure that on a page using the embedded library where mousemove was enforced over options and where the page had both chinese and non-chinese text, lookup behavior was consistent for all languages.

But it should not apply to other pages accessed via the webextension only when mousemove is enforced by the embedded library setting.

[2020-05-04 15:32] balmas commented on #169
@monzug can this issue be closed now?  We have these follow-up issues:

#292
#288
#289

[2020-05-04 15:36] balmas commented on #295
Alpheios Components 3.3.0-qa.20200504341

[2020-05-04 15:47] balmas commented on #221
the d3 error will be addressed by alpheios-project/arethusa#807. It doesn't prevent proper functioning of the treebank lookups in alpheios, it just clutters the console with an unnecessary error.

I think we can finally start testing the treebank functionality with Alpheios Components 3.3.0-qa.20200504341

[2020-05-04 15:48] balmas commented on #147
test with Alpheios Components 3.3.0-qa.20200504341

[2020-05-04 15:49] balmas commented on #243
test with Alpheios Components 3.3.0-qa.20200504341

[2020-05-04 15:50] balmas commented on #54
Alpheios Components 3.3.0-qa.20200504341

[2020-05-04 16:04] balmas commented on #166
@monzug the original issue can be verified with any instance of περί in the treebanked texts (e.g. at https://texts-test.alpheios.net/text/urn:cts:greekLit:tlg0085.tlg001.alpheios-text-grc1/passage/878) but more generally, looking at a variety of words in treebanked texts which should be represented as disambiguated and questioning me on any that aren't.

[2020-05-04 16:09] balmas commented on #146
ok, ready for testing in Alpheios Components 3.3.0-qa.20200504341

As with  #166 - test by looking at a variety of words in treebanked texts which should be represented as disambiguated and questioning me on any that aren't.

[2020-05-04 20:06] balmas commented on #234
test page at https://alpheios-misc-dev.s3.us-east-2.amazonaws.com/treebank-test-page/index.html

[2020-05-05 09:05] kirlat commented on #259
This happens because, when a popup is narrower, a label appears on top of the control, and the top of the text at the left is aligned with the label:
![image](https://user-images.githubusercontent.com/18631055/81049757-df108e00-8ecf-11ea-8c70-f0e4847cbedd.png)

When the pop becomes wider, the label slides to the left of the control, and the result is not so pretty.

As we cannot satisfy both into

[2020-05-05 12:00] balmas commented on #259
that works for me.

[2020-05-05 12:34] irina060981 commented on #292
Merged and closed

[2020-05-05 12:34] #292 closed

[2020-05-05 12:53] balmas commented on #148
this can be verified using the test page at https://alpheios-misc-dev.s3.us-east-2.amazonaws.com/treebank-test-page/index.html

[2020-05-05 13:09] irina060981 commented on #288
Merged and fixed

[2020-05-05 13:51] balmas commented on #239
Per discussion with @rgorman, stripping all diactricts as a fallback is probably worth doing.

[2020-05-06 10:14] irina060981 commented on #104
@balmas , should I do here anything discussed ? what do you think?

[2020-05-06 11:45] balmas commented on #104
I would like to get feedback from @abrasax on this one.   I will be talking to him later this week.

[2020-05-06 11:52] irina060981 commented on #288
I have placed it to UI options:
![image](https://user-images.githubusercontent.com/12377640/81146167-1740cb00-8fbb-11ea-803e-7837b76d7720.png)

![image](https://user-images.githubusercontent.com/12377640/81146184-1dcf4280-8fbb-11ea-9092-16340811b84c.png)

[2020-05-06 11:52] irina060981 commented on #288
from @balmas

[2020-05-06 11:54] irina060981 commented on #288
see examples below in Google doc

There was a problem inside clearing punctuation Regex - now it is fixed
would be glad to get verification

[2020-05-06 12:18] monzug commented on #104
agree.

On Wed, May 6, 2020 at 7:45 AM Bridget Almas <notifications@github.com>
wrote:

[2020-05-06 12:29] monzug commented on #288
Irina, I am ready to test this. where can I find a build with this fix?

On Wed, May 6, 2020 at 7:54 AM Sklyarova Irina <notifications@github.com>
wrote:

[2020-05-06 12:34] kirlat commented on #259
Has been merged to master.

[2020-05-06 12:35] kirlat commented on #258
Changes are in master now.

[2020-05-06 12:55] balmas commented on #288
not made yet ... soon!

[2020-05-06 12:59] monzug commented on #288
ok. I thought there was attest environment somewhere. will wait.

On Wed, May 6, 2020 at 8:56 AM Bridget Almas <notifications@github.com>
wrote:

[2020-05-06 14:43] kirlat commented on #19
I've checked this on Mac in Safari, Chrome, and Firefox and on Windows in Firefox and Chrome and whenever I log out and log in again, the wordlist session terminates. The words that were marked as being from the current session during a previous log in session are not marked any more during the next log in. Maybe there were some changes made that fixed the issue. It would be good to see if it stil

[2020-05-06 15:16] #19 closed

[2020-05-06 15:48] balmas commented on #225
I think these are mainly from sourcecode maps and only appear when debugging. Closing this one as won't fix.

[2020-05-06 15:48] #225 closed

[2020-05-06 16:01] #239 closed

[2020-05-06 16:03] monzug commented on #169
sure

[2020-05-06 16:03] #169 closed

[2020-05-06 16:43] monzug opened #305 "Back to index in the Allen's grammar very slow (sometimes)"
I did experience the Back to Index slowness today again (May 6, 2020). Actually at one point it just did not do anything, while the language selector worked well. I had to close and reopen the grammar. As I need to check link to different section of the conjugation chapters, I did use back to index heavily before it just stopped working.

[2020-05-06 19:22] balmas opened #306 "upgrade to the latest version of Auth0 lock library in login form"
We're currently using lock 11.14 the latest version is 11.23.1

This is probably needed for Apple signing see alpheios-project/webextension#283
and for addressing same-site cookie warnings see alpheios-project/alpheios_nemo_ui#307

[2020-05-06 19:29] balmas commented on #306
Need to schedule a time to do this so that we can test immediately since we don't have a dev login environment yet.

[2020-05-06 20:02] balmas opened #307 "add "experimental" next to Syriac and Chinese"
if we include these languages in the release we need to flag them as experimental

[2020-05-07 13:15] balmas commented on #306
@monzug we decided to make this change live. Can you please do some testing on login per request in alpheios-project/webextension#283 ? Thank you!

[2020-05-07 15:33] balmas commented on #239
Alpheios Components 3.3.0-qa.20200507327

[2020-05-07 15:34] balmas commented on #258
Alpheios Components 3.3.0-qa.20200507327

need to create a test page for this still

[2020-05-07 15:34] balmas commented on #259
Alpheios Components 3.3.0-qa.20200507327

[2020-05-07 15:35] balmas commented on #288
Alpheios Components 3.3.0-qa.20200507327

[2020-05-07 15:36] balmas commented on #292
Alpheios Components 3.3.0-qa.20200507327

[2020-05-07 20:13] balmas opened #309 "new "Advanced" options tab"
@abrasax and I discussed this and agreed that we would like to have a new "Advanced" options tab, which contains the mousemove and google docs settings. We should also put the Log Level setting there as well.

@irina060981 I understand your concern about it being a bucket of "other" settings, but we think that's better than having them in the UI tab.

[2020-05-07 20:48] balmas commented on #104
ok, per discussion with @abrasax we'd like to move all three of the new choices on the lookup box to Options:

Enable Betacode Input
Show Betacode to Unicode Mappings
Enable Autocomplete with Logeion

And in doing so, we should make both Enable Betacode Input and Enable Autocomplete with Logeion turned on by default.

[2020-05-08 01:04] irina060981 commented on #209
Merged and closed

[2020-05-08 01:04] #209 closed

[2020-05-08 01:04] irina060981 commented on #208
@balmas, I am not sure - could I close this issue? Or it is a discussion issue with Vanessa?

[2020-05-08 12:39] balmas commented on #208
I believe these diacritics (dasia and psilii) are not functionaly equivalent.  Looking up further in Logeion it seems the form we have in the τις table,  ἅσσα, is probably incorrect. This seems to be a form of ὅστις rather than τις. So let's fix this by correcting the table data.  The correct form should be ἄσσα

[2020-05-08 12:46] vgorman1 commented on #208
ἄσσα is an Ionic dialect form of either τις or ὅστις.

Ion. for ἅτινα, neut. pl. of ὅστις,
 Ion. for τινά, masc/fem acc sg OR neut nom/voc/acc pl of τις

It only appears in a few forms.
ἄσσα: (fem nom/voc/acc dual) (fem nom/voc sg)
ἄσσης: (fem gen sg (attic epic ionic))
ἄτθ': (fem nom/voc sg) (fem nom/voc pl) (fem dat sg (doric aeolic))
ἄττ': (fem nom/voc sg) (fem nom/voc pl) (fem dat sg (doric ae

[2020-05-08 12:58] balmas commented on #208
Thank you @vgorman1 . So perhaps we should have both in our table then.

[2020-05-08 13:01] irina060981 commented on #104
Merged and closed

[2020-05-08 13:01] #104 closed

[2020-05-08 13:01] irina060981 commented on #309
Merged and closed

[2020-05-08 13:55] PonteIneptique opened #312 "Dragging extension can be erratic"
- Video : [2020-05-07 10-03-03.mkv.zip](https://github.com/alpheios-project/webextension/files/4591553/2020-05-07.10-03-03.mkv.zip)
- Browser: Firefox
- Explanation (I think): dragging works well as long as the cursor stays in the bar. But if you move quickly, as soon as your cursor (still clicked) move out of the "div", the window does not move anymore but your cursor stays in dragging position.

[2020-05-11 03:15] irina060981 commented on #208
@balmas , could you explain what do you mean saying - fix in our table?
What changes should I do and where?

[2020-05-11 15:03] balmas commented on #208
I'll add it, thanks!

[2020-05-11 19:08] balmas commented on #291
@kirlat can you take a look at this one? I think it probably needs to be done before the release because I'm a little worried about the side effects of the wordlist lookups. Thanks!

[2020-05-11 20:27] #307 closed

[2020-05-12 11:01] kirlat commented on #291
Sure, will work on it

[2020-05-12 13:15] monzug opened #315 "Double click acting funny in Latin Library"
FF and Chrome in  Alpheios Reading Tools 3.1.0 build qa.20200507338
Alpheios Components 3.3.0-qa.20200507327

as soon as I installed the latest build, I noticed that double click was acting funny in Latin Library (not Loeb Classics).
in FF, when I double click on a word it does actually select the previous or the following one (sometimes the word itself), depending on where the mouse is placed. se

[2020-05-12 13:18] monzug commented on #306
this has been done

[2020-05-12 13:18] #306 closed

[2020-05-12 13:19] balmas commented on #315
@monzug can you double check if you enable and disable mousemove, does the problem go away? I was experiencing something similar and I realized that the problem was that mousemove AND double-click seemed to be enabled at the same time. I'm not sure how that scenario occurs (and if it still does, it's a bug) but it would help to know if that is what you are experiencing too. Thanks!

[2020-05-12 13:22] monzug commented on #315
I haven't changed any default options with the latest build though.

On Tue, May 12, 2020 at 9:19 AM Bridget Almas <notifications@github.com>
wrote:

[2020-05-12 13:22] balmas commented on #315
But it could be that the initialization of the setting isn't working quite right.

[2020-05-12 13:24] monzug commented on #315
ok

On Tue, May 12, 2020 at 9:23 AM Bridget Almas <notifications@github.com>
wrote:

[2020-05-12 13:25] monzug commented on #288
Btw, I noticed that we used mouse move on UI and Mouseover in Features

[2020-05-12 13:27] monzug commented on #315
nope, it hasn't changed the behaviour.

[2020-05-12 13:30] balmas commented on #315
ok, thanks for checking.  Assigning to @kirlat to investigate

[2020-05-12 13:52] balmas commented on #288
I thought @irina060981 fixed that via another issue that's pending a build right now but I will check

[2020-05-12 14:34] monzug commented on #157
all good. did you add extra space between the searched word and the result? @balmas, if it's ok, I will be happy to verify this one.

![extra-space](https://user-images.githubusercontent.com/41396793/81704632-0ae5c380-943c-11ea-9546-286288cf9e2a.JPG)

[2020-05-12 14:35] balmas commented on #157
hmm not sure about the extra space, but you can verify this one and open a new issue for that :-)

[2020-05-12 14:36] monzug commented on #295
no problems with pop-ups in build  Alpheios Reading Tools 3.1.0 build qa.20200507338
Alpheios Components 3.3.0-qa.20200507327

[2020-05-12 14:37] monzug commented on #157
sure. will do.

On Tue, May 12, 2020 at 10:36 AM Bridget Almas <notifications@github.com>
wrote:

[2020-05-12 14:40] monzug opened #316 "Extra space between searched word and the result"
related to issue #157
there is an extra space between the searched word and the result.
build   Alpheios Reading Tools 3.1.0 build qa.20200507338
Alpheios Components 3.3.0-qa.20200507327

see screenshot
![extra-space](https://user-images.githubusercontent.com/41396793/81705345-f2c27400-943c-11ea-8874-7caa96de70f0.JPG)

[2020-05-12 14:59] monzug commented on #205
in Chrome all good.
in FF 76  build Alpheios Reading Tools 3.1.0 build qa.20200507338
Alpheios Components 3.3.0-qa.20200507327

can't move the pop-up, it has a fixed position. see screenshot

![FF-popup-still](https://user-images.githubusercontent.com/41396793/81708868-85fca900-943f-11ea-9c59-e93851951cd1.JPG)

[2020-05-12 15:24] monzug commented on #104
@irina060981 - in latest build, I do still see the issue #3 (if I change language from Greek to Latin the sample characters are still visible. they should be only available when the feature is enabled. Indeed they dissapear if I unchecked the check box and then change language.) I see that the status is waiting_build, but I just want to know if issue 3 will be fixed also. Thanks

[2020-05-12 15:53] balmas commented on #316
@irina060981 can you investigate? Thank you!

[2020-05-12 16:47] balmas commented on #200
@monzug also, when testing the wordlist changes, can you provide an opinion on whether or not you think more explanatory information is needed for the user about what the new columns and filter options are? @abrasax and I discussed maybe doing this via a help popup from the panel, but I'm not positive if it's necessary or not.

[2020-05-12 16:48] balmas opened #317 "remove time from display of last_updated on wordlist"
in review with @abrasax we decided that it is unnecessary to show the timestamp of the last_updated field to the user. We should definitely save a full timestamp but the display should just show the date.

[2020-05-12 16:50] balmas opened #318 "wordlist - remove "by" in dropdown limit labels"
Currently the wordlist limit drop down is labeled as "Limit to" and then each of the items in the limit list starts with "by", which doesn't make sense grammatically.  We should drop the "by" on the label text for each of the items in the limit dropdown

[2020-05-12 17:20] balmas opened #319 "support syriac words parsed with meaning but no inflection data"
for some words sedra returns meanings but no inflection data. We currently are showing no results found for them because they don't have at least a part of speech, the default rule for the adapter. We should allow these for the sedra engine.

[2020-05-12 18:14] balmas opened #320 "add lang attribute to lemma in short definition on popup"
we don't currently include the lang attribute on the lemma next to the short definition in the morph component, which prevents language-specific font, etc. from being applied.

E.g. see result for ܐܒܪܐ in syriac, font is correct on the form and the top lemma, not on the lemma next to the short def.
![7ac0aa36-ee50-481e-b198-8e099f913d19](https://user-images.githubusercontent.com/644870/81730023-ee

[2020-05-12 18:46] balmas opened #322 "make default max size of popup smaller"
I think we should make the max default size of the popup smaller than it is, now that we have added the ability for people to configure this (via #263). Currently the default is 1200px which produces a really big popup when definitions or credit text is long.

I think the medium width of 800px would probably work.

[2020-05-12 19:45] balmas opened #324 "add treebank data to wordlist items?"
Currently if a word is looked up in a context which provides a treebank, although the lemma identified by the treebank gets added to the item, we don't retain the information that the word was disambiguated by a tree, or any details which we could use to re-retrieve that data short of going back to the original context and redoing the lookup. This could result in wordlist downloads containing diff

[2020-05-13 09:02] irina060981 commented on #318
Merged and closed

[2020-05-13 09:02] #318 closed

[2020-05-13 11:30] irina060981 commented on #104
@monzug, I added additional check to showing beta codes info panel
so now - it checks for the setting and for the language
I could see it in the curent master branch.

So I believe it should work after build.

[2020-05-13 11:53] monzug commented on #104
wonderful. Thanks

On Wed, May 13, 2020 at 7:30 AM Sklyarova Irina <notifications@github.com>
wrote:

[2020-05-13 12:53] monzug commented on #251
Now we have a white background color but when mouse over Don't ask me again it's still black, see screenshot is #292

[2020-05-13 12:57] monzug opened #328 "Pop-up is slightly different from release"
related to #251
I noticed a couple of differences with the release
1) we are missing the semi colon
2) verb participle is not in green
see screenshots
RELEASE

![release-loeb](https://user-images.githubusercontent.com/41396793/81815047-86f11180-94f7-11ea-8a7a-e53afc183216.JPG)

BUILD Alpheios Reading Tools 3.1.0 build qa.20200507338
Alpheios Components 3.3.0-qa.20200507327

![build](https://user-i

[2020-05-13 13:16] monzug commented on #292
tested in Chrome (loeb and latin library) and FF (Loeb) - works perfectly.

[2020-05-13 13:21] monzug commented on #54
it's till not highlighted
lookup for  ἔσεσθαι   the table does not have any cell highlighted. it does when I lookup εἶναι  (present infinitive active)

[2020-05-13 13:27] monzug commented on #273
tested in FF and Chrome. looks good

[2020-05-13 13:32] monzug opened #329 "Can we improve the look of input betacode?"
1) I do not like that the text is not aligned with Word lookup
2) the font is different, also in size
3) the question mark is slightly not aligned and also the style is different from the page
4) Overlapping of the frame of the lookup when expanded with the toolbar
5) check box is input Betacode, the text below starts with Betacode input. Why?
6) can we add an extra space between the sample charac

[2020-05-13 13:37] balmas commented on #329
@monzug this is mostly going to change with the fixes described at https://github.com/alpheios-project/alpheios-core/issues/104#issuecomment-625489286

[2020-05-13 13:38] #319 closed

[2020-05-13 13:39] monzug commented on #260
No longer reproducible in Alpheios Reading Tools 3.1.0 build qa.20200507338
Alpheios Components 3.3.0-qa.20200507327

[2020-05-13 13:43] monzug commented on #252
yes, it works in Alpheios Reading Tools 3.1.0 build qa.20200507338
Alpheios Components 3.3.0-qa.20200507327

[2020-05-13 13:51] monzug commented on #329
Great. I change to waiting verification and assigned to me when 104 is done.

On Wed, May 13, 2020 at 9:37 AM Bridget Almas <notifications@github.com>
wrote:

[2020-05-13 13:52] #162 closed

[2020-05-13 13:57] balmas commented on #162
Note, this will be released as an experimental language. Credits fixes require changes on the Sedra side and will be done in a future release.

[2020-05-13 13:57] #208 closed

[2020-05-13 14:06] balmas commented on #140
I'm closing this issue and will enter new issues for remaining items.

[2020-05-13 14:06] #140 closed

[2020-05-13 14:08] balmas opened #330 "move adapter configuration to config service"
now that we have the config service (#140) we should consider moving all urls defined in the client adapter config files (e.g. for morph services, concordance, lexical, etc.) to the core config.

[2020-05-13 14:08] kirlat opened #331 "Refactor provider data retrieval"
We need to update provider data during lexical queries initiated by a wordlist code. HOMONYM_READY, SHORT_DEFS_READY, and LEMMA_TRANSL_READY events that are generated during a lexical query may trigger an update of provider data.

Right now callbacks of those events in a UI controller update both the UI and retrieve provider data. We need to change it so that a UI controller will be responsible fo

[2020-05-13 14:49] kirlat commented on #291
It has been merged to master now

[2020-05-13 17:16] kirlat commented on #251
Hope that the latest changes just merged into master would fix this.

[2020-05-13 18:58] balmas commented on #320
Alpheios Components 3.3.0-qa.20200513442

[2020-05-13 18:59] balmas commented on #208
Alpheios Components 3.3.0-qa.20200513442

[2020-05-13 19:01] balmas commented on #162
Alpheios Components 3.3.0-qa.20200513442

@monzug a good place to look for Syriac words that *should* produce results in Alpheios are the texts at http://sedra.bethmardutho.org/library

[2020-05-13 19:04] balmas commented on #322
Alpheios Components 3.3.0-qa.20200513442

[2020-05-13 19:05] balmas commented on #319
Alpheios Components 3.3.0-qa.20200513442

[2020-05-13 19:05] balmas commented on #318
Alpheios Components 3.3.0-qa.20200513442

[2020-05-13 19:06] balmas commented on #307
Alpheios Components 3.3.0-qa.20200513442

[2020-05-13 19:08] balmas commented on #104
Alpheios Components 3.3.0-qa.20200513442

[2020-05-13 19:09] balmas commented on #309
Alpheios Components 3.3.0-qa.20200513442

[2020-05-13 19:09] #251 closed

[2020-05-13 19:10] balmas commented on #251
Alpheios Components 3.3.0-qa.20200513442

[2020-05-13 19:10] balmas commented on #291
Alpheios Components 3.3.0-qa.20200513442

[2020-05-13 19:13] balmas commented on #291
@monzug a test scenario for this is the following:

(1) login
(2) lookup a bunch of words so that they get added to your wordlist
(3) logout
(4) clear your browser cache
(5) login again
(6) do a lookup of some other word (i.e. not one on your wordlist, maybe in a different language)
(7) export some items from your wordlist in flashcard format
(8) make sure nothing weird is happening in the UI as a

[2020-05-14 06:19] irina060981 commented on #317
Merged and closed

[2020-05-14 06:19] #317 closed

[2020-05-14 06:19] irina060981 commented on #316
Merged and closed

[2020-05-14 06:19] #316 closed

[2020-05-14 12:24] monzug commented on #329
this is all gone with the new Advanced tab in Options.
I wouldn't mind to add extra space between the sample characters and the separation line. @balmas?

[2020-05-14 12:37] balmas commented on #329
that's a good idea. @irina060981 can you do that for me? Thank you!

[2020-05-14 12:38] monzug commented on #208
we have both form now in the accusative neuter plural

[2020-05-14 12:38] balmas opened #334 "Add extra space between beta chars and the separation line below it"
I wouldn't mind to add extra space between the sample characters and the separation line. @balmas?

_Originally posted by @monzug in https://github.com/alpheios-project/alpheios-core/issues/329#issuecomment-628598818_

[2020-05-14 12:47] monzug commented on #288
we still have mouseover and mouse move.
also in FF (loeb classics), the frame is not visible, while in FF latin library is barely visible.
see screenshots in Chrome and FF

![mouseover-FF](https://user-images.githubusercontent.com/41396793/81935936-62606c80-95bf-11ea-8bc6-76de7b40b237.JPG)

![mouseover](https://user-images.githubusercontent.com/41396793/81935939-63919980-95bf-11ea-97dd-b5b471285b1

[2020-05-14 12:50] #329 closed

[2020-05-14 12:52] monzug commented on #251
YES, it looks fine

[2020-05-14 13:04] monzug commented on #320
tested in Chrome. looks good now

![aramaic](https://user-images.githubusercontent.com/41396793/81937697-f5020b00-95c1-11ea-9fcd-3fec8078e02c.JPG)

[2020-05-14 13:17] monzug commented on #320
actually, I ma not so sure about this one:  see screenshot
ܫܘܩܠܐ
![syriac-firstletter](https://user-images.githubusercontent.com/41396793/81939002-c08f4e80-95c3-11ea-91ec-226831559375.JPG)

[2020-05-14 13:20] monzug commented on #320
the lookup looks different from the morphology pop-up and from the lemma

![syric-not-sure](https://user-images.githubusercontent.com/41396793/81939312-2ed41100-95c4-11ea-9a87-7bbe68555f45.JPG)

[2020-05-14 13:36] monzug commented on #320
![a-syriac-name](https://user-images.githubusercontent.com/41396793/81941063-55934700-95c6-11ea-9ea5-e39b94a531a5.JPG)

[2020-05-14 13:39] monzug commented on #307
they are both experimental

[2020-05-14 13:58] monzug commented on #104
the ἶ in  εἶναι is  )=i

[2020-05-14 14:07] monzug commented on #267
We do not display table 50 anylonger.

[2020-05-14 14:13] monzug commented on #318
totally agree with this change. Limit to this session, limit to important, limit to lemma etc

[2020-05-14 14:20] monzug commented on #16
I can say that pop-up is generated right away

[2020-05-14 14:28] monzug opened #336 "Greek adjective pop-up with dialects"
I found an ugly example of an adjective with dialects, that exceeds the pop-up limit.
![example-adj-dialect](https://user-images.githubusercontent.com/41396793/81946694-ae1a1280-95cd-11ea-80b0-3cc2e4620c64.JPG)

[2020-05-14 14:31] balmas commented on #221
hmm. I think this still isn't quite right. Our test on if a treebank is loaded isn't picking up changes in the document so a page with multiple documents doesn't work.

I think we need to test the document url not the provider url here.

[2020-05-14 14:35] monzug commented on #322
is there a way that if we exceed the popup limit, text can wrap to an other line?
see screenshot
![example-adj-dialect](https://user-images.githubusercontent.com/41396793/81947254-55974500-95ce-11ea-90ea-23717075edb8.JPG)
see https://github.com/alpheios-project/alpheios-core/issues/336

[2020-05-14 14:46] monzug opened #337 "Size of Greek lookup is bigger than release"
I noticed that latin lookup is regular size, it covers the help, lookup and Additional resources. however when I switch to Greek language, the lookup is much larger. it goes below the Browse Inflection tables icon. Is it related to the changes for  betacode input feature? I did previously enable and disable the checkbox for Show Betacode to Unicode Mapping Help

[2020-05-14 15:27] balmas commented on #336
ick. Ok yes we need to fix the wrapping for #322

[2020-05-14 15:33] monzug commented on #336
this is about reorganizing the output by grouping by gender

[2020-05-14 15:40] balmas commented on #320
pfft. I hate the Loeb site. Their font settings are overriding ours.

So since the problem is not because this item isn't fixed, it's because our font settings are being overruled, I'll enter a new issue for this.

As for the lookup box, yes we probably should apply fonts to that too, we aren't right now. I'll enter an issue for that too. Thanks!

[2020-05-14 15:41] balmas opened #338 "language specific font settings being overruled in Loeb Classics"
![a-syriac-name](https://user-images.githubusercontent.com/41396793/81941063-55934700-95c6-11ea-9ea5-e39b94a531a5.JPG)

_Originally posted by @monzug in https://github.com/alpheios-project/alpheios-core/issues/320#issuecomment-628639914_

[2020-05-14 15:51] balmas opened #339 "can we add the lang attribute to the lookup input box?"
@monzug notes in #320 that the lookup box uses a different font for syriac and arabic than we do on the popup. This is because we use the lang attribute to trigger better fonts for those languages in our css. Is it possible to apply the same to the lookup input box?

[2020-05-14 15:56] monzug commented on #259
@balmas:  I can't remember when page language was introduced. do you? I search on GitHub with no luck.
still it looks funny -> Change to:  Page language:

![page-language](https://user-images.githubusercontent.com/41396793/81956956-f3444180-95d9-11ea-8c04-fb0d50f123d3.JPG)

[2020-05-14 16:00] monzug commented on #249
Now we have the option to select the greek or latin grammar. tested in FF
see screenshot

![no-grammar](https://user-images.githubusercontent.com/41396793/81957442-9006df00-95da-11ea-90ee-470c76278d1e.JPG)

[2020-05-14 16:10] balmas commented on #259
I'm not sure but I agree it's not looking great.
I wonder if we even need to have the label there. Maybe we could just drop it. What do you think @monzug ?

[2020-05-14 17:11] monzug commented on #259
I was comparing with texts.alpheios.net and the look is sleeker there

On Thu, May 14, 2020 at 12:11 PM Bridget Almas <notifications@github.com>
wrote:

[2020-05-14 20:25] #221 closed

[2020-05-14 20:26] balmas commented on #221
that fix is in Alpheios Components 3.3.0-qa.20200514430

[2020-05-14 20:27] balmas commented on #316
Alpheios Components 3.3.0-qa.20200514430 (and later)

[2020-05-14 20:27] balmas commented on #328
Alpheios Components 3.3.0-qa.20200514430 (and later)

[2020-05-14 20:27] #328 closed

[2020-05-14 20:40] balmas commented on #317
Alpheios Components 3.3.0-qa.20200514430

[2020-05-14 20:41] balmas commented on #322
@kirlat can you look at the wrapping issue? Thanks!

[2020-05-14 20:42] balmas commented on #258
this can be tested via https://alpheios-misc-dev.s3.us-east-2.amazonaws.com/treebank-test-page/test.html

[2020-05-15 09:05] irina060981 commented on #339
Fixed

![image](https://user-images.githubusercontent.com/12377640/82032778-186ea800-96df-11ea-82c1-10c321724c0b.png)

[2020-05-15 09:06] irina060981 commented on #338
Fixed

![image](https://user-images.githubusercontent.com/12377640/82032778-186ea800-96df-11ea-82c1-10c321724c0b.png)

![image](https://user-images.githubusercontent.com/12377640/82032855-320fef80-96df-11ea-996d-b2b6901f923b.png)

[2020-05-15 09:07] irina060981 commented on #337
Fixed
![image](https://user-images.githubusercontent.com/12377640/82032914-4f44be00-96df-11ea-9cc6-693f4ff0e634.png)

[2020-05-15 09:19] irina060981 commented on #334
Fixed
![image](https://user-images.githubusercontent.com/12377640/82034067-042baa80-96e1-11ea-94d8-6074c98bdf7c.png)

[2020-05-15 09:38] irina060981 commented on #288
Fixed
![image](https://user-images.githubusercontent.com/12377640/82035971-a2b90b00-96e3-11ea-99f8-51159c0376e5.png)

[2020-05-15 12:33] monzug commented on #328
fixed in  Alpheios Reading Tools 3.1.0 build qa.20200514494
Alpheios Components 3.3.0-qa.20200514430

[2020-05-15 12:36] monzug commented on #317
timestamp is not longer visible in build  Alpheios Reading Tools 3.1.0 build qa.20200514494
Alpheios Components 3.3.0-qa.20200514430

[2020-05-15 12:37] monzug commented on #316
this is gone in build  Alpheios Reading Tools 3.1.0 build qa.20200514494
Alpheios Components 3.3.0-qa.20200514430

[2020-05-15 13:27] monzug commented on #291
well there are few things that do not look ok.

1) Latin library in Chrome: the checkbox for flashcards or with filtering cannot be checked. however it works in Loeb Classics.

2) the downloaded file with flashcards option is empty. There is only word definition in it. I tried with latin (more than 25 words), then I tried with Persian (3 words).

3) when I downloaded the Persian file with the flas

[2020-05-15 13:45] monzug commented on #291
2) could it be because I haven't updated the env-webext.js yet?  I read your reccomendation in #200 after testing this one

[2020-05-15 14:42] monzug commented on #200
I updated the env-webext.js (that might explain why I was getting an empty wordlist while testing https://github.com/alpheios-project/alpheios-core/issues/291).
I haven't tested the functionality yet, these are my feeling on the UI:
1) login as an existing user, all saved words from the old times, have the today date. I would rather see the today date not being applied on existing wordlist. it's m

[2020-05-15 15:11] monzug commented on #291
as per 2) I was able to download the file with the flashcard option. however if I chose to limit to 1 the most  often list (of two words), the downloaded file listed both words.

as per 1) - I think it's the first language (it can be Greek or Latin) on the wordlist that does not work.

[2020-05-15 15:12] kirlat commented on #315
I think this text with unusual formatting reveals a possible bug in our code. When we do a replacement of special characters in HTML during a selection, we sometimes change the length of a text. As a result, selection shifts.

@monzug, to verify that this is the case, can you please do the following:
1. Open https://www.thelatinlibrary.com/gellius/gellius13.shtml in FF.
2. Do a double click within

[2020-05-15 15:24] monzug commented on #315
yes, I can confirm your findings. it works well in Item alio in loco idem significat  but not in  Inquisitio verborum istorum . Thanks

[2020-05-18 01:21] irina060981 commented on #315
@kirlat , there was another bug - https://github.com/alpheios-project/alpheios-core/pull/303
and that's why I updated the code to replace a sequence of special characters with only one char

I believe that here we have some conflict in different formatting
May be it is worth to create a more intellectual char replacement

[2020-05-18 09:17] kirlat commented on #315
Thanks for pointing to the other issue related to this. I agree it would be good to rework a replacement to make it more reliable.

I narrowed the problem down to the replacement pattern. For Latin, which this issue is about, it is `".,;:!?'\"(){}\\[\\]<>/\\\u00A0\u2010\u2011\u2012\u2013\u2014\u2015\u2018\u2019\u201C\u201D\u0387\u00B7\n\r\u200C\u200D"`. This pattern is `anchorText = anchorText.rep

[2020-05-18 11:29] irina060981 commented on #291
@kirlat and @balmas , I tested a simple scenario - when we have data only in remote source and don't have data in IndexedDB - and homonyms are not updated without `HOMONYM_READY`
and finally - we have an empty wordlist downloaded

This happens because we send textSelector to lexis module (without any link to wordItem),
and then wordListController updates worditems from the same events:

[code]

Th

[2020-05-18 11:38] irina060981 commented on #291
@monzug , I couldn't reproduce the non-availability of checkboxes inside download confirmation

- I logged in
- i have ready latin list and looked for one greek word

![image](https://user-images.githubusercontent.com/12377640/82209009-e748de80-994f-11ea-961f-caea939ef0f2.png)

Both checkbox are available and could be checked
I use the following link
http://www.thelatinlibrary.com/petronius1.html

[2020-05-18 11:49] balmas commented on #291
Ah that's a good point. I'm sorry for not catching this.

[2020-05-18 11:50] irina060981 commented on #291
@monzug , did you check both checkbox - for using filter and format as flashcard?
If I check box checkboxes in my test - it is working well

[2020-05-18 11:52] irina060981 commented on #291
@balmas and @kirlat , also we have now problems with catching the moment when short definitions are ready
this code
[code]
does not end when short definitions are ready this way - it downloads an empty list because short definitions are not ready

[2020-05-18 11:57] balmas commented on #291
ok, clearly my idea to suppress the events was not a good one....

[2020-05-18 12:41] monzug commented on #291
@irina060981 you are right! I thought that filtering was not related to the limit applied.

[2020-05-18 12:45] monzug commented on #291
![checkbox-not checked](https://user-images.githubusercontent.com/41396793/82214461-dd899180-98e3-11ea-93b1-e8e4873be279.JPG)

[2020-05-18 13:12] monzug commented on #200
finally I got that when arrows are all blacks (not red arrows), it goes back to original order. got it! so number 8 is not a question/issue.

[2020-05-18 13:16] irina060981 commented on #291
note that it's the first thing I do on these sites (in my case, they have been sitting there for few hours). if I log in or browse inflection or others and then go to wordlist, then it works fine.

I was not able to reproduce this bug and I even couldn't imagine what could be the source of the situation, when checkbox is not checked on click here

@balmas and @kirlat , may be some of you could rep

[2020-05-18 13:29] irina060981 commented on #339
Merged and closed

[2020-05-18 13:29] #339 closed

[2020-05-18 13:29] irina060981 commented on #338
Merged and closed

[2020-05-18 13:29] #338 closed

[2020-05-18 13:30] irina060981 commented on #334
Merged and closed

[2020-05-18 13:32] monzug opened #344 "Browse Inflection tables opens Latin not Greek tables"
1) I changed page language to Greek in Options, I also changed Lookup to be Greek. I lookup a greek word ἅπασαν. if I click on Grammar it does open the Greek grammar, if I click on Inflection tables icon, it does still open the Latin Inflection icon. The text is in Latin.
2) same as above with a Greek text. The Browse Inflection Tables opens on Latin Inflection tables.
Shouldn't it open the Greek

[2020-05-18 13:55] balmas commented on #315
It's possible the double-back slashes before the brackets are an error, I think at one point they were necessary but perhaps not anymore.

[2020-05-18 13:56] balmas commented on #315
see also this PR which is where we added 200C and 200D to the list of punctuation characters for Google Docs https://github.com/alpheios-project/data-models/pull/89

[2020-05-18 14:20] balmas commented on #200
This is a tough one.  @irina060981 to fix this I guess we would have to not add an update date to a wordlist item if it didn't already have one.  Do you think it's doable?

[2020-05-18 14:25] balmas commented on #200
The problem with tooltips is that they don't work on mobile. So I think we probably do need to have a popup help for the wordlist then.  I will create an issue for that.

[2020-05-18 14:27] balmas commented on #200
I would guess this is because of the way we broke things with the events as discussed in #291 so should be retested when that is fixed

[2020-05-18 14:27] balmas commented on #200
@irina you investigate the other items mentioned here? Thanks!

[2020-05-18 14:28] balmas opened #345 "Add help for wordlist"
The problem with tooltips is that they don't work on mobile. So I think we probably do need to have a popup help for the wordlist then.  I will create an issue for that.

_Originally posted by @balmas in https://github.com/alpheios-project/alpheios-core/issues/200#issuecomment-630217861_

[2020-05-18 14:29] balmas commented on #345
With the additional limits for most frequent and updated the wordlist display is getting complicated enough that we need some help for it. Tooltips would be ideal but they won't work well on mobile. So I think maybe we need a popup help screen,

[2020-05-18 14:30] balmas commented on #345
assigning to myself to define the requirements for this ...

[2020-05-18 14:31] monzug commented on #200
I will resume my testing on these changes when #291 is fixed.

On Mon, May 18, 2020 at 10:28 AM Bridget Almas <notifications@github.com>
wrote:

[2020-05-18 14:41] monzug commented on #319
@balmas, do you have a list of words that I can test with this fix? I double click a bunch of words at sedra and they look fine to me.

[2020-05-18 14:45] balmas commented on #344
yes, probably. Before I decide priority, @monzug can you tell me if this is an issue for the current release?

[2020-05-18 14:47] balmas commented on #319
I found it by chance with this one:

ܐܒܪܐ

[2020-05-18 14:54] monzug commented on #344
also, when I switch from Syriac to Greek, the Browse inflection table is not expanded.
will try later. it was not working before.

[2020-05-18 15:00] monzug opened #346 "problem with selecting current language"
When I select  page language Syriac in pop-up, the field is not updated and is empty.
see screenshot
![aramaico](https://user-images.githubusercontent.com/41396793/82228196-d28c2c80-98f6-11ea-8794-5792dc55769c.JPG)

[2020-05-18 15:04] monzug commented on #346
Actually it's true for all the experimental languages

[2020-05-18 15:04] balmas commented on #346
I probably broke this then.

[2020-05-18 15:10] monzug commented on #319
also   ܐܝܬܝܗܘܢ
they both work now

[2020-05-18 15:14] monzug commented on #346
should be an easy fix, right?

[2020-05-18 15:17] balmas commented on #346
yes I hope so :-)

[2020-05-18 15:19] monzug commented on #346
actually, I have a question here. if I double click on desiderat.  it takes also the dot as the page language is syriac. interesting, in the wordlist it's displayed with the dot first. see wordlist

![desiderat](https://user-images.githubusercontent.com/41396793/82230243-7676d780-98f9-11ea-87ef-7a74c35a0e7d.JPG)

[2020-05-18 15:24] balmas commented on #346
that's interesting. I think actually the punctuation list for Syriac might be wrong ...  I think I just copied the one from the Ge'ez language model . Let's add this as a new issue for me to investigate.

[2020-05-18 15:24] balmas opened #347 "update Syriac punctuation list"
actually, I have a question here. if I double click on desiderat.  it takes also the dot as the page language is syriac. interesting, in the wordlist it's displayed with the dot first. it's ok, right?
see wordlist

![desiderat](https://user-images.githubusercontent.com/41396793/82230243-7676d780-98f9-11ea-87ef-7a74c35a0e7d.JPG)

_Originally posted by @monzug in https://github.com/alpheios-project/

[2020-05-18 15:28] monzug opened #348 "Double click on a Syriac word, it looks for loading instead"
For some reason, when I double click on a specific Syriac word, for some reason it does search for loading. see screenshot

![loading-syriac](https://user-images.githubusercontent.com/41396793/82231006-8642eb80-98fa-11ea-92ab-35383207d80f.JPG)

lookup for the same word does generate the correct pop-up:
ܡܠܐܟܘܗܝ

[2020-05-18 15:34] monzug commented on #348
Actually, it's more than one word. they are all located around ܡܠܐܟܘܗܝ

[2020-05-18 15:35] monzug commented on #348
could it be related to the #319 ?
an other one is   ܪܘܚ

[2020-05-18 15:38] balmas commented on #348
will investigate. thanks.

[2020-05-18 15:58] monzug commented on #348
also doubleclicking on any of those words from wordlist it does generate a pop-up that loads for ever.
see wordlist screenshot
![loading-wordlist](https://user-images.githubusercontent.com/41396793/82233966-c015f100-98fe-11ea-9c8d-8910e9cfd905.JPG)

[2020-05-18 16:22] monzug commented on #200
as per #3 above in the list, when I am in http://sedra.bethmardutho.org/library there is no way that I can select the UP arrow for most often. the down arrow yes, the up and down arrow for most recent but not the UP arrow for most often.

[2020-05-18 16:37] monzug opened #349 "wordlist is different when login from different sites"
related to issue #291 ?
I do login as user Test@test.it for testing (whatelse could I do with such username???)
anyhow, first my long wordlist as user Test was gone.
second, I did notice that when I log in at http://sedra.bethmardutho.org/library, the wordlist has a combination of latin and Syriac words saved, but when I log off and then in again in latinlibrary as same user Test, the wordlist is

[2020-05-18 16:44] monzug commented on #349
interesting. I reinstalled the release and logged in as user Test and my old LOOOONG wordlist is there.

[2020-05-18 16:46] balmas commented on #349
@monzug the difference could be whether or not you are pointing at the dev user word api or not via the env-webext.js

These are two different databases now in the production and dev environments.

[2020-05-18 16:50] monzug commented on #344
yes, it's same in Release. so I guess it's looooow priority

[2020-05-18 16:57] balmas opened #350 "DOM Warning on duplicate id"
we have a new DOM warning about duplicate elements with the id #alpheios-lookup-form-input

![Screenshot from 2020-05-18 12-56-31](https://user-images.githubusercontent.com/644870/82239605-0b340200-9907-11ea-8085-66b049d8fd7a.png)

Maybe a result of the autocomplete changes??

[2020-05-18 17:04] monzug commented on #349
good to know that my beautiful wordlist is still there. glad you pointed that out. anyhow, there is still the difference between sites  with same env-webext.js.

[2020-05-18 17:06] kirlat commented on #315
I'm testing a selection process in Google Docs (because this issue is related to #288 and #303) and I cannot reproduce any cases with special characters where we need a `+` quantifier (see https://github.com/alpheios-project/alpheios-core/pull/303/files#r420631680): it seems to work fine without it. @irina060981, do you know of any texts on which this could be tested? If we could remove the `+` th

[2020-05-18 17:28] balmas commented on #346
the problem reported in this issue occurs because of a mismatch between the values in the model object for the setting component and the values in the uiController.languageNames constant

We try to determine the selected item by passing the value of state.app.currentLanguageName, and that's set as the value from uiController.languageNames

This is all a bit of a mess.

[2020-05-18 17:30] kirlat commented on #315
I think our current business logic assumes that selection starts and ends within the same node. That's why we think it's a mistake when text of the start node does not match the text of the end node.

A case with Google Docs and words at the end, where a word is followed by an empty `span` (a different node), it is a valid case when start and end nodes do not match. Because of mouse move accuracy

[2020-05-18 17:36] balmas commented on #315
I'm a little worried about making major changes to our selection code at this stage in the release
It would help to know whether any of these problems exist in the current release.

[2020-05-18 18:02] kirlat commented on #315
We do not have mouse move in the current release, so we cannot compare it. An empty span in Google Docs has a `goog-inline-block` class, so maybe we can check for that and, if present, ignore it? It might change in the future, but we can fix it for now, and we'll be able to make amend in the future. It will also not affect an existing workflow because it will be triggered only within Google Docs,

[2020-05-18 18:09] balmas commented on #315
I think we should definitely do 1. Remove a + quantifier from a character set. This will return it to the state that will match production and should be harmless.

I'm guessing that the problem with google docs could in theory happen on other pages with mousemove. Need to think about this a little bit more.

[2020-05-18 18:19] kirlat commented on #315
I think that's true. But do we currently have mosuemove activated only on Google Docs pages?

I've also noticed another issue: if there is a Google document opened in a tab, and an Alpheios is activated in it, a mousemove mode becomes activated on all other tabs as well: if to hold mouse over a word, it starts a lexical query, no matter what tab it is. I'm wondering if anyone else can reproduce it

[2020-05-18 18:25] balmas commented on #315
It is only *automatically* enabled for Google Docs. But it can be turned on for any page if the user prefers, and that is the recommended setting for Chinese.

[2020-05-18 18:25] balmas commented on #315
That sounds like a bug we need to fix.

[2020-05-18 18:53] balmas commented on #346
The issue here is two fold:
1) we add the "Experimental" in the dropdown so that the user can see that the language is experimental when they choose to use it, but we don't want to include that "Experimental" text everywhere else in the UI we refer to it by name (such as in the notification messages when a word isn't found, in the wordlist, etc.)

2) Really we should have a single source of truth

[2020-05-18 19:20] balmas commented on #315
@kirlat is this the comment you are referring to?
[code]

It would probably be worth testing to see if that is still an issue  -- I think it was this one but unfortunately it doesn't contain a test case https://github.com/alpheios-project/webextension/issues/53

[2020-05-18 19:22] balmas opened #352 "mousemove preference should be limited to tab"
_Originally posted by @kirlat in https://github.com/alpheios-project/alpheios-core/issues/315#issuecomment-630354869_

[2020-05-18 19:26] balmas commented on #315
@kirlat could we just test for this scenario - i.e. an empty span - without restricting it to the googledocs class? Would there be any reason not to do this?

[2020-05-18 19:35] balmas commented on #344
ok, so yes let's hold off on this one.

[2020-05-18 19:37] balmas commented on #336
yes I think it's related to or a dupe of #101

[2020-05-18 20:26] balmas commented on #166
Missed a use case here:

HomonymA contains 2 Lexemes. Homonym B contains 1 Lexeme. HomonymB.Lexeme1 matches either of the HomonymA Lexeme1 on lemma.word and lemma.part of speech. Neither Homonym A. Lexeme1 nor HomonymB.Lexeme1 contain any inflection data.  Homonym should contain 2 Lexemes. Lexeme1 should be identical to HomonymA.Lexeme1 except that it should be flagged as disambiguated. Lexeme2 sh

[2020-05-19 03:55] irina060981 commented on #315
@kirlat ,
here it is a test with Monica's sample text
https://docs.google.com/document/d/13DgFWex6L2r9jCXba7CW104KlD3U9nHRkG3bu_srROg/edit

try to select short greek words (it was not working without plus in replace regex)

Ὅσοις τῶν ἀνθρώπων **ἐκ** τῆς αὑτῶν2 ὁρμωμένοις χώρας ὑπερόριοί **τε** ἀγῶνες καὶ κίνδυνοι συμβαίνουσιν, **ἄν** **τι** σφάλμα γένηται

[2020-05-19 06:38] kirlat commented on #315
Thanks for a test reference, will test it on this.

[2020-05-19 09:56] kirlat commented on #315
I think it is a good approach. I will implement this solution and will check if any issues will arise during testing.

[2020-05-19 12:13] monzug commented on #248
it works in build Alpheios Reading Tools 3.1.0 build qa.20200514494
Alpheios Components 3.3.0-qa.20200514430
if I change to Bennett in Options, then Browse Grammar will show the title and content of the Bennett latin grammar

[2020-05-19 13:14] monzug commented on #162
Credits: I don't see the link to sedra site (as said above it will be done in the future)

I have a question on the repetition of the source for a word that is both a verb and a noun. the verb is repeated few times with same source. can it be grouped together? ܫܩܠ     word

![syriac-source](https://user-images.githubusercontent.com/41396793/82330625-16dc0300-99b1-11ea-80c3-058758893e7f.JPG)

[2020-05-19 13:31] monzug commented on #147
alignment and issue 2 have been fixed.
issue 1) is still reproducible. see screenshot

![missing-treebank-icon](https://user-images.githubusercontent.com/41396793/82332495-79360300-99b3-11ea-8582-e9d1cc2fcc9d.JPG)

[2020-05-19 13:36] #346 closed

[2020-05-19 13:51] balmas commented on #147
I think issue (1) may be resolved by my latest use case to be fixed in #166 : https://github.com/alpheios-project/alpheios-core/issues/166#issuecomment-630417237

[2020-05-19 14:05] monzug commented on #147
1) will be tested in issue #166

[2020-05-19 14:05] #147 closed

[2020-05-19 14:06] monzug commented on #166
test also the following scenario from #147 :
(1) when the morphology service doesn't produce results -- i.e. in that case the treebank data is the ONLY data. That's the case for φθίνωσιν at https://texts-test.alpheios.net/text/urn:cts:greekLit:tlg0085.tlg005.alpheios-text-grc1/passage/1-30

[2020-05-19 14:15] monzug commented on #348
http://sedra.bethmardutho.org/library

On Tue, May 19, 2020 at 10:12 AM Bridget Almas <notifications@github.com>
wrote:

[2020-05-19 14:17] monzug commented on #348
I am taking a screenshot of the specific text

On Tue, May 19, 2020 at 10:14 AM Monica Zugan <monzug@gmail.com> wrote:

[2020-05-19 14:17] monzug commented on #348
![syriac text](https://user-images.githubusercontent.com/41396793/82337535-e187e300-99b9-11ea-8e90-e3f02977a10f.JPG)

[2020-05-19 14:22] monzug commented on #348
again I got the loading issue. today it's on a different word   ܡܫܚܟ

![again-loading-syriac](https://user-images.githubusercontent.com/41396793/82338179-915d5080-99ba-11ea-8358-b92c9973166e.JPG)

[2020-05-19 14:24] balmas opened #353 "words without results are getting added to the wordlist"
also doubleclicking on any of those words from wordlist it does generate a pop-up that loads for ever.
see wordlist screenshot
![loading-wordlist](https://user-images.githubusercontent.com/41396793/82233966-c015f100-98fe-11ea-9c8d-8910e9cfd905.JPG)

_Originally posted by @monzug in https://github.com/alpheios-project/alpheios-core/issues/348#issuecomment-630277132_

There seems to have been an ina

[2020-05-19 14:26] balmas commented on #353
Note that although the example above is for Syriac, it occurs for any language if you lookup a word that doesn't produce lexical query results.

So 2 fixes are need:

(1) we should restore the behavior that prevented words without lexical query results from being added to the wordlist (I suspect this might be the result of the ill-advised changes in #291 )

(2) if for some reason a word without re

[2020-05-19 14:31] monzug commented on #348
I think it does occur after a certain number of double-click (10 or so).

[2020-05-19 14:45] balmas commented on #348
I haven't been able to reproduce it so far, and I think it might be related to the HTML of this page rather than Alpheios, although it does expose an interesting situation.

The underlying page doesn't actually have any Syriac text on it -- it's all populated by javascript.

Text it DOES have is a div with "Loading..." in it  (see attached screenshot)

So I think this must be caused by a combinati

[2020-05-19 14:58] monzug commented on #348
interesting. what is this loading supposed to do?

On Tue, May 19, 2020 at 10:45 AM Bridget Almas <notifications@github.com>
wrote:

[2020-05-19 15:01] balmas commented on #348
It's placeholder text that is shown to the user while the requested text is loading as in the attached

![Screenshot from 2020-05-19 11-00-19](https://user-images.githubusercontent.com/644870/82342776-08e1ae80-99c0-11ea-89d3-d069c9592b0d.png)

[2020-05-19 15:02] monzug commented on #348
Thanks. I didn't see that loading in my testing

On Tue, May 19, 2020 at 11:01 AM Bridget Almas <notifications@github.com>
wrote:

[2020-05-19 15:24] kirlat commented on #315
The changes that would hopefully fix it are merged to master.

[2020-05-19 16:06] balmas opened #355 "Syriac: merge duplicate entries"
Credits: I don't see the link to sedra site (as said above it will be done in the future)

I have a question on the repetition of the source for a word that is both a verb and a noun. the verb is repeated few times with same source. can it be grouped together? ܫܩܠ     word

![syriac-source](https://user-images.githubusercontent.com/41396793/82330625-16dc0300-99b1-11ea-80c3-058758893e7f.JPG)

_Orig

[2020-05-19 16:08] balmas commented on #355
this is an issue with the way the sedra api reports multiple inflections of a word. It seems it doesn't always (or ever?) aggregate them.

We could do some post-processing of the results from the api to try to merge them ourselves.

Not sure if we can include it in the initial release or not

[2020-05-19 16:09] balmas commented on #355
putting it on the list for the release for now but it might be be postponed

[2020-05-19 16:10] balmas commented on #162
This is an issue with the Sedra API - let's track it via a new issue #355

[2020-05-19 16:49] kirlat commented on #352
I can't reproduce it any more. It probably was some random glitch within my environment.

If nobody else has this problem, this issue can probably be closed.

[2020-05-19 16:50] kirlat commented on #322
Fixes are merged to master.

[2020-05-19 16:50] balmas commented on #352
Will ask @monzug to verify

[2020-05-19 16:50] #352 closed

[2020-05-19 17:52] #347 closed

[2020-05-19 18:01] balmas opened #357 "fix formatting of wordlist"
A couple of points, possibly mentioned already elsewhere:

* I think need to prevent the date from wrapping to a new line
* the sort arrows need to be centered over the data column

![Screenshot from 2020-05-19 13-58-43](https://user-images.githubusercontent.com/644870/82361533-f889fd80-99d8-11ea-8667-42d357e2f4be.png)

[2020-05-19 18:15] balmas commented on #345
Actually, I see that we do already have a mouseover tooltip on the important and delete columns. One difference is those are active items, but I think we could probably just add similar tooltips to the other two columns for now:

for the frequency column:

"The number of times you have looked up this word."

"The date this entry was added or updated."

[2020-05-20 11:23] kirlat commented on #166
I've added this case but in my test `παρ᾽` results from morhp analyzer somehow contains two inflections: with `παρά` and `παραί` stems, while results from a treebank has none. According to the logic described above this example should not work because the number of inflections in morph adapter and treebank results do not match. Is that correct?

[2020-05-20 12:13] balmas commented on #166
ah, I think I probably chose the wrong example word for the test case, but actually this one is valid too, so it's a different scenario.

Treebank data can be used to disamibugate a lemma even if it doesn't contain any further inflection data. In the case of παρ᾽, the inflection data provided by the morphological parser is a feature that isn't part of the treebank annotation (dialect).

Please als

[2020-05-20 12:28] balmas commented on #320
Issued raised above are covered in #338 and #339

[2020-05-20 12:28] #320 closed

[2020-05-20 12:29] #322 closed

[2020-05-20 12:30] balmas commented on #291
per our discussion earlier this week, we'll reinstate the events and suppress only the ui messages

[2020-05-20 12:30] #315 closed

[2020-05-20 12:47] monzug commented on #352
I have a note that few times mouse over was activated even if it was disabled in options. I haven't seen it recently but will test your scenario.

[2020-05-20 12:53] monzug commented on #352
Nope, I can't reproduce Kirlat's scenario. good.

[2020-05-20 13:07] monzug commented on #320
this is fixed in build Alpheios Reading Tools 3.1.0 build qa.20200514494
Alpheios Components 3.3.0-qa.20200514430

![lead-syriac](https://user-images.githubusercontent.com/41396793/82449505-4ce4ba00-9a79-11ea-8145-7b166b149ee6.JPG)

[2020-05-20 15:00] monzug commented on #186
Irina and Bridget, i have a question. I double click on φροντίδα and only the noun declension and simplified declension is displayed (same for ὄρνις and φυγάς). I checked on Morpheus and its stemptype is <stemtype>is_idos</stemtype>, then I check the noun rules.csv, and it should also list the Consonant-Declension Nouns: dental plosive stems (masc. and fem.) table as per
nounpdgm6 | 1 | noun | is_

[2020-05-20 15:18] kirlat commented on #166
Fixes for the last two cases has been merged to master.

[2020-05-20 15:27] kirlat commented on #205
@monzug, can you please verify if it is in a webextension or in an embed lib. If it is a webextension, can you please check if it is working in embed-lib and vise versa. I suspect it might be webextension-related.

[2020-05-20 15:43] monzug commented on #205
@kirlat, tested in both latin library and loeb classics in FF. On the first double click, the pop-up  can be moved, after that it has fixed position. In texts-test.alpheios.net in FF, the pop-up can be moved around the page after the second double click, so yes it's webext-related.

[2020-05-20 16:09] kirlat commented on #205
Thanks!

[2020-05-20 19:17] balmas opened #361 "google-docs mousemove off by default?"
i was testing use of the 3.0.x release version of Alpheios on google docs today, and it seems that the double-click is working fine again there so they must have made some changes to the way they were intercepting the double-click event.

i think given this we might need to reverse the change to automatically enable mousemove lookups on google docs -- we could expose this as an option for the futu

[2020-05-20 20:52] balmas opened #362 "selection highlighting is not quite right"
Not sure if @monzug already reported this but when I use the mousemove selection on a google doc with Latin text, the selected words are one short in the highlighting:

![Screenshot from 2020-05-20 16-51-59](https://user-images.githubusercontent.com/644870/82496144-3e6ac280-9aba-11ea-8d74-cb79d45dc7d9.png)

[2020-05-20 21:01] balmas commented on #361
@kirlat I'm wondering if you can look at this for me. I've started working on it in the i361-googledocs branch where I've added a setting which controls whether or not we force mousemove on google docs.

I'm still not sure what we should be doing here. I don't know if I'm just going crazy but it seems to me the behavior on Google Docs, at least in Chrome, is inconsistent, but it appears to be work

[2020-05-21 08:08] kirlat commented on #205
A fix has been merged into master of `webextension`.

[2020-05-21 08:11] monzug commented on #362
yes, I am pretty sure I have reported it. need to find where though.

On Wed, May 20, 2020 at 10:52 PM Bridget Almas <notifications@github.com>
wrote:

[2020-05-21 08:18] monzug commented on #362
I did report it in issue https://github.com/alpheios-project/alpheios-core/issues/315 - see below:
in Chrome, it does generate the correct pop-up when double clicking on a word but the highlighted word is truncated. see screenshot

[2020-05-21 08:33] kirlat commented on #361
I will be glad to work on this!

[2020-05-21 11:36] irina060981 commented on #315
@kirlat , while working on the current changes for issue - I have merged your changes and now - all selections for me with double-click reselect the word without the last char on http://www.thelatinlibrary.com/

![image](https://user-images.githubusercontent.com/12377640/82555240-c4663680-9baa-11ea-8755-ddd2786fbb91.png)

At the same time there is no problems on https://www.loebclassics.com/

![im

[2020-05-21 11:48] balmas commented on #362
ok thanks. @kirlat  I was testing with the code that includes the fix for #315 so I think there is still an issue here, at least with the mousemove highlighting, not sure if it can still be reproduced with doubleclick or not

[2020-05-21 11:51] balmas commented on #315
I was seeing the same, now reported in #362

[2020-05-21 11:52] balmas commented on #362
@irina060981 reports that it also occurs with double-click

[2020-05-21 11:52] kirlat commented on #315
Thanks for the reports, I will investigate this.

[2020-05-21 12:11] kirlat commented on #315
I can reproduce it, working on a fix

[2020-05-21 12:18] kirlat commented on #315
That was easy, somehow a `+` quantifier sneaked backed in into a replacement character set. Removing it seems to be fixing the issue.

[2020-05-21 12:19] irina060981 commented on #315
@kirlat , did you find the reason why it creates problems on thelatinlibrary only?

[2020-05-21 12:25] kirlat commented on #315
Yes, it's because it might replace multiple characters with one space; as a result, text length is changing and selection is shifting. This is not specific to The Latin Library, I think; it is specific to paragraphs that has multiple replacement characters grouped together that are replaced with a single space. I think there might be paragraphs without punctuation in The Latin Library where it wil

[2020-05-21 12:40] monzug commented on #362
yes, with double-click

On Thu, May 21, 2020 at 1:52 PM Bridget Almas <notifications@github.com>
wrote:

[2020-05-21 13:02] monzug commented on #186
and an other one: why is singular not repeated in each line, while dual and plural are? I would do as the mastronarde tables: one singular, one dual, one plural
![Screen Shot 2020-05-21 at 2 58 46 PM](https://user-images.githubusercontent.com/41396793/82561718-2192c580-9b74-11ea-89c3-defdd6b4f4ed.png)

[2020-05-21 13:18] monzug opened #366 "repetition of the dialects in noun pop-up"
related to issue #186
Just noticed that the dialects in the pop-up for ὑγιείᾱς are repeated. Note that this is also in the release. see screenshot
I looked at Morpheus and we have two stemtypes for this word: h_hs  and  a_hs
it looks like the grouping of this word has kept the duplicated dialects

![Screen Shot 2020-05-21 at 3 13 06 PM](https://user-images.githubusercontent.com/41396793/82562833-4

[2020-05-21 13:34] balmas commented on #186
I think we weren't sure to what extent the stemtypes were valid for the nouns and adjectives. I agree that we should try removing the restrictions and see how it does.

[2020-05-21 13:37] balmas commented on #186
agree

[2020-05-21 13:52] monzug commented on #186
Test: lookup for φύλακος when we remove the restriction, it should be listed an other table: nounpdgm1

[2020-05-21 14:30] monzug opened #367 "Short def has too much information"
white testing #186 , I come across this pop-up and noticed a difference with the release.
we added Vanessa's short def, but this one looks weird as it has too much information and not so clear ( ὀδόντων )

![Screen Shot 2020-05-21 at 4 25 26 PM](https://user-images.githubusercontent.com/41396793/82569099-0f1e8900-9b80-11ea-9af8-c025ff408b1c.png)

vs release

![Screen Shot 2020-05-21 at 4 28 47 PM]

[2020-05-21 14:58] monzug opened #368 "Paradigm table is different from Mastronarde table"
white testing #186 , I notice that the Consonant-Declension Nouns: stems in ι or υ has different endings than the one in Mastronarde. Only the first line is identical.

Consonant-Declension Nouns: stems in ι or υ in Alpheios

![Screen Shot 2020-05-21 at 4 52 46 PM](https://user-images.githubusercontent.com/41396793/82572279-67578a00-9b84-11ea-9742-ea246ae2f912.png)

Consonant-Declension Nouns: ste

[2020-05-21 15:16] monzug commented on #186
lookup for λαγώ  - we do not highlight the dual nom, voc,acc, I think we should add the following in rules.csv

nounpdgm17 | 1 | noun | os_ou | 2nd |   | λαγῶς

[2020-05-21 15:25] monzug opened #369 "If Greek gender is missing, we do show (null)"
look for  ἥρωϊ   - we do display null next to noun. is it necessary?  this is also in the release
see screenshot

![Screen Shot 2020-05-21 at 5 23 52 PM](https://user-images.githubusercontent.com/41396793/82574859-016d0180-9b88-11ea-834c-d12deda9eb21.png)

[2020-05-21 15:47] monzug opened #370 "Wrong endings for adj paradigm tables"
related to issue #186.
look up for   ἄδικᾰ, it should be plural nom, acc. and voc. (n).    in the Alpheios paradigm table, the accusative is ἀδίκους  in  Vowel-Declension Adjectives with Two Endings table
it should be  ἄδικᾰ

[2020-05-21 15:58] balmas commented on #186
I see one reason why we initially restricted all the rules by lemma: our matching logic runs into trouble when trying to calculate a full match on the cells both for the scenario when we DO have a lemma match and when we DON'T.  e.g. for χώρᾱ and γνώμη , when the word is one of those two, if we restrict the cell match on the lemma, we know which one to highlight, but we don't if we don't restrict

[2020-05-21 16:17] monzug commented on #370
an other wrong ending in the Vowel-Declension Adjectives with Contraction (-εος) table
the nom, voc, plural (neuter) is χαρίεντᾰ  but it should be  χρυσᾶ

[2020-05-21 16:19] monzug commented on #186
I am ok with releasing with the restriction but we should improve the logic for later.  need extensive testing...

[2020-05-21 16:25] balmas commented on #186
ok thanks!

[2020-05-21 16:56] balmas commented on #369
this should be an easy fix

[2020-05-21 16:58] #54 closed

[2020-05-21 17:04] balmas commented on #367
this is a short def that was wrong in ML and correct in LSJ.  I've corrected it now, can test once the new index is deployed.

[2020-05-21 17:04] #367 closed

[2020-05-21 17:08] balmas opened #372 "remove stemtype on table and cell matches in Greek Noun and Adj paradigms"
lookup for λαγώ  - we do not highlight the dual nom, voc,acc, I think we should add the following in rules.csv

nounpdgm17 | 1 | noun | os_ou | 2nd |   | λαγῶς

and also the wn_onos stemtype

we should probably add the following so we have a match for the genitive singular for ἥρως

nounpdgm18 | 1 | noun | ws_oos | 3rd |   | ἥρως

_Originally posted by @monzug in https://github.com/alpheios-projec

[2020-05-21 17:12] balmas opened #373 "match into greek noun/adj paradigms for other words"
We currently restrict the matching into the Greek Noun and Adj paradigms by lemma.

one reason  we initially restricted all the rules by lemma: our matching logic runs into trouble when trying to calculate a full match on the cells both for the scenario when we DO have a lemma match and when we DON'T.  e.g. for χώρᾱ and γνώμη , when the word is one of those two, if we restrict the cell match on th

[2020-05-21 17:13] balmas commented on #372
it's not actually rules.csv that needs to change here but the paradigm table cell data itself

it looks to me like morpheus can report different stemtypes for a single word

Since for now we are restricting the matching into the tables at all based upon lemma (until #373 is fixed), I think we should probably remove stemtype from both the rules and the cell data.

[2020-05-22 09:18] irina060981 commented on #337
Merged and closed

[2020-05-22 09:18] #337 closed

[2020-05-22 10:12] irina060981 commented on #200
This would be fixed with the following #364

[2020-05-22 11:39] irina060981 commented on #200
I think we should change logic a little because we update item several times
I removed overabundant changes of updatedDT and createdDT in the PR #374

[2020-05-22 11:40] irina060981 commented on #200
moved to a separate issue - #345

[2020-05-22 11:40] irina060981 commented on #200
fixed in #364

[2020-05-22 11:46] kirlat commented on #362
This should be fixed with the latest changes merged into master.

[2020-05-22 11:47] irina060981 commented on #200
@monzug , as I could see in the code we support 2-properties sorting

first would be used that sorting that you clicked - for example frequency
and at the second step would be used another sorting - next in the following order
[code]

so it would be sorted
   by frequency and updatedDT if click on frequency
   by updatedDT and targetWord if click on updatedDT
i

[2020-05-22 11:49] irina060981 commented on #200
it is already fixed with defaultWordlistMaxFlashcardExport in #363

[2020-05-22 11:50] irina060981 commented on #200
oh, i have missed such a case - would fix - would remove limit on adding a new word

[2020-05-22 12:12] irina060981 commented on #200
@monzug , I didn't completely understand, the workflow here is the following

- you select limit by important - it filters the wordlist by important
- you select for example most recent - it applies the filter mostRecent with default value of amount
- you could change filterAmount and limited results would be updated

It is working for me this way

what steps are not working in your case?

[2020-05-22 12:13] irina060981 commented on #200
@balmas , I have reviewed all points - and besides couple of them (that have questions from me) all are in PRs #363, #364 and #374

[2020-05-22 12:37] irina060981 commented on #357
Merged and fixed

[2020-05-22 12:37] #357 closed

[2020-05-22 12:38] irina060981 commented on #291
Merged and closed

[2020-05-22 12:38] #291 closed

[2020-05-22 12:38] monzug commented on #200
let me try #7 again. it's the limit that was not working

[2020-05-22 12:39] irina060981 commented on #200
3,5,7 - fixed and merged with #363 and #364

[2020-05-22 12:47] monzug commented on #200
irina, has issue #6  be moved to issue #374 or it's still part of this issue?

[2020-05-22 12:49] irina060981 commented on #200
Monica, do you mean this 6 ?

it would be fixed with https://github.com/alpheios-project/alpheios-core/pull/374 soon

[2020-05-22 12:52] monzug commented on #200
yes. Thanks

as per #7, I was able to repro it again. have a wordlist with important words too. limit by this session, then switch to limit by most recent, then by limit by most often, the list does not change. only when I change the number of words to show from 25 to 24, the list get updated. let me know if you can repro.

[2020-05-22 12:54] irina060981 commented on #200
ok - with 7. I was able to reproduce - will fix tomorrow - thank you for detailed description!

[2020-05-22 13:00] monzug commented on #200
No problem!

On Fri, May 22, 2020 at 2:54 PM Sklyarova Irina <notifications@github.com>
wrote:

[2020-05-22 13:33] monzug commented on #276
Looks good to me

[2020-05-22 13:50] monzug commented on #309
question: we still have Mouse Move in Advanced tab but mouse over in Word Selection: Use Mouseover to Select Words (recommended for Chinese)

[2020-05-22 13:59] kirlat commented on #369
Should in that case we remove a `(null)` completely and display just `noun; 3rd declension`?

[2020-05-22 14:00] balmas commented on #369
yes

[2020-05-22 14:23] balmas opened #376 "problems with activation switching sites"
I have seen some intermittent problems with other languages with this as well. I think it needs some investigation. I will make it a new issue.

_Originally posted by @balmas in https://github.com/alpheios-project/lexis-cs/issues/9#issuecomment-632718821_

[2020-05-22 14:46] monzug commented on #96
I tested the word ሀገርየ and I was able to lookup terra inhabitata and ager cultus. I have a question, as these lookups are initiated as child of a word in an other language, would it make more sense (or be more practical) to have the initial lookup on the background so when I quick look for the e.g. latin word patria, I can go back to my original word ሀገርየ?

[2020-05-22 14:48] balmas commented on #96
It would but that is a fairly big change. I think we do have already a separate issue for supporting multiple popups #86 . This is a good use case for that issue.

[2020-05-22 14:54] monzug commented on #96
an other one: I have tried on ὀδόντων. who has latin words in the short
def. I cannot lookup for dens, dentis.  is because short def is a mixed of
languages?

On Fri, May 22, 2020 at 4:48 PM Bridget Almas <notifications@github.com>
wrote:

[2020-05-22 14:54] monzug commented on #96
issue #367

On Fri, May 22, 2020 at 4:53 PM Monica Zugan <monzug@gmail.com> wrote:

[2020-05-22 14:56] balmas commented on #96
Yes, it's because that text (which shouldn't be there anyway) doesn't have the latin text identified as latin

[2020-05-22 15:07] monzug commented on #96
so I can close this one as the only issue is covered by #86

[2020-05-22 15:07] #96 closed

[2020-05-22 15:18] kirlat commented on #369
A fix has been merged to master

[2020-05-22 15:30] balmas commented on #309
I will look at all the mouseover text and regularize it.

[2020-05-22 16:57] kirlat commented on #376
Can reproduce this issue, working on fixing it

[2020-05-22 17:47] kirlat commented on #376
The preliminary results are that panels and a popup that we inject into the page are removed by Baidu when we move to the next page. I'm not sure why is it happening. Probably Baidu removes all children of `body` and adds new ones instead of what was there before. This would remove our elements as well. Luckily, the injected content script and the `uiController` object survive a page change.

I'm

[2020-05-22 17:53] balmas commented on #376
That's interesting.  I think I have seen similar behavior using Alpheios on GitHub too. It could be something that becomes more common with things like progressive web apps too.

I like your idea of having a module check to make sure if its component code exists  -- I suspect it's not a small change so this is probably something we need to push until after the release.

[2020-05-22 18:44] balmas commented on #366
that's interesting, yes we aren't deduping the dialects because of the different stemtypes which appear in data but not the display. Thanks will not worry about it for this release but should fix at some point.

[2020-05-22 18:48] #288 closed

[2020-05-22 18:52] #369 closed

[2020-05-22 19:29] balmas commented on #369
Alpheios Components 3.3.0-qa.20200522457

[2020-05-22 19:30] balmas commented on #362
Alpheios Components 3.3.0-qa.20200522457

[2020-05-22 19:30] balmas commented on #288
Alpheios Components 3.3.0-qa.20200522457

(But you may want to wait until the next build when #361 is available to test this)

[2020-05-22 19:31] balmas commented on #291
Alpheios Components 3.3.0-qa.20200522457

[2020-05-22 19:32] balmas commented on #357
Alpheios Components 3.3.0-qa.20200522457

[2020-05-22 19:33] balmas commented on #337
Alpheios Components 3.3.0-qa.20200522457

[2020-05-22 19:33] balmas commented on #54
Alpheios Components 3.3.0-qa.20200522457

[2020-05-22 19:34] balmas commented on #315
Alpheios Components 3.3.0-qa.20200522457

[2020-05-22 19:34] balmas commented on #322
Alpheios Components 3.3.0-qa.20200522457

[2020-05-22 19:35] balmas commented on #339
Alpheios Components 3.3.0-qa.20200522457

[2020-05-22 19:36] balmas commented on #338
Alpheios Components 3.3.0-qa.20200522457

[2020-05-22 19:36] balmas commented on #334
Alpheios Components 3.3.0-qa.20200522457

[2020-05-22 19:36] balmas commented on #346
Alpheios Components 3.3.0-qa.20200522457

[2020-05-22 19:37] balmas commented on #347
Alpheios Components 3.3.0-qa.20200522457

[2020-05-22 19:38] balmas commented on #205
Alpheios Reading Tools 3.1.0 build qa.20200522460
Alpheios Components 3.3.0-qa.20200522457

[2020-05-22 19:38] balmas commented on #166
Alpheios Components 3.3.0-qa.20200522457

[2020-05-22 19:38] #166 closed

[2020-05-24 03:01] irina060981 commented on #309
I am sorry, but I couldn't explain why it is again Mouseover here
from my memory - I changed it twice times, but it continues to be Mouseover
and again I couldn't find this change in my PRs :)

it is some tricky games with my mind!

[2020-05-24 03:34] irina060981 commented on #200
1 and 6 was fixed with #374

[2020-05-24 03:35] irina060981 commented on #200
I have only 7 point of the issue is not ready

[2020-05-25 12:41] monzug commented on #205
tested in FF. it works fine however I was able to move the pop-up outside the window. it came back only by reloading the page. lookup for caro, then I scrolled down and up the pop-up and moved around the page on top, right, left, bottom. then all the way to the bottom till it does disappear, but this time it did not come back. I had to reload the page.
see screenshot

![Screen Shot 2020-05-25 at 2

[2020-05-25 12:53] monzug commented on #346
experimental has been removed next to chinese and syriac languages, so the page language field is populated corrcetly

[2020-05-25 12:57] monzug commented on #54
cell is highlighted now. Thanks

[2020-05-25 13:00] monzug commented on #337
tested in FF and Chrome - fix in build  Alpheios Reading Tools 3.1.0 build qa.20200522460
Alpheios Components 3.3.0-qa.20200522457

[2020-05-25 13:03] monzug commented on #369
fixed in build Alpheios Reading Tools 3.1.0 build qa.20200522460
Alpheios Components 3.3.0-qa.20200522457

[2020-05-25 13:15] monzug commented on #362
Highlighting is not longer available in build  Alpheios Reading Tools 3.1.0 build qa.20200522460
Alpheios Components 3.3.0-qa.20200522457
tested in Google docs for Latin, Greek and Chinese. mousemove on any words does generate the correct pop-up but the word is not highlighted in the text.

[2020-05-25 13:41] monzug commented on #315
it's working as expected. Thanks
tested in FF and Chrome (both greek and latin words) and google docs

[2020-05-25 14:43] monzug commented on #322
YES!
![pop-up-rewrap](https://user-images.githubusercontent.com/41396793/82822889-84d26f80-9e74-11ea-8165-f47076ea4738.JPG)

[2020-05-25 14:47] monzug commented on #347
the dot has been removed.

[2020-05-25 14:54] monzug commented on #334
I don't think this fix is the build  Alpheios Reading Tools 3.1.0 build qa.20200522460
Alpheios Components 3.3.0-qa.20200522457

[2020-05-25 16:00] monzug commented on #339
looks ok to me.

[2020-05-25 16:12] monzug commented on #338
I tested few words in Loeb classics and it looks ok.

[2020-05-25 16:24] monzug commented on #357
looks ok now
![ancora-limit-wordlist](https://user-images.githubusercontent.com/41396793/82830057-b81bfb00-9e82-11ea-8216-c8cd06512031.JPG)

[2020-05-25 16:32] monzug commented on #200
Irina, on latest build I have noticed again that the number of words to show has not been fixed when switching from one limit to an other. I know you are still working on this issue, so keep this screenshot as an other example.
![ancora-limit-wordlist](https://user-images.githubusercontent.com/41396793/82830356-7d669280-9e83-11ea-8d73-b63d4c301e9c.JPG)

[2020-05-26 02:35] irina060981 commented on #334
it is trange - but it is missed in the most last version in repository

[2020-05-26 04:11] irina060981 commented on #334
and I could see that the height of the lookup box is bigger than in my change.
Will do this changes again to the code

[2020-05-26 04:19] irina060981 commented on #334
also I could see that border styles for Loeb missed again - will fix them too
![image](https://user-images.githubusercontent.com/12377640/82860061-dace1280-9f5b-11ea-9835-08a94be5cfd0.png)

[2020-05-26 08:45] irina060981 commented on #200
ok, I have found the problem for both - for 7. and for the last bug (in previous comment)

[2020-05-26 11:20] kirlat commented on #361
This has been merged to master

[2020-05-26 12:29] irina060981 commented on #353
we decided to skip this point on the meeting because there could be some value in saving proper nouns that doesn't have lexical results

[2020-05-26 12:34] irina060981 commented on #334
merged and closed

[2020-05-26 12:34] #334 closed

[2020-05-26 12:37] monzug commented on #291
I did follow Bridget's scenario just as a start for testing. well, all went smoothly except when downloading a file
for latin, I select to limit to this session and it downloaded the 4 words for current session. However for greek, I did not specify a limit and I checked to download with filtering and with flashcard. only one word was saved in the downloaded file, but 25 words from the Greek wordli

[2020-05-26 12:39] irina060981 commented on #200
fixed last requests here - meregd and closed

[2020-05-26 12:39] #200 closed

[2020-05-26 12:45] irina060981 commented on #350
merged and closed

[2020-05-26 12:45] #350 closed

[2020-05-26 12:48] monzug opened #382 "date stamps gets updated with today's date in wordlist"
I did notice first in FF in loebclassics as test user. when logged in for the first time, most of the words in my saved wordlist had today's date. then I logged out and logged with sign in with apple in Latinlibrary. as soon as I logged in, words in my wordlist were saved with today's date. the only exception are the words marked as important, they have a different date (I am assuming that that's

[2020-05-26 12:49] kirlat commented on #362
@monzug, does it not select the word at all or does the selected text gets highlighted for a while and then a selection disappears? I see the latter on a test Google Docs page. This is because with mousemove we try to do a selection every time a mouse pointer stays over a certain point for longer than a specified period of time. So if a selection is made, a popup is shown, and there is a mouse poi

[2020-05-26 13:23] monzug commented on #353
see my comment to #291

[2020-05-26 13:26] monzug commented on #362
it does not select the word at all. that's my experience. are you seeing a different situation in google docs?

[2020-05-26 13:28] balmas commented on #291
I think the behavior is correct - the limit should apply per language -- i.e. so if only one greek word has been looked up in a session, when downloading the greek list, if the filter is to current session it should contain only 1 word

[2020-05-26 13:30] balmas commented on #291
I'm a little confused about this - what are the 24 words? Are they Latin words that are appearing on the Greek list? I.e. Latin words looked up while page language was set to Greek?

[2020-05-26 13:31] monzug commented on #291
yes. 24 are latin words in a greek words list

[2020-05-26 13:32] balmas commented on #291
I agree the behavior is ok, but I'm not sure if it warrants a note on the download page -- do you think we could just make a note in the FAQ?

[2020-05-26 13:33] balmas commented on #291
Ok, so they aren't getting downloaded because they have no data, right? I think this is okay, it should be an edge case.

[2020-05-26 13:34] balmas commented on #291
I don't know if we can do anything about this. I'm hoping this is more of an edge case -- i.e ideally the words should be in the browser cache and not needing to be re-retrieved.

[2020-05-26 13:34] balmas commented on #291
This needs to be fixed via #353

[2020-05-26 13:40] balmas commented on #259
I think we should just remove the Page Language caption in the notification lookup box.

[2020-05-26 13:44] balmas commented on #362
it is highlighting the words for me on mousemove in google docs

[2020-05-26 13:44] monzug commented on #201
I repeat here an issue reported in #291.
1) limit to important
2) download the wordlist with filtering and with flashcard checked
3) the words in wordlist are still in green as important but the icon has changed in current session.
I believe this should be fixed.
see screenshot
![mark-as-current-session](https://user-images.githubusercontent.com/41396793/82908038-684a3c00-9f35-11ea-80af-d5ca2eeb60

[2020-05-26 13:49] balmas commented on #201
Do you mean they previously weren't marked as "current session" but now they are? @irina060981 , to fix this, I think when we lookup a word for download, we would have to make that the current session flag doesn't get changed. nor the update date. Maybe we need a different event the wordlist can catch when a lookup is for wordlist download? so that it doesn't affect frequency, updateDate and curre

[2020-05-26 13:49] balmas commented on #201
changing value in the filtering sounds like a separate bug

[2020-05-26 13:49] kirlat commented on #362
It does select the word for me and it keeps it selected as long as I hold a mouse pointer over the word:
![image](https://user-images.githubusercontent.com/18631055/82908470-175c3700-9f79-11ea-8df0-d0c735a0da76.png)
This is in FF 77 on Win10.

[2020-05-26 13:54] monzug commented on #289
just saw it again in Chrome on PC. I have a docs with greek and chinese, and page language is syriac. when I mousemove on any greek word I get two pop-ups: lexical query fails for syriac and fails for latin.

[2020-05-26 13:55] balmas commented on #186
closing this again. remaining issues will be handled separately.

[2020-05-26 13:55] #186 closed

[2020-05-26 13:56] kirlat commented on #205
I'm trying to reproduce it and I cannot repeat the last step:

I'm dragging it by the header bar, and, in order to move outside of the screen at the bottom, I have to move a mouse pointer that is within the header area all the way to the bottom so that it will go outside. But I, however, cannot do that. The browser does not allow me to move a mouse pointer outside of the screen if I move it to the

[2020-05-26 13:56] monzug commented on #362
It works in Chrome on PC but not in Chrome on MAC

[2020-05-26 13:58] balmas commented on #362
Ugh. @kirlat I'm not sure if we can do anything about that and I'd be willing to let it go if we have to, but can you spend a little time investigating? Thanks!

[2020-05-26 13:59] monzug commented on #362
![Screen Shot 2020-05-26 at 3 58 33 PM](https://user-images.githubusercontent.com/41396793/82909618-ce50b680-9f69-11ea-8222-009294b6059a.png)

[2020-05-26 14:00] kirlat commented on #362
Sure, will check that out.

[2020-05-26 14:01] kirlat commented on #362
Sure, will check that out.

[2020-05-26 14:06] balmas commented on #367
updated short defs index is live now.

[2020-05-26 14:09] monzug commented on #367
much betetr. now we have ὀδόντων  as tooth and ionic for ὀδous

[2020-05-26 14:23] kirlat commented on #362
I can reproduce it in Chrome on Mac, will check what we can do, if we can.

[2020-05-26 14:27] monzug commented on #362
Thanks!

[2020-05-26 15:29] balmas commented on #258
There's something not quite right about this. Testing with the Odyssey at https://texts-test.alpheios.net/text/urn:cts:greekLit:tlg0012.tlg002.alpheios-text-grc1/passage/1.1-1.30 the first few requests work fine, but then suddenly we stop getting treebank data even when we should.

Needs further investigation.

[2020-05-26 16:03] balmas commented on #258
There might be a few things going wrong, but one scenario is related to selection and it exposes a flaw in the logic for how we determine when not to try the treebank requests anymore:

When I select words quickly in sequence on the Odyssey page, sometimes the target of the htmlSelector that gets passed to `TreebankDataItem.getTreebankData` (on line 467 of lexis.js where we create the lexicalQuery

[2020-05-26 16:06] balmas opened #383 "problem with treebank attributes when target and selected word don't match"
When I select words quickly in sequence on the Odyssey page, sometimes the target of the htmlSelector that gets passed to `TreebankDataItem.getTreebankData` (on line 467 of lexis.js where we create the lexicalQuery) is the entire parent div of the line, rather than span containing the selected word.  In this case, the TreebankDataItem.getTreebankData call returns null, because it's not finding the

[2020-05-26 17:11] kirlat commented on #362
@balmas, I've narrowed the problem down to the following line of code: https://github.com/alpheios-project/alpheios-core/blob/master/packages/components/src/lib/selection/media/html-selector.js#L158.
This should make selection to highlight the text in a range. It does it on Windows, but fails to do so on macOS. I'm not sure what's wrong. I've looked for solutions of similar issues on the Net but f

[2020-05-26 18:07] kirlat commented on #383
I've tried to reproduce it, and I was able to, but probably in a slightly different way. No matter how fast I clicked on the words, I was not able to get a treebank work incorrectly. But if I clicked between the words, within a space, then selection did span over the whole line, even though there is a meaningful word in a popup shwon. In that case treebank gets stuck and is not showing any more, e

[2020-05-26 18:11] balmas commented on #383
Yes and regardless if we fix the selection problem, that is a flaw in the treebank failed logic that definitely needs to be fixed as described at https://github.com/alpheios-project/alpheios-core/issues/258#issuecomment-634119573

[2020-05-26 18:12] balmas commented on #383
Yes, it could be that it's less about speed than exactly where we click.  I'm less certain we should try to fix this right now, particularly since we can transition the way the treebank texts are marked up to use the new sentence level alignment which should make this much less of an issue for us.

[2020-05-26 18:24] balmas commented on #362
let's just add this to the FAQ for now.  We need to refactor our selection code at some point, but not for this scenario. It seems that the highlighting works on mouseover in Chrome on the mac on other sites (e.g. the Latin Library) so it does seem to be a problem that is connected in someway to the convulted markup of the Google Docs site. It could probably reoccur on other sites as we don't know

[2020-05-26 18:35] balmas commented on #289
hmm. I still can't reproduce it, even when I set the mousemove delay really low (10ms).

In theory it shouldn't be possible as we only ever add one popup element to the page. Not sure what is going on here.

[2020-05-26 20:17] balmas opened #385 "Autocomplete broken - Logeion API change"
it looks like the Logeion API is requiring an API key now. Investigating...

[2020-05-27 01:30] irina060981 commented on #368
would be fixed in PR

![image](https://user-images.githubusercontent.com/12377640/82966131-6ce22380-a00d-11ea-82c6-afc0d2f143aa.png)

[2020-05-27 01:41] irina060981 commented on #370
First fix
![image](https://user-images.githubusercontent.com/12377640/82966788-078f3200-a00f-11ea-82a8-0d2bb8282c91.png)

[2020-05-27 02:02] irina060981 commented on #370
Second
Vowel-Declension Adjectives with Contraction (-εος)

![image](https://user-images.githubusercontent.com/12377640/82968997-ec71f180-a011-11ea-8fa3-2b0cf109178c.png)

[2020-05-27 08:37] kirlat commented on #259
Changes that remove a "Page Language" label have been merged to master.

[2020-05-27 12:22] monzug commented on #362
yes. I am ok if it goes to FAQ. and I will test with #361

[2020-05-27 12:22] #362 closed

[2020-05-27 12:41] irina060981 commented on #368
merged and closed

[2020-05-27 12:41] #368 closed

[2020-05-27 12:42] irina060981 commented on #370
merged and closed

[2020-05-27 12:42] #370 closed

[2020-05-27 12:44] monzug commented on #243
tested in Alpheios Embedded Library 3.1.6-qa.20200514440
Alpheios Components 3.3.0-qa.20200522457

looks good but the first time I do load the tree diagram, the tree first moves on the side then center than finally in the position like looking for the focus. is it ok?

[2020-05-27 12:45] irina060981 commented on #372
merged and closed

[2020-05-27 12:45] #372 closed

[2020-05-27 12:46] irina060981 commented on #345
merged and closed

[2020-05-27 12:46] #345 closed

[2020-05-27 12:46] balmas commented on #243
Yes, it's trying to find the "perfect" positioning for the current size of the display. Feature not a bug :-D

[2020-05-27 12:47] monzug commented on #243
ok.

[2020-05-27 12:47] #243 closed

[2020-05-27 12:50] irina060981 commented on #353
(2) point is fixed and merged
will checks comments in #291 next working day

[2020-05-27 13:04] monzug commented on #221
I did a bunch of lookup. except for the problem that after x times we do not have the tree icon and info, all looks good.

[2020-05-27 13:16] balmas commented on #385
ok, we have a key now and the url and the syntax has also changed.

Baseurl for and apikey for logeion requests can now be retrieved from the config service. Settings are described at alpheios-project/alpheios-config-api#3

we can also now add the language to the request so we don't have to filter the wrong language entries out ourselves anymore.

The new syntax is

`<loegion baseurl>?key=<key>q=<

[2020-05-27 13:18] balmas commented on #385
@irina060981 you can retrieve the logeion and baseurl settings from the UIController.appConfig object (available in state in `api.app.config`). If that object is not defined then the autocomplete feature should be unavailable.

We can eliminate the call to filter out the other language now too, by using the lang parameter.
Let me know if you have any questions. Thanks!

[2020-05-27 13:37] monzug opened #390 "keep the word highlighted when opening a diagram"
when I open a tree diagram, I would keep the related word highlighted in the text, so when I close the tree I know where to find it.
1) double click on the word στρατὸν (it's highlighted)

![Screen Shot 2020-05-27 at 3 06 22 PM](https://user-images.githubusercontent.com/41396793/83026990-d115df00-a02f-11ea-97b3-bd197fe4441f.png)

2) open the tree diagram, the word στρατὸν is not longer highlighted

[2020-05-27 13:43] monzug commented on #148
two things  that I experienced
1) in the Text and treebank aligned by sentence sample, when I switch from Latin to Greek, the first few words had no tree icon. then it started loading properly, there was a delay.
2) in Error Scenario - Failed Request, the first lookup takes really a loooong time to load. any subsequent lookup is super fast.
is it ok?

[2020-05-27 13:52] balmas commented on #148
Both of these are expected.

This is because it has to load the new document. Not much we can do about it, but I think the scenario where a page uses multiple documents is not going to be common.

This is because it's retrying the failed request until the max retry count is reached. Both the retry count and the delay in between requests are configurable by the page, but I just realized I didn't cr

[2020-05-27 13:59] monzug opened #391 "tree diagram available for a lookup word"
related to #239
I did lot of testing of tree diagrams in https://texts-test.alpheios.net/text/urn:cts:greekLit:tlg0085.tlg005.alpheios-text-grc1/passage/1-30. when I enter the word παμπλήθης in lookup, the tree icon is available and when I click on it, it does generate the previous opened tree diagram with the highlighted word that I double clicked previously.

![Screen Shot 2020-05-27 at 3 58 49

[2020-05-27 14:03] monzug commented on #148
ok

On Wed, May 27, 2020 at 3:53 PM Bridget Almas <notifications@github.com>
wrote:

[2020-05-27 14:13] monzug commented on #239
as per ἐκμίτνω, the pop-up does only have short def, see attachment

![Screen Shot 2020-05-27 at 4 12 00 PM](https://user-images.githubusercontent.com/41396793/83031543-f8bb7600-a034-11ea-9f39-debada32d419.png)

[2020-05-27 14:15] balmas commented on #239
yes, it's okay.

[2020-05-27 14:19] balmas opened #392 "should we add - (hyphen) to list of punctuation?"
Right now if a word has a hyphen it gets included in the lookup. E.g.

veni-

I think maybe we should consider hyphen punctuation and strip it out.

[2020-05-27 14:20] balmas commented on #392
@monzug do you have any thoughts on this? Have you encountered in testing situations where it's important to include the hyphen?

[2020-05-27 14:30] monzug commented on #392
uhm, I cannot think of any word right now

[2020-05-27 14:33] monzug commented on #258
note for testing:
1) in https://texts-test.alpheios.net/text/urn:cts:greekLit:tlg0012.tlg001.alpheios-text-grc1/passage/1.1-1.30, line 145 the ἢ
2) in https://texts-test.alpheios.net/text/urn:cts:greekLit:tlg0085.tlg005.alpheios-text-grc1/passage/1-30, line 35-40, the Χορός

[2020-05-27 14:36] monzug commented on #146
Bridget, I haven't found any word without the red arrow for disambiguated. do you have any to suggest?

[2020-05-27 15:55] balmas commented on #146
well that's good then :-)

The use cases for disambiguation are described at https://github.com/alpheios-project/alpheios-core/issues/166#issuecomment-607300619 so if you think you've covered most of those then I would say this can be verified.

[2020-05-27 17:04] kirlat commented on #383
A fix is merged to master.

[2020-05-27 17:06] kirlat commented on #258
Latest changes that have been merged to master should take care of that, hopefully.

[2020-05-27 18:08] balmas commented on #259
Alpheios Reading Tools 3.1.0 build qa.20200527411
Alpheios Components 3.3.0-qa.20200527404

[2020-05-27 18:08] #259 closed

[2020-05-27 18:09] #258 closed

[2020-05-27 18:09] balmas commented on #258
Alpheios Components 3.3.0-qa.20200527404

[2020-05-27 18:10] balmas commented on #383
Alpheios Components 3.3.0-qa.20200527404

[2020-05-27 18:11] balmas commented on #345
Alpheios Reading Tools 3.1.0 build qa.20200527411
Alpheios Components 3.3.0-qa.20200527404

[2020-05-27 18:11] balmas commented on #372
Alpheios Reading Tools 3.1.0 build qa.20200527411
Alpheios Components 3.3.0-qa.20200527404

[2020-05-27 18:12] balmas commented on #370
Alpheios Reading Tools 3.1.0 build qa.20200527411
Alpheios Components 3.3.0-qa.20200527404

[2020-05-27 18:12] balmas commented on #368
Alpheios Reading Tools 3.1.0 build qa.20200527411
Alpheios Components 3.3.0-qa.20200527404

[2020-05-27 18:13] balmas commented on #200
Alpheios Reading Tools 3.1.0 build qa.20200527411
Alpheios Components 3.3.0-qa.20200527404

[2020-05-27 18:14] balmas commented on #334
Alpheios Reading Tools 3.1.0 build qa.20200527411
Alpheios Components 3.3.0-qa.20200527404

[2020-05-27 18:39] balmas commented on #148
ok, please retest the failed request error scenario in the test page with

Alpheios Embedded Library 3.1.6-qa.20200527420
Alpheios Components 3.3.0-qa.20200527404

The page is configured to have a retry count of 3 instead of 5 and a delay between requests of 100ms instead of 200ms. It should be somewhat faster.

[2020-05-28 10:18] irina060981 commented on #385
@balmas , from my testing we couldn't stop eliminating by language in our code, because logeion API doesn't do it correctly

for example the request:
https://api-v2.logeion.org/logeion2/search?key=<key>&q=male&lang=lat

returns greek words
![image](https://user-images.githubusercontent.com/12377640/83121139-44dde780-a115-11ea-9483-a01a69a86d77.png)

[2020-05-28 11:25] irina060981 commented on #353
@monzug, as I could see in comments of #291 there was only one unsolved problem - with for-ever loading word without lexical data

it was solved via #389

all other points was answered
may be besides this

@monzug and @balmas , should I do here anything else?
try to reproduce some problem scenario?

[2020-05-28 11:27] irina060981 commented on #349
if to be honest I saw such strange changes with wordLists with testUser
but I thought that it was because we could both use test account at the same time

will try to reproduce again

[2020-05-28 12:04] balmas opened #396 "Refactor language model punctuation"
yes that's a very good idea. I'll make a new issue for that.

_Originally posted by @balmas in https://github.com/alpheios-project/alpheios-core/pull/394#issuecomment-635296729_

[2020-05-28 12:05] balmas commented on #385
![eba4a479-81b2-441d-890d-dffd14984752](https://user-images.githubusercontent.com/644870/83139171-edf6f480-a0b9-11ea-8fe0-b14c1c827219.png)

Yes I see what you mean. Apparently the parameter needs to be set to either 'latin' or 'greek' but that doesn't work either...

[2020-05-28 12:06] monzug commented on #353
if the loading problem is solved via #389, there is only one thing left: shall we add a note in the FAQ or somewhere else that failed lexical query are not  downloaded?

[2020-05-28 12:07] monzug commented on #349
Thanks

On Thu, May 28, 2020 at 1:27 PM Sklyarova Irina <notifications@github.com>
wrote:

[2020-05-28 12:13] irina060981 commented on #349
I tried to use testUser account and 2 my personal accounts
in Chrome and Firefox
in various sequence
the problem was not reproduced

I think we couldn't catch such a problem on the client side
because client sends the same request to remote
and if the problem is still reproducable, then remote should return different results for the same api request
so I think that we should create some check on t

[2020-05-28 12:16] balmas commented on #349
@irina060981 what is the scenario the server should catch exactly?

[2020-05-28 12:18] balmas commented on #353
Yes I think we should add that to the FAQ. I'm adding the faq label to this issue and am going to start working on the documentation for the release soon.

[2020-05-28 12:18] #353 closed

[2020-05-28 12:27] monzug commented on #370
Fixed in Alpheios Reading Tools 3.1.0 build qa.20200527411
Alpheios Components 3.3.0-qa.20200527404

[2020-05-28 12:31] monzug commented on #372
they both work in build Alpheios Reading Tools 3.1.0 build qa.20200527411
Alpheios Components 3.3.0-qa.20200527404

[2020-05-28 12:36] monzug commented on #368
fixed in Alpheios Reading Tools 3.1.0 build qa.20200527411
Alpheios Components 3.3.0-qa.20200527404

[2020-05-28 12:44] monzug commented on #345
tooltip is not on the column but on each element of the column. is this ok?

![Screen Shot 2020-05-28 at 2 43 07 PM](https://user-images.githubusercontent.com/41396793/83143101-bb68ee00-a0f1-11ea-9385-9145590209c9.png)
![Screen Shot 2020-05-28 at 2 42 57 PM](https://user-images.githubusercontent.com/41396793/83143105-bc9a1b00-a0f1-11ea-8fd0-e24ed6bd6399.png)

[2020-05-28 12:46] irina060981 commented on #349
I mean the folowing:

we are sending the following api

GET userapis.alpheios.net/v1/words/?languageCode=lat
and in authorization we hide user details

I could see two potential problems for the described scenario here:
 - server converts user details not correctly sometimes
 or
- different server instances could return different copy of database

if the problem is reproducable rarely, than it cou

[2020-05-28 12:50] irina060981 commented on #345
I have created it similiar other columns, you could see that each icon has its own tooltip in the row

[2020-05-28 12:52] balmas commented on #345
Yes I think it's fine the way it is.

[2020-05-28 12:55] irina060981 commented on #385
merged and closed

[2020-05-28 12:55] #385 closed

[2020-05-28 12:56] monzug commented on #334
space and border style are fixed. Thanks

[2020-05-28 12:59] monzug commented on #259
page language has been removed

![Screen Shot 2020-05-28 at 2 58 31 PM](https://user-images.githubusercontent.com/41396793/83144588-db011600-a0f3-11ea-9241-58e69f09f13b.png)

[2020-05-28 13:08] monzug commented on #19
I was not able to reproduce such scenario. The wordlist limit to this session is cleared upon logout

[2020-05-28 13:09] balmas commented on #349
Hmm. I don't think the server could be converting the user details incorrectly. The user id is in an encrypted token and there isn't really anyway it could be getting it wrong.

Here are the variables in this situation:

1 test account id
2 different remote dbs (dev and prod)
2 different users of the test id (you and Monica)
2 (or more) different local browser caches of the test account words

Whe

[2020-05-28 13:12] monzug commented on #289
again today
![Screen Shot 2020-05-28 at 3 11 06 PM](https://user-images.githubusercontent.com/41396793/83145766-9e361e80-a0f5-11ea-9043-eb8362195465.png)

[2020-05-28 13:15] balmas commented on #289
fascinating. @monzug does it happen only on the first lookup after loading the page?

[2020-05-28 13:16] monzug commented on #362
with double click the word is highlighted on the back

[2020-05-28 13:17] monzug commented on #289
yes, but it's double clicking I think that's causing it. I get one pop-up for latin and one pop-up for greek (which is the page language, I just changed it)

[2020-05-28 13:20] monzug commented on #289
nope, all lookups

On Thu, May 28, 2020 at 3:15 PM Bridget Almas <notifications@github.com>
wrote:

[2020-05-28 13:28] balmas commented on #289
One thing to double check - if mousemove is enabled or not. Sometimes I have found myself clicking when mousemove is enabled and it is difficult to tell that it's actually responding to the mousemovement and not the double-click

[2020-05-28 13:46] monzug commented on #289
I didn’t check that but I will. Isn’t double click the default option now?

Sent from my iPhone

[2020-05-28 13:54] balmas commented on #289
Yes it should be, but if you previously had mousemove selected it might not have cleared that.

[2020-05-28 15:09] monzug commented on #289
I closed google docs and alpheios before going to the dentist. as soon as I got back, I opened the google doc again and activate Alpheios, checked the mousemove option and confirm that it was not checked. Anyhow doubleclicking works fine now. so it could be the influence of the testing that I was doing on the other tabs, before opening google docs????

[2020-05-28 15:11] balmas commented on #289
that would be really weird but I guess not impossible.

[2020-05-28 15:20] monzug commented on #289
I do not know what to think. I opened google docs, double clicked on few
words and got the two pop-ups. so first I thought it had to do with page
language so I changed it from latin to greek, but I kept getting the two
pop-ups. then I deactivated alpheios and closed google docs. on reopening,
I was not longer able to repro it.

On Thu, May 28, 2020 at 5:12 PM Bridget Almas <notifications@github.co

[2020-05-28 15:45] monzug commented on #148
yes, it 's definitely faster

[2020-05-28 16:07] monzug commented on #200
the number of words to show is reset to 25 when switching from limit to most recent to limit to most often.also issue 7 has been fixed. Thanks.

[2020-05-28 17:11] balmas commented on #205
I wasn't able to reproduce this one either. Tested in FF 76 on Linux and Windows.

I was able to drag it fully outside of the window but it popped back immediately.

@monzug what version of Firefox are you using? on Mac or Windows?

[2020-05-28 20:48] balmas opened #397 "refactoring: consider use and impact of Shadow DOM"
There are a number of issues we've been encountering that we might consider use of the Shadow DOM api to help us address. At least the following come to mind:

* underlying page styles bleeding into the alpheios components
* the issue in #376 where the alpheios components are getting removed from the page (I'm not sure the shadow DOM helps here, but it might)

https://developers.google.com/web/fun

[2020-05-28 20:54] balmas commented on #289
inspecting the contents of a Google Docs page in the debugger, I'm wondering if it's possible that in some scenarios the alpheios popup is getting appended to a document in an iframe rather than the main document, and that's how the two popups are appearing at the same time. In theory that should not be possible but the Google Docs source is filled with hidden iframes.  The other idea I had is tha

[2020-05-28 21:48] irina060981 commented on #397
I could point, that from the Selenium testing perspective Shadow DOM components are unreachablee for manupulating.
So if we woukd use it - browser testing would be broken

[2020-05-29 00:19] irina060981 commented on #349
yes, while we couldn't define the stable scenario for this -
and my cases (that were not only with test user, I believe, but I am not sure - because it is really not easy to catch while you don't choose words to wordlist with attention) are not repeated and could be because of not updated environment

[2020-05-29 00:19] irina060981 commented on #349
@balmas and @monzug , so may be postpone this case before would have some similiar cases in future?

[2020-05-29 00:27] irina060981 commented on #201
Yes, I could see the problem, I didn't thought about this with events
I believe we could simply pass additional flag to the event arguments

[2020-05-29 00:29] irina060981 commented on #201
I didn't finally understand - what changed - I made several tests -
  I didn't see that filter field changed
  But I see that results of the filtering could be changed because of updating the words

@monzug , may be you described changes in filter results?

[2020-05-29 06:04] monzug commented on #349
I'll take it. I will do some testing during regression to see if it's
reproducible. can you assign pls?

On Fri, May 29, 2020 at 2:20 AM Sklyarova Irina <notifications@github.com>
wrote:

[2020-05-29 12:24] monzug opened #398 "pop-up shrinks and enlarges when downloading to flashcard"
When downloading a wordlist to flashcard while lexical data message is loading, the pop-up changes in size few times, it shrinks then it enlarges then it shrinks again few times (Chrome on Mac)

[2020-05-29 12:31] monzug commented on #289
Why am I the only one experiencing this? my testing environment is different than yours, for sure. in more than 2 months I am still the only one seeing the two pop-ups. it could be an extremely edgy case (a combination of page language with who knows what), in which case I don't know if it's worth spending any time on it. what do you think?

[2020-05-29 12:33] balmas commented on #289
I agree it's probably an edge case, but the fact that it clearly can happen when the code in theory should make it not possible indicates that there is something we need to at least pay attention to.

I agree we should not hold up the release for it however.

[2020-05-29 12:41] monzug commented on #289
absolutely. I will spend more time testing it during regression.

[2020-05-29 12:51] monzug commented on #289
this time I open google docs, and activate alpheios. double clicking was not working so I check in Options for mousemove. it was checked. I click on reset all. then first double click I got the two pop-ups

![Screen Shot 2020-05-29 at 2 49 40 PM](https://user-images.githubusercontent.com/41396793/83261621-eb7cc380-a1bb-11ea-9294-5c2a0e2595c5.png)

[2020-05-29 12:53] monzug commented on #289
![Screen Shot 2020-05-29 at 2 52 49 PM](https://user-images.githubusercontent.com/41396793/83261761-2a127e00-a1bc-11ea-956a-65b666f3de70.png)

[2020-05-29 13:00] monzug opened #399 "Frozen toolbar in Google docs"
while testing #349, I did experience again the frozen toolbar in google docs. this time I logged in as apple user, then I checked my wordlist, then I change page language from chinese to latin in lookup and the toolbar is frozen, I cannot select Options or wordlist or anything else. After deactivating alpheios and closing google docs, it was back ok.

![Screen Shot 2020-05-29 at 2 58 04 PM](https:

[2020-05-29 13:05] balmas opened #400 "enableMouseMove is not working anymore"
In
Alpheios Reading Tools 3.1.0 build qa.20200527411
Alpheios Components 3.3.0-qa.20200527404

I have useMouseOverToSelectWords checked in options but there is no response to mouse movements.

I think it might have been broken by the changes in #375

[2020-05-29 13:19] balmas commented on #400
@kirlat see
https://github.com/alpheios-project/alpheios-core/commit/9fea9dbef9d72e93ef9b3bdf60c09ffc26024a67#r39529571

I think this line was needed because of the following:

upon init we call registerGetSelectedText which registers the regular default listener (i.e. double-click) but does not check whether that should be overridden by the mousemove listener

Upon activation of Alpheios (i.e. in

[2020-05-29 13:22] monzug commented on #349
uhm, I am trying to reproduce this scenario, but I got this wordlist with syriac words. do I still need to point to a dev database?

![Screen Shot 2020-05-29 at 3 20 26 PM](https://user-images.githubusercontent.com/41396793/83264267-21bc4200-a1c0-11ea-9754-6ccee48ddf2f.png)

[2020-05-29 13:25] balmas commented on #349
yes you do still need the dev database. I think I should probably plan to deploy the new schema to the prod database soon. It shouldn't do any harm, but I don't want to do it on a Friday so I will plan to on this coming Monday.

I don't think that should be creating the character display issue though... not sure what is happening there.

[2020-05-29 13:32] balmas commented on #289
@monzug can you give me the link to the doc you are testing with?

There is a problem with mousemove activation in the latest build (see #400)  but I want to see if there is any way I can reproduce using the exact same document you are.

[2020-05-29 13:33] monzug commented on #349
I haven't been using the dev database since I installed this latest build yesterday.

[2020-05-29 13:34] balmas commented on #398
I can live with the growing/shrinking but the fact that is happening tells me that some state variable is probably being affected by the lookups that is affecting the popup display.

@irina060981 can you investigate?

[2020-05-29 13:34] monzug commented on #400
Mousemove works for me in chinese site https://ctext.org/

[2020-05-29 13:35] balmas commented on #349
hmm. then I would guess your new lookups can't be saved to the wordlist

[2020-05-29 13:35] monzug commented on #289
μάλιστα δὲ πρὸς τὴν φύσιν· ἔστι γὰρ οἷον ἀρχὴ

τῶν ζῴων. Ἐπιζητοῦμεν δὲ θεωρῆσαι καὶ γνῶναι τήν τε

φύσιν αὐτῆς καὶ τὴν οὐσίαν, εἶθ’ ὅσα συμβέβηκε περὶ αὐτήν

「學而時習之，不亦說乎？有朋自遠方來，不亦樂乎？人不知而不慍，不亦君子乎？」

On Fri, May 29, 2020 at 3:33 PM Bridget Almas <notifications@github.com>
wrote:

[2020-05-29 13:36] balmas commented on #400
it depends upon when and how it is activated. if you change it from double-click to mousemove after loading the page it should work. But if it's already at mousemove when you load the page it probably will not.

[2020-05-29 13:36] balmas commented on #289
no, not the contents :-) the actual document

[2020-05-29 13:37] monzug commented on #349
only the lookups or also double clicking?  because I see the latest been
saved

On Fri, May 29, 2020 at 3:35 PM Bridget Almas <notifications@github.com>
wrote:

[2020-05-29 13:37] monzug commented on #289
https://docs.google.com/document/d/1J-YPkuvy1jSz7REE0YKetyL3dDXcSmxjYWNbkJnoXiQ/edit

On Fri, May 29, 2020 at 3:36 PM Bridget Almas <notifications@github.com>
wrote:

[2020-05-29 13:38] monzug commented on #400
interesting

On Fri, May 29, 2020 at 3:36 PM Bridget Almas <notifications@github.com>
wrote:

[2020-05-29 13:43] balmas commented on #349
are you definitely not using the dev database? I would expect saves of new lookups to fail if you are.

[2020-05-29 13:59] monzug commented on #349
let me check

On Fri, May 29, 2020 at 3:43 PM Bridget Almas <notifications@github.com>
wrote:

[2020-05-29 14:01] balmas commented on #400
@kirlat FYI I will take this one and work on it today.

[2020-05-29 14:02] monzug commented on #349
I was not using the dev database. I am going to update the file now. is
there anything that I need to retest because affected by using the regular
database?

On Fri, May 29, 2020 at 3:59 PM Monica Zugan <monzug@gmail.com> wrote:

[2020-05-29 14:03] kirlat commented on #400
Thanks!

[2020-05-29 14:13] balmas commented on #349
Only wordlist related items.

[2020-05-29 14:17] kirlat commented on #400
I think this is how it should work ideally, and this is an intended use. Why we have many register/deregister calls with mousemove is probably because it has variable options such as precision and delay. That's why we recreate it every time it's activated: to be sure that a (potentially) changed parameters are passed to the event's constructor.

I think the best approach would be to change an API

[2020-05-29 14:20] kirlat commented on #399
@monzug, on what OS did it happens? Was it macOS, Windows, or Linux?

[2020-05-29 14:22] balmas commented on #400
I am not sure. I agree it's not the time to do refactoring right now, but I think the main problem with the mousemove event is that it wasn't handled as just another valid value for the textQueryTriggerDesktop option. I think initially there was some confusion about how it should be implemented - i.e. it was done first only for chinese, and when I decided it should apply to all languages, it shoul

[2020-05-29 14:24] monzug commented on #289
uhm, I just got the two pop-ups on latin library. so, I change env-webext.js to point to dev database, then I reinstall the build after clearing data. activate alpheios on latin library, double click on a word and got the two pop-ups, I immediately went to check the mouseover in Options, but it's unchecked. see screeshot

![Screen Shot 2020-05-29 at 4 20 11 PM](https://user-images.githubuserconten

[2020-05-29 14:28] monzug commented on #399
chrome on Mac

On Fri, May 29, 2020 at 4:20 PM kirlat <notifications@github.com> wrote:

[2020-05-29 14:29] monzug commented on #349
ok

[2020-05-29 14:29] balmas commented on #289
@monzug is there any chance you have 2 versions of the alpheios extensions installed??

What do you see in chrome://extensions?

[2020-05-29 14:31] kirlat commented on #399
Thanks, I will investigate

[2020-05-29 14:57] monzug commented on #349
and this is when I log in to latin library as test-monica.

![Screen Shot 2020-05-29 at 4 56 43 PM](https://user-images.githubusercontent.com/41396793/83273984-74e8c180-a1cd-11ea-9fcc-b6c500cf8b80.png)

[2020-05-29 15:04] balmas commented on #349
hmm. it looks to me like maybe nothing is actually getting saved to the db.

Can you check the debug console to see if there are any errors?

[2020-05-29 15:10] balmas commented on #349
@monzug I think this is my fault, I forgot to tell you to also change the audience in the env-webext.js file
you should have

[code]

can you check that?

[2020-05-29 15:24] #400 closed

[2020-05-29 17:34] balmas commented on #201
add source parameter to event arguments, define it as a simple string (or may be some constants in data-models) and update events for Homonym_Ready with new format of arguments

I think maybe the use of specific events for Wordlist updating would be the least invasive way to go. It might also help with the issue described in #398

[2020-05-29 18:02] balmas opened #402 "cleanup console messages"
A number of console calls have snuck back in and are cluttering up the console. We should use our Logger library methods instead so that they are only output in verbose mode.

[code]

[2020-06-01 05:08] irina060981 commented on #398
yes, I could see this - each word from wordlit update uploads in popup (and it is strange)
will check

[2020-06-01 12:43] balmas commented on #349
@monzug I have deployed the schema change to the production environment now, so you should be able to test fully using the prod environment only.

[2020-06-01 12:44] monzug commented on #349
I was just changing the env file right now. excellent. Thanks

On Mon, Jun 1, 2020 at 2:43 PM Bridget Almas <notifications@github.com>
wrote:

[2020-06-01 13:10] monzug commented on #349
retested with the updated environment and I could not reproduce this scenario. I am  going to close this one. will enter a new issue for the character dislay

[2020-06-01 13:10] #349 closed

[2020-06-01 13:14] monzug opened #404 "Character display issue with syriac words in wordlist"
see issue #349.
I was able again to reproduce the character display issue in wordlist. Go to chrome and activate alpheios in Loeb classics.  double clcik on a couple of words then go to the syriac site sedra and change page language to syriac. double click on few words there. the words are saved in wordlist with character display issue see screenshot
![Screen Shot 2020-06-01 at 3 09 02 PM](https:/

[2020-06-01 13:17] monzug commented on #404
also in morphology pop-up
![Screen Shot 2020-06-01 at 3 16 03 PM](https://user-images.githubusercontent.com/41396793/83412762-f97c4f80-a41a-11ea-9844-e76072ceb93b.png)

and wordlist limit to this session
![Screen Shot 2020-06-01 at 3 16 38 PM](https://user-images.githubusercontent.com/41396793/83412796-06993e80-a41b-11ea-9ef6-0a7f4b4ac908.png)

[2020-06-01 13:25] monzug commented on #205
FF 76 on Mac
I was able to repro the scenario described above. windows goes all the way off the screen. on double clicking on a new word, the top of pop-up was visible from the screen so I was able to drag it back to the center and since then it works fine.
1) outside the visible screen
![Screen Shot 2020-06-01 at 3 19 52 PM](https://user-images.githubusercontent.com/41396793/83413335-f03fb280-a41

[2020-06-01 13:47] balmas commented on #205
ok, I'm going to say we can live with this. FF on Mac is a very low percentage of our user base and I don't think it's worth the time. We can put it in the FAQ. @monzug are you okay with that?

[2020-06-01 13:50] monzug commented on #205
Actually, I wouldn't put it in the FAQ. but I still need to check FF on PC

[2020-06-01 13:56] balmas commented on #205
ok.

[2020-06-01 13:57] monzug commented on #258
I am not getting the treebank icon in texts-test env

![Screen Shot 2020-06-01 at 3 55 27 PM](https://user-images.githubusercontent.com/41396793/83416169-8ece1280-a420-11ea-8aa9-3a3cbfe18a54.png)

[2020-06-01 14:00] balmas commented on #258
? not at all? Or after a certain number of requests? It seems to be working for me.

[2020-06-01 14:13] monzug commented on #258
now it's back working in Chrome, not sure what is going on though. see on FF:

![Screen Shot 2020-06-01 at 4 12 22 PM](https://user-images.githubusercontent.com/41396793/83417772-d9508e80-a422-11ea-85d6-1b1cf0018add.png)

![Screen Shot 2020-06-01 at 4 10 11 PM](https://user-images.githubusercontent.com/41396793/83417784-dbb2e880-a422-11ea-9193-675772279617.png)

[2020-06-01 14:21] balmas commented on #258
That's actually the production environment in that screenshot

[2020-06-01 14:29] monzug commented on #258
so I accidentally switch to the production environment. still no icon in FF on Mac

![Screen Shot 2020-06-01 at 4 27 31 PM](https://user-images.githubusercontent.com/41396793/83419171-f4240280-a424-11ea-968c-e8325dbb9d0d.png)

[2020-06-01 14:31] balmas commented on #258
what happens if you wait a few seconds after loading the page before doing the first lookup? Does the problem occur on other texts too?

The odyssey treebank files are pretty big and take a little while to load sometimes.

[2020-06-01 14:34] monzug commented on #258
oh I tried Aeschylus before too

[2020-06-01 14:39] balmas commented on #258
hmm. this is frustrating. If you weren't getting the message about the resources not being available, I would say that perhaps the problem could be caused by double-clicking near but not precisely on the text. I can reproduce it easily by clicking just below a word:

![Screenshot from 2020-06-01 10-38-34](https://user-images.githubusercontent.com/644870/83420076-13ef0280-a3f4-11ea-924b-0946dc23515

[2020-06-01 14:53] monzug commented on #258
so I closed this issue because it's not longer reproducible, tested in FF and Chrome on PC and Chrome on Mac.
what do I do with the FF on Mac and the treebank?

[2020-06-01 14:57] balmas commented on #258
Ah, I missed that it was FF on MAC.... please enter a new issue for that. I would like to investigate it although we may not be able to fix it.

[2020-06-01 14:59] monzug commented on #258
OK.

[2020-06-01 15:02] monzug opened #405 "FF on Mac: no treebank icon is generated"
tested in FF on Mac. No icon was generated for texts that do normally support treebanking, like Aeschylus and Homer. see issue #258  where it has been initially reported

[2020-06-01 15:07] monzug commented on #383
I am still able to reproduce the selection of few lines  over a specific word. it does happen when the word is close to the bottom of the page. basically the selection shift below the selected word and stop few lines lower than the specific word and the morphology lookup and the treebank are generated based on the last word highlighted. it's an edgy case.

[2020-06-01 15:16] monzug commented on #205
I can't repro it in FF on PC. pop-up does always bounce back

[2020-06-01 15:16] #205 closed

[2020-06-01 20:06] balmas opened #406 "flashcard download - exclude header, fix filename"
I think we should exclude the header row from the flashcard download and also use the file extension .tsv instead of .csv to make it clear that it is tab-separated.

[2020-06-01 22:32] irina060981 commented on #398
merged and closed

[2020-06-01 22:32] #398 closed

[2020-06-01 22:32] irina060981 commented on #201
merged

[2020-06-01 22:38] irina060981 commented on #201
@monzug and @balmas ,
I have here a notice with some strange (limit to) behavior

I am not sure what exactly should I test and fix here?
Could you give me some additional explanation?

[2020-06-02 06:04] irina060981 opened #408 "Selection for Syriac words doesn't work"
@balmas , while working on https://github.com/alpheios-project/alpheios-core/issues/404
I have found that here
http://www.tertullian.org/rpearse/thesyriaclibrary/eusebius_of_caesarea_encomium.htm

I couldn't select a Syriac word from the text
it throws a error from our code

![image](https://user-images.githubusercontent.com/12377640/83485591-b4bfe980-a4ea-11ea-88fa-bd27f0f97268.png)

[2020-06-02 06:06] irina060981 commented on #408
The same problem with embed-lib in demo/index.html

[2020-06-02 07:02] irina060981 commented on #404
I was not able to reproduce - but I believe that this problem could be because of using not specific font
I have added lang attribute to wordlist to use a correct font

as for popup font problem - I believe we have some `ara` text there (I saw similiar for other words)

Finally I think that the problem coud be in the case that specific fonts was not loaded correctly.
We upload fonts from
fonts.gst

[2020-06-02 11:13] monzug commented on #404
could be. I was working from my other location where the connection is not
too good.

On Tue, Jun 2, 2020 at 9:02 AM Sklyarova Irina <notifications@github.com>
wrote:

[2020-06-02 11:51] balmas commented on #408
oh -- this is my bug. Introduced in PR for #392 It needs to be fixed in all of the language model classes then.

[2020-06-02 11:55] balmas commented on #404
Yes that seems possible.

[2020-06-02 12:06] monzug commented on #404
let me try again

On Tue, Jun 2, 2020 at 1:55 PM Bridget Almas <notifications@github.com>
wrote:

[2020-06-02 12:10] monzug commented on #404
this is chrome on Mac:

![Screen Shot 2020-06-02 at 2 09 35 PM](https://user-images.githubusercontent.com/41396793/83518537-d9ac6080-a4da-11ea-8b85-02aa53a62bb5.png)

![Screen Shot 2020-06-02 at 2 10 03 PM](https://user-images.githubusercontent.com/41396793/83518530-d6b17000-a4da-11ea-9161-5c9c172805a0.png)

[2020-06-02 12:12] balmas commented on #404
Chrome on Mac definitely has character encoding problems. Does the same problem occur on the page on which the words were looked up?

[2020-06-02 12:17] monzug commented on #404
Chrome on PC - this is book Peshitta, acts of the apostles

![syriac-pc-chrome](https://user-images.githubusercontent.com/41396793/83519159-8241cc80-a4a9-11ea-94f8-d3d0f77bb68d.JPG)

[2020-06-02 12:18] monzug commented on #404
Note that Loading is still happening in both environments

[2020-06-02 12:20] balmas commented on #404
@monzug in that screenshot the characters look okay in moth Alpheios and on the underlying page?

[2020-06-02 12:21] monzug commented on #404
lookup works fine in most of the words. just found one instance

![Screen Shot 2020-06-02 at 2 19 55 PM](https://user-images.githubusercontent.com/41396793/83519463-53911980-a4dc-11ea-96ce-874c04d4c2c4.png)

[2020-06-02 12:23] balmas commented on #404
Ok, so in the messages, that's probably because the font isn't being applied there.  That's a bug.

[2020-06-02 12:24] monzug commented on #404
@balmas, sorry, I don't understand your question?

[2020-06-02 12:31] irina060981 commented on #404
I believe Bridget is talking about adding language attribute to the message (... was not found ...)
@balmas, it is insetered here from l10n messages and would need some refactoring - may be it is worth to create a separate issue for that?

[2020-06-02 12:32] monzug commented on #404
Thanks Irina.

[2020-06-02 12:32] balmas commented on #404
Yes, agree we need a new issue for that.

[2020-06-02 12:35] monzug commented on #201
Irina, here is an other screenshot
![limit-to-important](https://user-images.githubusercontent.com/41396793/83520404-a1415e00-a4ab-11ea-89f6-b1c919892eb1.JPG)

when I apply the Limit to important for words saved long time ago, the status of these words is added in current session, which is not the case. the limit to does not change to limit to this session. I applied the limit to this session to s

[2020-06-02 12:37] balmas commented on #404
As for the display, here's what I see for that word ܗܘ in Chrome on Mac

![Screenshot 2020-06-02 08 29 24](https://user-images.githubusercontent.com/644870/83520460-b7e7b500-a4ab-11ea-8134-e7b762c85066.png)

What I was wondering is if Chrome was just having trouble displaying those characters in the definition for "the same", regardless of whether they were in Alpheios or on the underlying page. B

[2020-06-02 12:37] monzug commented on #404
Irina, can you enter that as you have a better understanding on what's going on. Thanks

[2020-06-02 12:41] monzug commented on #404
ok, on Mac it seems that it takes longer to upload some fonts. Now that I have been playing with syriac for a while, the same word looks ok.

![Screen Shot 2020-06-02 at 2 39 31 PM](https://user-images.githubusercontent.com/41396793/83521185-2a25bd00-a4df-11ea-914d-bac2048ff171.png)

[2020-06-02 12:44] monzug commented on #404
and an other one that worked before

![Screen Shot 2020-06-02 at 2 43 31 PM](https://user-images.githubusercontent.com/41396793/83521446-88eb3680-a4df-11ea-89ac-fe7829582a5a.png)

[2020-06-02 12:50] balmas commented on #404
I think we can't do more than we are doing here. Chrome on Mac is notoriously bad at unicode fonts.

[2020-06-02 12:54] monzug commented on #404
Like it's good on other thing...

On Tue, Jun 2, 2020 at 2:50 PM Bridget Almas <notifications@github.com>
wrote:

[2020-06-02 13:00] irina060981 commented on #406
fixed, merged and closed

[2020-06-02 13:00] #406 closed

[2020-06-02 13:01] irina060981 commented on #408
Fixed for all languages, merged and closed

[2020-06-02 13:01] #408 closed

[2020-06-02 13:04] irina060981 commented on #404
ok - fix with adding language to worditems is done

I will also refactor message component with lang attribute later

[2020-06-02 13:24] monzug opened #410 "we should add the irregular verb INQUIT"
it does exist only in the present tense and the only two most commonly forms used parts of the verb  are “inquit” and “inquiunt”

[2020-06-02 14:13] monzug commented on #288
when is #361 be ready for testing? I see that it's waiting for verification but it is still assigned to Kirlat.

[2020-06-02 14:20] balmas commented on #361
oh, this should be in the latest QA build

Alpheios Components 3.3.0 build i400.20200529319

[2020-06-02 14:20] #361 closed

[2020-06-02 14:21] balmas commented on #288
sorry, ready now. I missed it.

[2020-06-02 17:38] balmas commented on #406
Alpheios Reading Tools 3.1.0 build qa.20200602407
Alpheios Components 3.3.0-qa.20200602383

[2020-06-02 17:39] balmas commented on #398
Alpheios Reading Tools 3.1.0 build qa.20200602407
Alpheios Components 3.3.0-qa.20200602383

[2020-06-02 17:40] balmas commented on #309
Alpheios Reading Tools 3.1.0 build qa.20200602407
Alpheios Components 3.3.0-qa.20200602383

Normalization of mousemove language. Should now say "Mouse movement over text"

[2020-06-02 17:42] balmas commented on #385
Alpheios Reading Tools 3.1.0 build qa.20200602407
Alpheios Components 3.3.0-qa.20200602383

[2020-06-02 17:43] balmas commented on #353
Alpheios Reading Tools 3.1.0 build qa.20200602407
Alpheios Components 3.3.0-qa.20200602383

[2020-06-02 17:44] balmas commented on #392
Alpheios Reading Tools 3.1.0 build qa.20200602407
Alpheios Components 3.3.0-qa.20200602383

[2020-06-02 20:16] balmas commented on #405
@monzug what version of Firefox on Mac? It worked for me in both FF 75 and FF 77

Which Mac OS also?

[2020-06-03 09:42] irina060981 opened #411 "Add lang attribute to message to apply a correct font"
lookup works fine in most of the words. just found one instance. this is till on MAC

![Screen Shot 2020-06-02 at 2 19 55 PM](https://user-images.githubusercontent.com/41396793/83519463-53911980-a4dc-11ea-96ce-874c04d4c2c4.png)

_Originally posted by @monzug in https://github.com/alpheios-project/alpheios-core/issues/404#issuecomment-637505462_

[2020-06-03 09:48] irina060981 commented on #404
ok I have created a separate issue for formatting message
Also I believe that we should define several fonts for arabic and syriac texts, this way we would have correct fallback
@balmas , what do you think?

[2020-06-03 12:08] balmas commented on #404
Agree

[2020-06-03 12:10] irina060981 commented on #411
merged and closed

[2020-06-03 12:10] #411 closed

[2020-06-03 12:11] irina060981 commented on #404
ok - fallback fonts are added
merged and closed

[2020-06-03 12:20] monzug commented on #404
note for testing: lookup using one of those words with weird font works fine

[2020-06-03 12:28] balmas commented on #383
Agree it's an edge case. I think we can mitigate it after the release by improving the markup of our treebanked texts to use sentence level alignment rather than word level, eliminating the spans around each word.  I'll create a new issue for that.

[2020-06-03 12:28] balmas opened #413 "Agree it's an edge case. I think we can mitigate it after the release by improving the markup of our treebanked texts to use sentence level alignment rather than word level, eliminating the spans around each word. I'll create a new issue for that."
Agree it's an edge case. I think we can mitigate it after the release by improving the markup of our treebanked texts to use sentence level alignment rather than word level, eliminating the spans around each word.  I'll create a new issue for that.

_Originally posted by @balmas in https://github.com/alpheios-project/alpheios-core/issues/383#issuecomment-638164726_

[2020-06-03 12:42] balmas commented on #201
I think that should be solved by the fix for #398 in Alpheios Components 3.3.0-qa.20200602383

[2020-06-03 12:42] #201 closed

[2020-06-03 13:15] monzug commented on #406
tested in Chrome and FF on PC and Chrome on Mac. confirm that file ext is tsv now. Header is gone but on Mac it looks like the first  of the wordlist is replacing the header. see screenshot

[2020-06-03 13:30] balmas commented on #406
@monzug I think that's just how the editor is interpreting it, but that's okay. The Quizlet import assumes no header row.

![quizletimport](https://user-images.githubusercontent.com/644870/83642451-da95ce80-a57c-11ea-8914-3d177c49c24d.png)

[2020-06-03 13:34] monzug commented on #406
ok. I'll close it

[2020-06-03 13:56] monzug commented on #400
it works fine. tested in FF/PC and Chrome/Mac

[2020-06-03 14:47] monzug opened #414 "Mobile: easy to loose the diagram when scrolling up and down"
mobile: the new treebank diagram looks better in portrait view rather
than landscape (at least in my mobile iPhone XR) - one funny thing about
the diagram is that I can scroll it down for ever and also up for ever,
easy to get  lost in the scrolling and to get a blank page. I think we
should fix the size of the scrolling area, if possible.

[2020-06-03 14:51] monzug commented on #398
This is not longer reproducible in build  Alpheios Reading Tools 3.1.0 build qa.20200602407
Alpheios Components 3.3.0-qa.20200602383

[2020-06-03 15:04] monzug commented on #353
uhm, the loading for ever is still reproducible. also by clicking on the saved loading from wordlist it does load for ever
![loading-again](https://user-images.githubusercontent.com/41396793/83653421-c4dad600-a589-11ea-80f9-4678df4909a5.JPG)

is this going to be fixed by #389? I don't see the status being updated on #389

[2020-06-03 15:17] balmas commented on #353
Hmm. This should have been fixed in this build.

[2020-06-03 15:35] monzug commented on #353
in Chrome on Mac, instead of getting Loading, it doesn't do anything. I do not get the morphological pop-up but the word is added to wordlist and it does display correctly. double clicking on it from wordlist it does load the morphology pop-up
![Screen Shot 2020-06-03 at 5 29 53 PM](https://user-images.githubusercontent.com/41396793/83657020-94625e80-a5c0-11ea-9797-476566870db5.png)
![Screen Shot

[2020-06-03 15:37] monzug commented on #353
this is Chrome on PC
![Chrome-PC-loading](https://user-images.githubusercontent.com/41396793/83657186-84318b80-a58e-11ea-9025-fcc502253ca7.JPG)

[2020-06-03 15:46] monzug commented on #405
![Screen Shot 2020-06-03 at 5 45 49 PM](https://user-images.githubusercontent.com/41396793/83658200-2e76d680-a5c2-11ea-9782-38d2868b8dfe.png)

[2020-06-03 15:56] monzug commented on #399
I did try in latest build and I was not able to repro it. will take it to add to regression. Thanks

[2020-06-03 15:56] balmas commented on #405
This might be an OS issue. I'm using Catalina.

Can you tell me
(1) do Chinese lookups work for you Firefox on the Mac?
(2) are you able to browser the trees here in Firefox on the Mac? http://trees.alpheios.net/

[2020-06-03 16:01] monzug commented on #201
the basics are in

[2020-06-03 16:14] monzug commented on #405
I am getting it in Chrome on PC but not in FF on MAC, I get a blank page

On Wed, Jun 3, 2020 at 11:56 AM Bridget Almas <notifications@github.com>
wrote:

[2020-06-03 16:17] monzug commented on #405
Chinese lookups work in FF/Mac

On Wed, Jun 3, 2020 at 12:14 PM Monica Zugan <monzug@gmail.com> wrote:

[2020-06-03 16:26] kirlat opened #415 "Increased a percieved speed of UI loading"
It takes a while for a UI of a webextension to appear after user pressed an activate button in a browser toolbar. In my tests it took from 1500 to 1700 ms. It feels slow.

I did some performance testing and it seems the parts that are lagging behind are:
* Loading of options (around 700 ms)
* Loading of a panel (around 500 ms). This delay is probably due to tables of an inflection browser being co

[2020-06-03 16:33] monzug opened #416 "Missing message to load the Chinese database in Google Docs?"
I open my test file with greek and chinese words. Login with page language set to chinese and mouse movement checked.  I do not get the message to load the Chinese database. mouse over a chinese word does generate the related morphology pop-up and so does lookup.
tested in Chrome on PC and Mac

[2020-06-03 16:36] monzug commented on #399
uhm, I have seen again  a frozen toolbar when logged in google docs.

[2020-06-03 16:50] balmas commented on #405
Do you mean the trees at http://trees.alpheios.net/ ?

[2020-06-03 16:51] balmas commented on #416
@monzug just to clarify - this is before the data is loaded, right? When you say "word does generate the related morphology pop-up and so does lookup." that's a popup with no results, but no loading message?

[2020-06-03 16:57] monzug commented on #405
yes. trees.alpheios.net -> FF/Mac blank page

On Wed, Jun 3, 2020 at 12:50 PM Bridget Almas <notifications@github.com>
wrote:

[2020-06-03 16:58] monzug commented on #416
I never get a message to load the Chinese database and it works just fine

On Wed, Jun 3, 2020 at 12:51 PM Bridget Almas <notifications@github.com>
wrote:

[2020-06-03 17:01] #405 closed

[2020-06-03 17:02] balmas commented on #405
Actually @monzug can you test one more thing for me? Do the trees here load in FF on Mac?
https://perseids-publications.github.io/treebank-template/

[2020-06-03 17:26] balmas commented on #348
@kirlat when you have a minute I would like your opinion on this one. I had marked it as won't fix, but I want to be sure I'm not missing something easy that could address it.

Basically the issue here is the underlying page has HTML that contains a div with the text "Loading..." that then gets overlaid with results that are retrieved by javascript, but the underlying Loading text is still there i

[2020-06-03 17:26] balmas commented on #416
excellent so we'll close this one.

[2020-06-03 18:07] monzug commented on #353
so the loading issue is reported in #348
this one should be only related to issue 2)

[2020-06-03 18:33] balmas opened #417 "fix the size of the header when repositioning"
Reported by @abrasax

If the popup is taller than the screen, when we are calculating the correct position for it there is a phase when the popup header gets smooshed before it returns to its normal size.

This can be seen in the video at
https://www.awesomescreenshot.com/video/180814?key=3acad7792b77c2f89a9781c26e45b219

@kirlat can we fix this in the CSS somehow?

[2020-06-03 19:11] kirlat commented on #348
I've checked this case and the problem with the "Loading" spinner is, even though it has `display: none` rule set, it has a `z-index` prop that makes it the highest element on a page. There is a JS on a page that sets a `z-index` value of that element: even if to manually set a `z-index` of a text element to be higher than that of a spinner, a JS will update a `z-index` of the spinner so that it w

[2020-06-03 19:14] balmas commented on #348
That's very interesting. I don't think we have a hard requirement to support this site -- it has itself already the functionality that Alpheios adds. It's just a good site for testing because we know that many of the words there should produce lookup results :-)

I don't think we need to do anything then, but I feel better knowing what exactly is causing it though so we can at least document it.

[2020-06-03 19:15] #348 closed

[2020-06-04 11:54] monzug commented on #353
tested in Chrome on PC. Confirm that double clicking from wordlist for words with no lexical data works fine. Only Pindarus return a blank pop-up several times.

![pindarus-from-wordlist](https://user-images.githubusercontent.com/41396793/83753408-3c673e80-a638-11ea-808c-5dedb0fbe3f9.JPG)

![pindarus](https://user-images.githubusercontent.com/41396793/83753409-3cffd500-a638-11ea-94e2-ad68259a6365.

[2020-06-04 12:15] monzug commented on #382
see more examples of this issue
![today'sdate](https://user-images.githubusercontent.com/41396793/83755370-7be35a00-a63b-11ea-80c5-a1bbcbb2a68d.JPG)

[2020-06-04 12:31] monzug commented on #392
question: if the hyphen is stripped out, shouldn't the e-o double click work? note that lookup for e-o works fine.
see this site https://www.tradurreantico.it/latino/grammatica-latina/morfologia/verbo/verbo-eo-latino/

[2020-06-04 12:44] monzug commented on #385
autocomplete is in. tested in Chrome on PC and Mac.
I checked the elimination of words from other languages, but this hasn't been implemented correct?
e.g. car -> carle, cart, Carmo are still in autocomplete

[2020-06-04 12:51] balmas commented on #353
That's an interesting difference in behavior. I believe it occurs because Pindarus has no results from the morphological parser and no short definition, but it does have a full definition because it's found in the lexicon. So I think it ends up getting cached with a Homonym object that doesn't have a short definition. This is an edge case so I'm okay with it, but I will open an issue because it's

[2020-06-04 12:54] balmas opened #418 "inconsistency in wordlist behavior for words without short definitions"
It seems that if a word has a full definition but no morphological data, it gets cached a little differently in the wordlist than words without any morphological or definition data.

e.g lookup 'Pindarus' which doesn't have morphological results or short definitions but does have a full definition. When you access this item then from the wordlist, it doesn't result in any new queries to retrieve t

[2020-06-04 12:58] balmas commented on #382
Assigning this to @irina060981 to investigate.

What I think should happen is the following:

1) Existing words in the wordlist (i.e. those that were added with the prior release of the code) should only get date stamps in the following circumstances
a) they are looked up again (from either the page or the wordlist)
b) their important status is changed

2) Words added to the wordlist with this rel

[2020-06-04 12:59] balmas commented on #382
@monzug actually can you confirm how what you are seeing differs from that?

[2020-06-04 13:01] balmas commented on #385
e.g. car -> carle, cart, Carmo are still in autocomplete

I'm not sure we can do anything about this for non-latin words with characters that are valid latin characters.  I will report to Logeion that the language filter on their end isn't working. On our end, all we can really do is filter out the greek versus the latin by checking the unicode chars

[2020-06-04 13:09] balmas commented on #392
ahhh, so now I think you might have uncovered why we left the hyphen out of the punctuation list.

We replace all punctuation with spaces, assuming it's not part of a word.  so e-o in a page will be looked up as "e" . We don't strip punctuation out of the lookup box entry at all.

In the future maybe we should be more intelligent about this, replacing some punctuation with spaces, others stripping

[2020-06-04 13:14] monzug commented on #361
Mouse movement is not checked by default. switching from double clicking to mouse movement works fine.
Alpheios Reading Tools 3.1.0 build qa.20200602407
Alpheios Components 3.3.0-qa.20200602383

[2020-06-04 13:31] monzug commented on #309
YES! mouse movement is now used in Features and in Advanced tab.
as per mobile, is there anything that can be done to improve the view of the advanced tab in iPhone 8 and iPhone xr?  in iPhone 11 they are all aligned
![IMG_4547 (1)](https://user-images.githubusercontent.com/41396793/83763013-34ae9680-a646-11ea-9d69-514faf239581.PNG)

[2020-06-04 13:38] monzug commented on #385
so, I haven't tested this! if it has been implemented, I need to check it

[2020-06-04 13:50] monzug commented on #382
yes, when I limit to most recent  and I have added only 4 words to wordlist
in all day for the user (the limit is to 25 words),  I get 25 words with
date stamp updated with the TODAY date if wordlist is long. maybe this will
be automatically fixed by this fix.
also, how are these extra words picked from existing wordlist? it looks
like it's alphabetical order but it should be most recent?

On Thu,

[2020-06-04 13:51] monzug commented on #353
well, I found several words behaving like Pindarus. Obviously, I didn't
make a list of them...

On Thu, Jun 4, 2020 at 8:51 AM Bridget Almas <notifications@github.com>
wrote:

[2020-06-04 13:56] balmas commented on #353
That's now issue #418

[2020-06-04 14:00] monzug commented on #392
I don't know. I have been stuck thinking for a good answer but I haven't come up with one. sorry. maybe reverse this fix?

[2020-06-04 14:07] kirlat commented on #402
A fix has been merged into master.

[2020-06-04 14:08] kirlat commented on #417
A fix is in the master now.

[2020-06-04 14:08] monzug commented on #392
in the https://alpheios-misc-dev.s3.us-east-2.amazonaws.com/treebank-test-page/index.html,  we have  μὲν—οὐ  with the hyphen  in the treebank too.  what's the best solution for this word?

[2020-06-04 14:17] monzug commented on #234
compare neque in release vs test env, both ne and que are highlighted in test env.

[2020-06-04 14:30] balmas commented on #392
There it's an em-dash (unicode 2014). I'm not really sure what it's meant to represent.

I am going to reverse the inclusion of the hyphen in the punctuation lists I guess.

[2020-06-04 14:47] balmas commented on #385
it might be tough to test -- the Logeion folks tell me they just fixed the language filter...

[2020-06-04 14:49] balmas commented on #382
@irina060981 can you investigate this one?

[2020-06-04 14:50] balmas commented on #309
@irina060981 can you look at the formatting on mobile?

[2020-06-04 14:54] monzug commented on #385
both examples above (male and mou) didn't return any greek or latin words in autocomplete

[2020-06-04 14:56] monzug commented on #146
I verified this one because I was not able to find any words not disambiguated

[2020-06-04 14:57] balmas commented on #385
? I don't understand. It works for me

[2020-06-04 15:00] monzug commented on #385
sorry, I thought I made it clear but apparently not: male does not return any greek words (only latin or similar), mou returned only greek words

[2020-06-04 15:14] balmas commented on #385
ok great. sorry I missed the verified tag.

[2020-06-04 15:20] monzug opened #420 "Can we make autocomplete configurable?"
autocomplete generates 10 words. Can we make it configurable by user?

[2020-06-04 16:37] #417 closed

[2020-06-04 17:02] balmas commented on #414
Hmm, yes I see what you mean about the scrolling.  This is reproducible on the desktop too.

@kirlat this isn't really in the Alpheios core code I don't think - but in the Arethusa application, but I'm wondering if you can advise me what I need to do there to fix it.

You can reproduce by loading the tree for the word animus at https://texts-test.alpheios.net/text/urn:cts:latinLit:phi0959.phi006.a

[2020-06-04 17:21] kirlat commented on #414
What's interesting is that when I open a tree, in both Chrome and FF, it is displayed enlarged:
![image](https://user-images.githubusercontent.com/18631055/83789875-60626880-a6a8-11ea-91d2-d4994c740185.png)
It is shown as if the "perfect width" display option is on by default. It applies to all words from the same sentence clause: `In nova fert animus mutatas dicere formas corpora`. It is not surp

[2020-06-04 17:25] balmas commented on #414
yeah I noticed this too. The refreshView normally tries to reset the tree to the "perfect width" but it doesn't seem to be working right for this sentence for some reason.

[2020-06-04 17:37] kirlat commented on #414
I've noticed that when we drag the tree with the mouse, its `transform: translate` positions are changing:
![image](https://user-images.githubusercontent.com/18631055/83791292-9bfe3200-a6aa-11ea-8f81-1f486012678e.png)
I don't know how is this happening but probably there is some JS somewhere that tracks mouse moves and adjusts CSS rules for the SVG element.

The solution would be, I think, to adju

[2020-06-04 17:43] balmas commented on #414
ok, thank you. I'll move this to the Arethusa repo. I don't think it will make the release, but I will look into it post-release.

[2020-06-04 17:47] #402 closed

[2020-06-04 17:48] #392 closed

[2020-06-04 17:54] balmas opened #422 "cannot select same word twice in a row with Long Tap on Mobile"
This appears to be a new problem with this release -- I can't reproduce it at texts.alpheios.net, but can reliably at texts-test.alpheios.net

Steps to reproduce:

https://texts-test.alpheios.net/text/urn:cts:latinLit:phi0959.phi001.perseus-lat2/passage/1.ep.1-1.ep.4

long tap on "modo"
see the popup appear
close the popup
long tap on "modo" again
no popup
long tap on another word
popup appears
lo

[2020-06-04 17:55] balmas commented on #383
I'm closing this one.

[2020-06-04 17:55] #383 closed

[2020-06-04 18:54] balmas commented on #399
I think I was just able to reproduce it once in your test document in Chrome on Windows, but cannot do it again.

[2020-06-04 20:24] balmas commented on #291
@monzug we can verify this one right?

[2020-06-04 20:26] balmas commented on #350
no warnings anymore in Alpheios Components 3.3.0-qa.20200602383

[2020-06-04 20:27] balmas commented on #353
can we verify this one @monzug ?

[2020-06-05 14:30] monzug commented on #226
I see 2nd and 3rd person so I am assuming it should work also for 1st

[2020-06-05 14:52] monzug opened #426 "treebank icon is available for lookup word that is not in the diagram"
while testing #166, I have noticed that if I enter a latin word in lookup (that is NOT in the diagram) such as caro, the pop-up will offer the diagram icon. when I click on it, it will generate the last seen diagram
to repro: in https://texts-test.alpheios.net/text/urn:cts:latinLit:phi0959.phi006.alpheios-text-lat1/passage/1.1-1.30
double click on mundi and look at the diagram. the close pop-up, g

[2020-06-05 14:55] balmas commented on #426
@kirlat is it possible we broke this with latest changes for #258 (for https://github.com/alpheios-project/alpheios-core/issues/258#issuecomment-634119573) ?

[2020-06-05 15:00] balmas commented on #392
Reverted in

Alpheios Reading Tools 3.3.0 build qa.20200605325
Alpheios Components 3.3.0-qa.20200605311

[2020-06-05 15:01] balmas commented on #402
Alpheios Reading Tools 3.3.0 build qa.20200605325
Alpheios Components 3.3.0-qa.20200605311

[2020-06-05 15:03] balmas commented on #417
Alpheios Reading Tools 3.3.0 build qa.20200605325
Alpheios Components 3.3.0-qa.20200605311

[2020-06-05 15:03] balmas commented on #404
Alpheios Reading Tools 3.3.0 build qa.20200605325
Alpheios Components 3.3.0-qa.20200605311

[2020-06-05 15:15] kirlat commented on #426
Will look into that

[2020-06-05 15:24] monzug commented on #166
@balmas, I have a question on this one: let's consider omnia just below mundi origo in https://texts-test.alpheios.net/text/urn:cts:latinLit:phi0959.phi006.alpheios-text-lat1/passage/1.1-1.30
1) omnia in treebanking
![omnia-in-diagram](https://user-images.githubusercontent.com/41396793/83893443-eff62e80-a71d-11ea-9424-8b93be44040f.JPG)
2) omnia in lookup
![omnia-lookup](https://user-images.githubu

[2020-06-05 15:36] monzug commented on #399
again, switching from google docs to latin library in FF. activate alpheios, the toolbar is frozen
Note that wordlist is also highlighted (and it shouln't). maybe bleeding from previous session? by reloading the page it works fine
![frozen-toolbar-in-latin-FF](https://user-images.githubusercontent.com/41396793/83895323-87f51780-a720-11ea-89c2-52c54f399ad6.JPG)

[2020-06-05 15:41] balmas commented on #399
hmm. @monzug are you usually logged into a use account when you experience this?

[2020-06-05 15:44] monzug commented on #288
all issues reported have been fixed, including the log in  to save your words message missing when mouse movement was checked.

[2020-06-05 15:45] monzug commented on #399
no, I am not logged in

On Fri, Jun 5, 2020 at 11:41 AM Bridget Almas <notifications@github.com>
wrote:

[2020-06-05 16:36] balmas commented on #399
Have you seen it anytime other than switching into/out of Google Docs?

[2020-06-05 16:41] kirlat commented on #426
Yes, that was it and then another. Submitted a fix.

[2020-06-05 16:42] monzug commented on #399
I am not sure. I have started paying attention after experiencing few
times.

On Fri, Jun 5, 2020 at 12:36 PM Bridget Almas <notifications@github.com>
wrote:

[2020-06-05 16:51] kirlat commented on #426
Code that solves this is in master now

[2020-06-06 14:11] balmas opened #428 "lemma translations aren't working"
I'm guessing this broke with the lexical query refactoring, but the request for the lemma translations is not occurring anymore.

[2020-06-08 11:35] #422 closed

[2020-06-08 11:36] #426 closed

[2020-06-08 11:42] balmas commented on #166
this is a good question. The reason is that when there is a lemma match between the parser and the treebank, we use the treebank to disambiguate the inflection, if we can, so that we can say to the user  it is THIS lemma and THIS case.   We still show the other lemmas because we want to say it could also be these other LEMMAS (and these inflections of these lemmas), but for the one the treebank sa

[2020-06-08 11:59] monzug commented on #166
I think we have been through this in the past... I take this item back
because I want to be sure to test all the combination.

On Mon, Jun 8, 2020 at 7:43 AM Bridget Almas <notifications@github.com>
wrote:

[2020-06-08 12:24] monzug opened #429 "Improve the alignment of morphology pop-up for present infinitive verbs"
lookup (or double click from https://www.thelatinlibrary.com/lucretius/lucretius2.shtml) videre.
see the morphology pop-up   - can we improve the alignment? this is also in the release.

![Screen Shot 2020-06-08 at 2 03 15 PM](https://user-images.githubusercontent.com/41396793/84030067-af074f80-a993-11ea-915f-36c6d85b7dfb.png)

[2020-06-08 12:57] monzug opened #430 "wordlist: current session icon added only for failed lookup"
While testing the limit to download with flashcard, I have noticed the following:
only for the failed lookup words, the current session icon is added to wordlist
see screenshot
![Screen Shot 2020-06-08 at 2 46 51 PM](https://user-images.githubusercontent.com/41396793/84031998-f0e5c500-a996-11ea-9bbd-c8335649ec78.png)

to repro:
limit to 8 the number of words for flashcard export in Options
go to l

[2020-06-08 13:29] balmas commented on #430
sounds like an oversight in the event handling. Assigning to @irina060981

[2020-06-08 13:30] balmas commented on #429
@kirlat can you take a look at this?

[2020-06-08 13:50] kirlat commented on #429
Sure, I will!

[2020-06-08 13:55] monzug commented on #399
again a frozen toolbar in FF on MAC. installed the new build then activate alpheios on loeb classics and got the frozen toolbar after expanding it. by reloading and activate/deactivate alpheios, I realized that the page language is chinese and mouse move is checked. so maybe this needs to be investigated.

[2020-06-08 14:00] monzug opened #432 "Super minor: loeb classics button has wrong background"
FF on MAC
see screenshot
![Screen Shot 2020-06-08 at 3 57 06 PM](https://user-images.githubusercontent.com/41396793/84038986-e0d2e300-a9a0-11ea-9ad5-1c7995bdb8a2.png)

[2020-06-08 14:29] kirlat commented on #429
Do I understand correctly that here we need to shift `3rd person plur.` to the left so that it will be below the `2nd person sing.`?

[2020-06-08 14:39] balmas commented on #429
yes I believe that's the request, correct @monzug ?

[2020-06-08 15:00] monzug commented on #429
how about this:
pres. infin. act
2nd person sing. pres. ind. pass
2nd person sing. pres. imp. pass
3rd person plur. perf. ind. act

see also amare (or vivere) for similar pop-up

[2020-06-08 15:08] monzug commented on #404
I was checking the log and got some error messages on fonts.gstatic.com in safari,  see screenshot
![Screen Shot 2020-06-08 at 5 04 08 PM](https://user-images.githubusercontent.com/41396793/84046343-42e41600-a9aa-11ea-9007-83776abf6e80.png)

I was not able to reproduce the character issue in wordlist. sometimes I see that the character is loading and then it displayed correctly, so the fix is veri

[2020-06-08 15:49] kirlat commented on #429
From technical standpoint, what @monzug suggest is doable. Moving items to the right to align them vertically (one below the other) is much more complex. We have several nested loops there, and we need to combine it with special placement of special items on special occasions. We probably would need to take into consideration language and other lemma attributes. That could brake too easily with so

[2020-06-08 15:52] balmas commented on #429
I don't want to go into the guts of that code right now. So if there is a simple low-risk way to make it look better, I would be okay with that, but nothing risky.

[2020-06-08 15:53] monzug commented on #417
I knew Harry wouldn't like it! fix in latest build  Alpheios Reading Tools 3.3.0 build qa.20200605325
Alpheios Components 3.3.0-qa.20200605311
tested in Chrome, FF and Safari

[2020-06-08 15:57] balmas commented on #399
I tried reproducing on FF on Mac and cannot :-(

@monzug I  am a little lost on the different combinations of where this is reproducible for you. If it is only on Mac, I am tested to ask you to upgrade your OS. High Sierra is at least 2, maybe now 3, releases below the latest Mac OS.  But if it's happening on Windows too, then that is not likely to be relevant.

[2020-06-08 15:57] balmas opened #434 "problem loading fonts in Safari"
I was checking the log and got some error messages on fonts.gstatic.com in safari,  see screenshot
![Screen Shot 2020-06-08 at 5 04 08 PM](https://user-images.githubusercontent.com/41396793/84046343-42e41600-a9aa-11ea-9007-83776abf6e80.png)

I was not able to reproduce the character issue in wordlist. sometimes I see that the character is loading and then it displayed correctly, so the fix is veri

[2020-06-08 15:58] balmas commented on #434
@kirlat can you double check this? I'm not sure if there is a problem with our font url or if Safari doesn't support google fonts, or ...?

[2020-06-08 16:00] monzug opened #435 "Safari build, icons are misplaced on first pop-up"
I saw this issue twice today. First lookup after installation or after a long time of inactivity in Safari,
the related morphology pop-up is missing all the icons, actually they are misplaced as they moved  in the middle of the pop-up. Lookup an other word and all goes back to normal.

![Screen Shot 2020-06-08 at 5 51 54 PM](https://user-images.githubusercontent.com/41396793/84053089-bb020a00-a9b1

[2020-06-08 16:02] monzug commented on #429
agree. it has been there for ever

On Mon, Jun 8, 2020 at 5:52 PM Bridget Almas <notifications@github.com>
wrote:

[2020-06-08 16:04] monzug commented on #399
nope, only on Mac. what should I upgrade to? I do always upgrade when
prompt to.

On Mon, Jun 8, 2020 at 5:57 PM Bridget Almas <notifications@github.com>
wrote:

[2020-06-08 16:05] kirlat commented on #432
A fix has been merged to master.

[2020-06-08 16:05] kirlat commented on #428
A fix is in master now

[2020-06-08 16:59] kirlat commented on #434
Looking at that now

[2020-06-08 17:02] balmas commented on #399
Catalina is the latest version. Mojave is the one in between HIgh Sierra and Catalina. Kirill and Irina and I are all on Catalina.

[2020-06-08 18:24] monzug commented on #399
I am on Catalina too.

On Mon, Jun 8, 2020 at 7:02 PM Bridget Almas <notifications@github.com>
wrote:

[2020-06-08 19:34] balmas commented on #399
oh :-( I thought you were still on High Sierra.

[2020-06-08 19:46] monzug commented on #399
I mean I just installed it tonite

On Mon, Jun 8, 2020 at 9:35 PM Bridget Almas <notifications@github.com>
wrote:

[2020-06-08 20:13] balmas commented on #399
oh. ok!

[2020-06-09 02:58] irina060981 commented on #382
If to be honest I couldn't reproduce it with non-testuser:
I logged with my account:

![image](https://user-images.githubusercontent.com/12377640/84098776-77f47500-aa4b-11ea-9f60-6a52cc6ad9a5.png)

I have a got a long word list created 06/01
I downloaded with flashcard check without filtering and it did lexical request

![image](https://user-images.githubusercontent.com/12377640/84098849-a2dec900-

[2020-06-09 03:15] irina060981 commented on #382
But I found two new problems (and this way I could imagine that we have different builds with Monica :) )

1. now LexicalQuery for wordlist is done for each flashcard download
2. if check filter for flashcard download - it downloads an empty file

will investigate

[2020-06-09 03:24] irina060981 commented on #382
And another problem -
when I reload extension and switched to the working tab with previously activated and reload the page
  - extension was loaded with my previously used account (from cookies I believe)
  - failed with error - something like Auth couldn't verify your account
  - I have reloaded, re-login (without retyping the password, I believe again from cookies)
    and finally I opened my w

[2020-06-09 10:15] irina060981 commented on #382
I have found the problem:
    we didn't create a homonym after uploading fom remote
    because of inconsistency in the userDataManager code
    I don't know why this bug appeared

but I create a fix for that

[2020-06-09 10:48] irina060981 commented on #430
I couldn't reproduce it either
when I double click  on the word that is already exists inside wordlist - it gets currentSession icon and frequency is updated (and it doesn't depend on if it has lexical query result)

![image](https://user-images.githubusercontent.com/12377640/84138808-418e1880-aa92-11ea-9b8b-b562fa6cd2fb.png)

if I would clear local IndexDB data, reload the page (in this case word

[2020-06-09 10:49] irina060981 commented on #430
@balmas , could you reproduce it?
by the way, I checked with last changes from https://github.com/alpheios-project/alpheios-core/pull/436
but I don't think that it has dependings

[2020-06-09 11:00] irina060981 commented on #309
I suggest to reduce the font-size this way

![image](https://user-images.githubusercontent.com/12377640/84140022-481d8f80-aa94-11ea-89ba-831fcbafa1f1.png)

[2020-06-09 11:26] balmas commented on #382
I can look to see if there is anything useful in the logs but I am dubious.  Just a question -- are you using the prod or dev server? One thing I realized with the dev server setup when Monica was testing was that the env file had to have the audience changed as well as the urls.  So what was happening for her was that the requests to store the lookups to the remote db were just quietly failing.

[2020-06-09 11:32] irina060981 commented on #382
I am not sure - I think it is a production
[code]

I use it when I want to use my google accounts

[2020-06-09 11:33] irina060981 commented on #309
merged and closed

[2020-06-09 12:31] balmas commented on #382
hmm ok. that's the production environment.  I think it might be helpful in testing if we had switch which caused errors saving wordlist updates to the server to result in UI notifications so that we don't overlook them. We purposely don't inform the user of them but perhaps that is a bad decision too.

[2020-06-09 12:32] #404 closed

[2020-06-09 12:34] balmas commented on #429
moving out of the release. Should be addressed together with refactoring of grouping needed for #101 and other similar items.

[2020-06-09 12:35] #432 closed

[2020-06-09 12:41] monzug commented on #143
fixed in Alpheios Embedded Library 3.1.6-qa.20200527420
Alpheios Components 3.3.0-qa.20200605311

![Screen Shot 2020-06-09 at 2 33 44 PM](https://user-images.githubusercontent.com/41396793/84148467-5604ed80-aa5f-11ea-896c-e03b3022981d.png)

[2020-06-09 12:50] monzug commented on #392
reverted and tested in Safari App Extension 3.3.0 build qa.20200605325
Alpheios Components 3.3.0-qa.20200605311

![Screen Shot 2020-06-09 at 2 49 12 PM](https://user-images.githubusercontent.com/41396793/84149266-78e3d180-aa60-11ea-870d-256ebbdd767b.png)

[2020-06-09 13:13] monzug commented on #402
tested in Chrome, build  Alpheios Reading Tools 3.3.0 build qa.20200605325
Alpheios Components 3.3.0-qa.20200605311
lookup a greek word and open the related inflection table. console is very different than the one reported above. see screenshot
![console-log](https://user-images.githubusercontent.com/41396793/84151456-67cf9c00-aa31-11ea-8fc7-08f00cb44fe0.JPG)

[2020-06-09 14:26] monzug commented on #166
I have tested few combinations such as σύμβολον (I believe scenario 3), then πόντῳ  (HomonymA = Homonym B), then φθίνωσιν, reported above, where the treebank data is the ONLY data.
two questions:
1) in https://texts-test.alpheios.net/text/urn:cts:greekLit:tlg0085.tlg005.alpheios-text-grc1/passage/1-30, line 7 - τε  does not have the disambiguated icon nor the treebank icon, why? it should be like

[2020-06-09 14:30] monzug opened #438 "Error when clicking on Packon from pop-up"
If I click on packon from morphology pop-up ( see word quemque in https://texts-test.alpheios.net/text/urn:cts:latinLit:phi0620.phi001.alpheios-text-lat1/passage/1.1  line 35)
on Safari, I get an error (see screenshot) while in Chrome/PC it keeps loading the empty page (see screenshot with the console log)

![Screen Shot 2020-06-09 at 4 23 01 PM](https://user-images.githubusercontent.com/41396793/

[2020-06-09 17:16] kirlat commented on #435
I've merged updates that, hopefully, would eliminate this.

[2020-06-09 17:16] kirlat commented on #434
A fix has been merged to master.

[2020-06-09 17:27] balmas commented on #438
nice catch! This was happening because a pofs entry for packon is not found in the index and the default in that case is to use the entry for alph-general-index, but that was not right in the index file. It was empty and instead needed to be set to index.htm

This is fixed in the live allen-greenough-index file now. You'll probably need to clear your cache to get the updated file.

[2020-06-09 17:27] #438 closed

[2020-06-09 17:57] kirlat commented on #397
We could probably mount our Vue components into Shadow DOM in production environment, but do mount them into regular DOM for testing. This way we might have the best of both. protecting our components from styles leaking out of host pages in production and having them testable with the Selenium.

[2020-06-09 18:13] balmas commented on #166
The reason for this is that the treebank does not define at least a lemma and a part of speech for this word, so we cannot disamibugate it.  (But you did actually find a bug in the code here, an error condition wasn't being handled properly. It doesn't change the output, but I will fix the bug.)

[2020-06-09 18:33] balmas commented on #166
This one is more difficult. The treebank identifies the lemma for this as "quisque1" but the whitaker  parser identifies it as "qu" so we aren't able to match the lemmas. We don't handle the whitaker output very well for this either, it actually returns both a "packon" and a "tackon", and we ignore the tackon piece entirely because it doesn't have a hdwd:

[code]

We get a weird combination of dat

[2020-06-09 18:55] monzug commented on #166
I know I spent sometimes to figure out what was wrong with quemque!

On Tue, Jun 9, 2020 at 8:33 PM Bridget Almas <notifications@github.com>
wrote:

[2020-06-09 19:06] balmas commented on #432
Alpheios Reading Tools 3.3.0 build qa.20200609446
Alpheios Components 3.3.0-qa.20200609405

[2020-06-09 19:06] balmas commented on #309
Alpheios Reading Tools 3.3.0 build qa.20200609446
Alpheios Components 3.3.0-qa.20200609405

[2020-06-09 19:06] balmas commented on #426
Alpheios Reading Tools 3.3.0 build qa.20200609446
Alpheios Components 3.3.0-qa.20200609405

[2020-06-09 19:07] balmas commented on #422
Alpheios Reading Tools 3.3.0 build qa.20200609446
Alpheios Components 3.3.0-qa.20200609405

[2020-06-09 19:07] #428 closed

[2020-06-09 19:07] balmas commented on #428
Alpheios Reading Tools 3.3.0 build qa.20200609446
Alpheios Components 3.3.0-qa.20200609405

[2020-06-09 19:08] balmas commented on #382
Alpheios Reading Tools 3.3.0 build qa.20200609446
Alpheios Components 3.3.0-qa.20200609405

I *think* all of the issues with the updatedDate and frequency are fixed now.
I could not reproduce the issue with the missing items in the wordlist.

[2020-06-09 19:08] #382 closed

[2020-06-09 19:08] balmas commented on #435
Alpheios Reading Tools 3.3.0 build qa.20200609446
Alpheios Components 3.3.0-qa.20200609405

[2020-06-09 19:09] #435 closed

[2020-06-09 19:09] balmas commented on #434
Alpheios Reading Tools 3.3.0 build qa.20200609446
Alpheios Components 3.3.0-qa.20200609405

[2020-06-09 19:09] #434 closed

[2020-06-09 19:10] balmas commented on #430
I am hoping this is fixed with the latest changes in #441 for #166

[2020-06-09 19:41] balmas commented on #397
hmm. I would be a little worried then that the tests don't reflect the actual production environment and would not catch issues that might be there.

[2020-06-10 00:57] irina060981 commented on #382
I completely agree, good error descriptions could help to work with bugs.

[2020-06-10 13:59] balmas opened #442 "words from current session missing in limit by most recent"
Chrome on PC. login as google user monzug again
1) add some new words to wordlist (Alpibus, venturum, copiis), go to wordlist and limit by this session. see screenshot (all kosher here)

![session-limit](https://user-images.githubusercontent.com/41396793/84275709-5f459700-aaff-11ea-9382-1332487e2722.JPG)

2) then limit by most recent. note that the 3 words are missing from the most recent list in

[2020-06-10 14:03] balmas opened #443 "currentSession, frequency and updatedDate not being updated when lookup is from wordlist"
Double click on a word on the wordlist, view popup, and note that currentSession, frequency and updatedDate have not channged.

_Originally posted by @monzug in https://github.com/alpheios-project/alpheios-core/issues/430#issuecomment-642025990_

[2020-06-10 15:12] monzug opened #444 "wordlist: I can add a failed word to wordlist but it does not show up in limit to most recent"
in http://www.thelatinlibrary.com/petronius1.html, I double clicked on Thucydidis and got a lexical query produced no results. the word is added to the wordlist. see current session screenshot

[2020-06-10 15:23] balmas opened #445 "wordlist sorting problems in Safari extension"
When you have a list with a mixture of words with and without updatedDate, the sort by most recent in Safari does not work as expected:

See also
https://github.com/alpheios-project/alpheios-core/issues/382#issuecomment-642049027

[2020-06-10 18:21] balmas opened #446 "make it easier to debug wordlist problems"
not for this release, but in testing the wordlist it's clear that we need to have a debug mode that makes it easier to see what is going on. Some of the things that have come up:

1) we fail quietly when adding items to the wordlist if the remote service is unavailable.  When you go back to test later, if you since clear your cache, it looks like things are suddenly missing, but they were never ad

[2020-06-11 11:35] #442 closed

[2020-06-11 11:35] #443 closed

[2020-06-11 12:24] balmas commented on #443
Alpheios Reading Tools 3.3.0 build qa.20200611246
Alpheios Components 3.3.0-qa.20200611238

[2020-06-11 12:24] balmas commented on #430
Alpheios Reading Tools 3.3.0 build qa.20200611246
Alpheios Components 3.3.0-qa.20200611238

[2020-06-11 12:25] balmas commented on #442
Alpheios Reading Tools 3.3.0 build qa.20200611246
Alpheios Components 3.3.0-qa.20200611238

[2020-06-11 12:25] balmas commented on #382
please retest in
Alpheios Reading Tools 3.3.0 build qa.20200611246
Alpheios Components 3.3.0-qa.20200611238

[2020-06-11 12:26] balmas commented on #444
Alpheios Reading Tools 3.3.0 build qa.20200611246
Alpheios Components 3.3.0-qa.20200611238

[2020-06-11 12:26] #444 closed

[2020-06-11 12:26] #430 closed

[2020-06-11 12:27] #445 closed

[2020-06-11 12:27] balmas commented on #445
Alpheios Reading Tools 3.3.0 build qa.20200611246
Alpheios Components 3.3.0-qa.20200611238

[2020-06-11 12:29] monzug commented on #382
that's what I was expecting but it is not behaving as such. will try now with new build. see more screenshots with limit to most recent
![most-recent-FF (2)](https://user-images.githubusercontent.com/41396793/84385501-b14cf200-abbd-11ea-93c5-9236c7495b41.JPG)
![most-recent-FF](https://user-images.githubusercontent.com/41396793/84385505-b27e1f00-abbd-11ea-9972-65ae018721de.JPG)

[2020-06-11 12:55] monzug opened #448 "FF on PC: can't check downloading with filtering and for flashcard"
tested again on latest build  Alpheios Reading Tools 3.3.0 build qa.20200611246
Alpheios Components 3.3.0-qa.20200611238

Install latest build. login as existing user, double click on a few words from latin library. Check limit for current session in wordlist, then apply the limit to most recent. click on the download icon. The checkboxes for filtering and for flashcard cannot be checked. by reloa

[2020-06-11 12:56] balmas commented on #448
@kirlat can you take a look at this one? Thank you!

[2020-06-11 12:58] kirlat commented on #448
Sure, will work on that

[2020-06-11 13:03] monzug commented on #426
Fixed. Thanks

[2020-06-11 13:12] monzug commented on #442
both issues have been fixed in latest build.
tested in Chrome
![wordlist-session](https://user-images.githubusercontent.com/41396793/84389199-b319b400-abc3-11ea-8a55-0a39cb9688cd.JPG)

[2020-06-11 13:17] monzug opened #449 "Wordlist after log out does not clear entries"
Tested in Chrome on PC in build Alpheios Reading Tools 3.3.0 build qa.20200611246
Alpheios Components 3.3.0-qa.20200611238

log out from user monzug. the wordlist icon is still highlighted and there are some words saved in memory from previous sessions and previous days (before installing latest build and clearing my cache). by reloading the page, the icon goes to inactive state.
see screenshot
![

[2020-06-11 13:20] balmas commented on #449
@kirlat maybe we lost a call to init the list upon logout? Or an error is interfering with it being executed? It should be handed by this watch on the `state.auth.isAuthenticated` state variable:

[code]

[2020-06-11 13:37] monzug commented on #309
Looks good now, except when going from Advanced to Resources, the Resources tab is shift to the left. UI, Features and Advanced are displayed correctly.

[2020-06-11 13:41] balmas commented on #309
I'm guessing this should be an easy css change...

[2020-06-11 13:44] kirlat commented on #448
I'm trying to reproduce it, but I can't do it so far. Maybe I'm doing anything wrong. My browser is FF 78 beta 5.

1. I opened a page from The Latin Library (https://www.thelatinlibrary.com/lucan/lucan2.shtml).
2. I activated a webextension on the page.
3. I logged in.
4. I looked up for several Latin words
5. I set a limit to "most recent" and then set a number of words to 5.
6. I pressed a "down

[2020-06-11 13:51] monzug commented on #448
yes. it does happen only after installing new build. I have seen it several
times in FF 76. I just installed FF 77 and it's not longer reproducible.
Thanks for checking.

On Thu, Jun 11, 2020 at 3:44 PM kirlat <notifications@github.com> wrote:

[2020-06-11 13:54] monzug commented on #309
Unfortunately I am not able to upload the jpg in gitthug

On Thu, Jun 11, 2020 at 3:41 PM Bridget Almas <notifications@github.com>
wrote:

[2020-06-11 13:56] kirlat commented on #309
I was able to reproduce the issue and is on my way to fix it

[2020-06-11 14:25] kirlat commented on #449
@monzug, is this happening with webextension on The Latin Library site? When you press the "Log out" button, do you see an Auth tab changing its state accordingly (i.e. the user name disappears and the button changes to the "Log in")? Do you see any error messages in the browser's console after the "Log out" button is pressed?

I do observe an error while trying to log out in the embed lib with th

[2020-06-11 14:34] balmas commented on #448
so sounds like we should note FF 76 as an unsupported browser.

@irina060981 can you make a note of this for the selenium-tests?

[2020-06-11 14:34] #448 closed

[2020-06-11 14:37] monzug commented on #449
yes  I see state changing from log in to log out. I haven't checked the console log. let me see if I can see any error.

[2020-06-11 14:52] monzug commented on #444
can't reproduce in latest build.
![compensarium](https://user-images.githubusercontent.com/41396793/84401793-adc36600-abd1-11ea-8f32-bc25d54e4852.JPG)

[2020-06-11 14:55] kirlat commented on #449
@monzug, one more question: are you using a test configuration to log in (i.e. it logs you in without asking for the username and password) or do you use a production configuration with "real" accounts?

[2020-06-11 14:57] monzug commented on #449
I can't reproduce the log out with wordlist anymore. I guess it's one of those oddities with wordlist. @kirlat, do you want to keep this issue to fix the error that you described above?

[2020-06-11 14:59] monzug commented on #449
sign in with google with saved psw

On Thu, Jun 11, 2020 at 10:55 AM kirlat <notifications@github.com> wrote:

[2020-06-11 15:02] monzug commented on #448
I have been using FF 76 till this aft and it does work except in this case
(and maybe few others that I cannot think of at the moment). maybe we can
just say that it's not fully supported?

On Thu, Jun 11, 2020 at 10:34 AM Bridget Almas <notifications@github.com>
wrote:

[2020-06-11 15:07] monzug commented on #422
I can't repro the issue described above on my iPhone xr.

[2020-06-11 15:25] balmas commented on #449
I don't like that kind of problem :-(

[2020-06-11 15:28] monzug commented on #382
happy to say that the above scenarios are not longer reproducible in build  Alpheios Reading Tools 3.3.0 build qa.20200611246
Alpheios Components 3.3.0-qa.20200611238
tested in FF/PC

[2020-06-11 16:02] kirlat commented on #449
I tried to logged in with my Google account but I was blocked, even after entering a password, a secondary email and a verification code send by SMS. Google, I understand you less and less now!
I was able to log int with Apple ID and I did not experience any issues with the logout.

I've submitted a fix for an issue with logging out as a test user that I discovered during testing.

[2020-06-11 16:07] monzug commented on #430
not longer reproducible in  Alpheios Reading Tools 3.3.0 build qa.20200611246
Alpheios Components 3.3.0-qa.20200611238
dextris gets the current session + most oftern # updated
![destris-florus](https://user-images.githubusercontent.com/41396793/84410662-0dbf0a00-abdc-11ea-8095-b9be1276b482.JPG)

[2020-06-11 16:10] monzug commented on #443
see dextris and Florus both been updated from wordlist, github #430
![destris-florus](https://user-images.githubusercontent.com/41396793/84411825-6b535680-abdc-11ea-9867-686ff4037a0c.JPG)

[2020-06-11 16:30] kirlat commented on #449
A fix for the issue I've found has been merged to master.

[2020-06-11 16:31] kirlat commented on #309
I fix for the Resources tab width has been merged to master.

[2020-06-11 18:55] balmas commented on #448
actually I notice that 77 already looks to be  our minimum supported version per the selenium tests (alpheios-project/selenium-tests#21)

[2020-06-12 10:42] balmas commented on #309
Alpheios Reading Tools 3.3.0 build qa.20200612198
Alpheios Components 3.3.0-qa.20200611509

[2020-06-12 10:42] #309 closed

[2020-06-12 10:43] balmas commented on #449
Alpheios Reading Tools 3.3.0 build qa.20200612198
Alpheios Components 3.3.0-qa.20200611509

[2020-06-12 10:50] irina060981 commented on #448
I need to check, it is very strange if we lost support of all Firefox versions besides the last

[2020-06-12 11:10] irina060981 commented on #448
I have made a manual test on

Windows 10 Firefox 76

it is realy easy to do using Browserstack
Click Live (to select manual mode)
Select OS and Browser version

and I login in with test user
looked for several words
and then download with flashscard option

![image](https://user-images.githubusercontent.com/12377640/84496706-c7a79a80-acf0-11ea-9197-07b0019a5142.png)

May be there is a specific rea

[2020-06-12 12:19] monzug commented on #404
I could not see those error messages in the log

[2020-06-12 12:20] monzug commented on #404
I could not see those error messages in the log

[2020-06-12 12:21] monzug commented on #434
I did not see those error messages in the log anymore

[2020-06-12 12:27] monzug opened #453 "header shrink in pop-up for syriac site"
tested in Safari
Related to #417
morphology pop-up for syriac words such as   ܡܘܗܒܬܐ
or for lookup word such as caro in the sedra site http://sedra.bethmardutho.org/library
have the header shrink after generating the pop-up
see screenshots
![Screen Shot 2020-06-12 at 2 27 02 PM](https://user-images.githubusercontent.com/41396793/84502551-d5d9c480-acb8-11ea-884c-6890a64cab0b.png)
![Screen Shot 2020

[2020-06-12 12:45] monzug commented on #453
actually, I just saw it on the texts site too. It could be related to the size of the pop-up
![Screen Shot 2020-06-12 at 2 42 28 PM](https://user-images.githubusercontent.com/41396793/84503912-58638380-acbb-11ea-98e9-a1a61c55e342.png)

[2020-06-12 12:48] monzug commented on #445
sorting looks good in latest safari build Safari App Extension 3.3.0 build qa.20200611246
Alpheios Components 3.3.0-qa.20200611238

[2020-06-12 12:54] monzug commented on #309
looks good. Thanks

[2020-06-12 13:02] monzug opened #454 "nec in treebank is more than a conjunction"
see screenshots
nec in recent build
![Screen Shot 2020-06-12 at 2 58 32 PM](https://user-images.githubusercontent.com/41396793/84505170-8c3fa880-acbd-11ea-9933-6f5d32ded2ae.png)

nec in release diagram
![Screen Shot 2020-06-12 at 2 59 56 PM](https://user-images.githubusercontent.com/41396793/84505193-9792d400-acbd-11ea-964d-c28037840a5a.png)

[2020-06-12 13:09] balmas commented on #453
@kirlat is this maybe related to the change you made for #417?

[2020-06-12 13:33] kirlat commented on #453
It might be, I will check

[2020-06-12 13:37] monzug commented on #428
tested lemma translations for all languages in https://texts-test.alpheios.net/text/urn:cts:latinLit:phi0959.phi006.alpheios-text-lat1/passage/1.1-1.30
and Chrome

[2020-06-12 14:17] monzug commented on #449
I haven't been able to reproduce the scenario above. when logged out, wordlist is not longer populated and the icon is not highlighted. Tested in Chrome and FF/PC.

[2020-06-12 14:23] monzug commented on #448
I don't know. it did happen occasionally and always unable to have a
reproducible scenario but I have seen it several times.

On Fri, Jun 12, 2020 at 1:10 PM Sklyarova Irina <notifications@github.com>
wrote:

[2020-06-12 15:46] kirlat commented on #453
A fix has been merged to master.

[2020-06-12 19:14] balmas commented on #453
Alpheios Reading Tools 3.3.0 build qa.20200612448
Alpheios Components 3.3.0-qa.20200612442

[2020-06-12 19:14] #453 closed

[2020-06-15 12:54] monzug opened #456 "Log out after timeout session"
I logged in today to my safari build Safari App Extension 3.3.0 build qa.20200611246
Alpheios Components 3.3.0-qa.20200611238. I was able to double click on a latin word (inexpiabilis, see screenshot), then check my wordlist and limit by current session with words saved from 6/12. I downloaded a wordlist with no limit applied. then I click on log out button but it didn't do anything and kept click

[2020-06-15 13:14] monzug commented on #453
still reproducible in latest build Alpheios Embedded Library 3.1.6-qa.20200527420
Alpheios Components 3.3.0-qa.20200612442 (sedra site and text env on Safari)
1) in text env, double click on ire
![Screen Shot 2020-06-15 at 3 11 48 PM](https://user-images.githubusercontent.com/41396793/84661473-b17d2280-af1a-11ea-86a2-564b6373f864.png)
2) in http://sedra.bethmardutho.org/library, double click on  ܪ

[2020-06-15 13:19] balmas commented on #456
This isn't too surprising to me, but I'll ask @kirlat to do a little investigation to see if there is anything that can be done about it.

[2020-06-15 13:22] monzug opened #457 "huge diagram in first sentence of Metamorphoses"
go to latin author Ovid in text env and select Metamorphoses. double click on mutatas (first sentence) and open the related diagram. the fonts are huge. see screenshot
![Screen Shot 2020-06-15 at 2 39 20 PM](https://user-images.githubusercontent.com/41396793/84662297-eccc2100-af1b-11ea-9d9b-985351ce3d72.png)

[2020-06-15 13:23] balmas commented on #453
I need to check to make sure the build actually included the new css...it's possible that only changes to css and no code didn't get picked up properly.

[2020-06-15 13:25] monzug commented on #456
we did a lot of testing on time out back in previous release, I
remembered waiting for 24 hours or longer, then you implemented a tool that
I could test time out after few secs and it did work fine after some
tuning. I was actually surprised to experience this.

On Mon, Jun 15, 2020 at 3:19 PM Bridget Almas <notifications@github.com>
wrote:

[2020-06-15 13:25] monzug commented on #453
could be

On Mon, Jun 15, 2020 at 3:23 PM Bridget Almas <notifications@github.com>
wrote:

[2020-06-15 13:37] balmas commented on #453
yes I think this is a build problem. Investigating..

[2020-06-15 13:42] kirlat commented on #453
I agree, I did a test on texts-test.alpheios.net and the word has a bottom margin only:
![image](https://user-images.githubusercontent.com/18631055/84664296-60c3f480-af2f-11ea-9fca-ae24f46eb914.png)

In an updated CSS it must have both top and bottom margins, along with other changes:
![image](https://user-images.githubusercontent.com/18631055/84664379-83560d80-af2f-11ea-8202-bc03609b1ae8.png)

[2020-06-15 13:43] balmas commented on #453
yeah it's my fault. It seems I didn't actually merge the master changes into qa before doing the build :-(

[2020-06-15 13:50] balmas commented on #456
@kirlat FYI for dev testing with a shorter timeout, use the environment settings from the protected-config/auth0/dev/env-safari-app-ext.js  -- the alpheios.net:dev-apis audience produces an access token that expires in 120 seconds.

[2020-06-15 13:52] kirlat commented on #456
Thanks, will use that one.

[2020-06-15 14:39] balmas commented on #453
Alpheios Reading Tools 3.3.0 build qa.20200615315
Alpheios Components 3.3.0-qa.20200615292

Ok, let's try this again :-)

[2020-06-15 14:46] kirlat commented on #456
I've tried to reproduce it but I can't so far. I've used a Safari test config with expiration of two minutes. I've looked up a word, opened a wordlist tab, and switched to the other app. After two minutes I switched back to Safari and instead of a wordlist I've seen an empty tab with the message telling me that a session has been expired. When I switched to the user account tab, the button that wa

[2020-06-15 14:50] balmas commented on #456
I am thinking that this is not so much an issue with the auth0 timeout behavior as it is the connection between the Safari app extension and the Safari App. From Monica's description, it sounds to me like maybe the app extension and the app stopped communicating about the state of the authentication.

[2020-06-15 14:51] balmas commented on #457
this is a problem with the Arethusa application and the way it calculates the "perfect width" of the diagram. This is a really narrow tree, and it seems the algorithm doesn't handle that very well. Moving to the Arethusa repo, it might not be easy to fix so I will not hold up the release for it.

[2020-06-15 15:11] kirlat commented on #456
If I do all described above but do not switch to the other app, I can experience a word list tab becoming empty after two minutes right before my eyes.

In the Auth module we set a timeout callback with JS that fires at the expiration time. Once a timeout event is triggered, we update UI to reflect the fact that a session has been expired. It's pretty simple and does not involve any communication

[2020-06-15 15:21] kirlat commented on #456
There is a "Stop plug-ins to save power" option in Safari (https://support.apple.com/en-gb/guide/safari/ibrw1075/mac) and I have it on. I'm not sure if it affects Safari App Extensions. In description it refers to websites mostly, not to App Extensions, but I think description is too generic to rely on it. What's interesting, it uses the term "freeze" that was used by us in some other issues.

@mo

[2020-06-15 15:21] balmas commented on #456
ok.  I will also try to reproduce on my end.

[2020-06-15 17:00] monzug commented on #453
there is still a small adjustment in pop-up but it's almost unnoticeable

[2020-06-15 17:06] monzug commented on #456
the "Stop plug-ins to save power" option is checked in my environment too

On Mon, Jun 15, 2020 at 5:21 PM Bridget Almas <notifications@github.com>
wrote:

[2020-06-15 18:16] monzug commented on #410
a dup of https://github.com/alpheios-project/alpheios-core/issues/49

[2020-06-16 12:12] kirlat opened #458 "Update intl-messageformat"
We're currently using an outdated version of `intl-messageformat` package, 2.x.x. Since then it has become a part of a [Format.js](https://formatjs.io/) multi-package repository. We should update our code to use the latest version of the library.

[2020-06-16 13:25] balmas commented on #456
I was actually able to reproduce this but in the following scenario which is somewhat of an edge case:

1) Logged in to the extension
2) Closed Safari
3) Launched a different version of the extension (a dev build)
4) tried looking up some words
5) noted that the requests to the user api service failed (I think because the access token was associated with the other build and was for the prod servic

[2020-06-16 13:27] monzug commented on #456
just saw that a new build was ready for Safari. let me finish testing
something on current safari build and then I will test on this one.

On Tue, Jun 16, 2020 at 3:25 PM Bridget Almas <notifications@github.com>
wrote:

[2020-06-16 14:00] monzug commented on #456
no I cannot reproduce the log out button issue. after timeout, the session
is over: no wordlist and user session has expired.

On Tue, Jun 16, 2020 at 3:27 PM Monica Zugan <monzug@gmail.com> wrote:

[2020-06-16 15:50] monzug commented on #449
I experienced a similar scenario today in Chrome on mac. logged out from the session and the wordlist does not clear.  see screenshot

[2020-06-16 16:40] balmas commented on #449
I was able to reproduce this in Chrome on Mac. Investigating.

[2020-06-16 16:46] balmas commented on #449
Hmm. I could only reproduce it once. Not so far again.

[2020-06-16 16:50] monzug commented on #449
me too, two more times. the interesting thing is that the wordlist is not
related to previous user wordlist or maybe only a part of it?

On Tue, Jun 16, 2020 at 6:41 PM Bridget Almas <notifications@github.com>
wrote:

[2020-06-16 17:05] monzug commented on #449
could it be that I have a huge wordlist that takes some times to load and
that when I am done with the testing and I log out, the wordlist actually
is still loading some section? that would explain the only syriac words in
wordlist...

On Tue, Jun 16, 2020 at 6:50 PM Monica Zugan <monzug@gmail.com> wrote:

[2020-06-16 17:07] balmas commented on #449
that is, in theory, possible.

[2020-06-16 17:08] balmas commented on #449
I think in any event this is probably not new with the release, so I'd like to postpone fixing it until the next one. If the above scenario is what is causing it, fixing #18 would be required to resolve it.

[2020-06-16 17:37] monzug commented on #449
totally agree

On Tue, Jun 16, 2020 at 7:08 PM Bridget Almas <notifications@github.com>
wrote:

[2020-06-17 08:54] kirlat commented on #458
It seems that Intl Message Format 8.x.x does not like attributes of HTML tags within messages. It now checks for something that does not match "plain" XML tags in the message and throws an error if anything is found.

Luckily, only two messages across all the ones that we use are affected:
[code]
@balmas, @irina060981: do we really need this `langCode` attribute there? What is it for? I can't see

[2020-06-17 08:56] kirlat commented on #458
FYI, there seems to be a feature of tag replacement available: https://formatjs.io/docs/intl-messageformat#rich-text-support

I don't know if we need it right now, but maybe there will be some use for it in the future.

[2020-06-17 09:20] kirlat commented on #458
Also, FYI, tags in messages has to be XHTML compatible. As a result, we cannot use some HTML5 tags such as `<br>`, it has to be `<br/>` instead. `<br>` would be considered as an unclosed tag.

[2020-06-17 11:38] balmas commented on #456
ok, I'm going to close this then ok @monzug ?

[2020-06-17 11:38] #456 closed

[2020-06-17 11:41] balmas commented on #458
This was added to support the language-specific fonts.  See #411

[2020-06-17 11:41] balmas commented on #458
it's a little weird that it requires XHTML. I thought that standard was largely obsolete now.

[2020-06-17 11:52] kirlat commented on #458
Thanks for the info, let mt check how we can keep it

[2020-06-17 12:01] monzug commented on #456
yes, please

On Wed, Jun 17, 2020 at 1:38 PM Bridget Almas <notifications@github.com>
wrote:

[2020-06-17 12:20] monzug opened #459 "toolbar with Alpheios icon off"
I believe the session timed out or computer went on sleepy mode, anyhow I found the toolbar hanging there with Alpheios icon off.
I could do a lookup, double click a word, open the wordlist, still the Alpheios icon is off. User is not logged in. Only by reloading the toolbar is gone.
Chrome on PC after several hours of inactivity
![session-time-out](https://user-images.githubusercontent.com/413967

[2020-06-17 12:30] balmas commented on #459
@kirlat can you spend a little time investigating this? I'm not sure I want to hold the release for it, but it would be good to know if we can find the cause.